{% extends 'oscar/dashboard/layout.html' %}

{% load render_table from django_tables2 %}
{% load dashboard_tags %}

{% block title %}
  Клиенты | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:index' %}">Главная</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Клиенты</li>
    </ol>
  </nav>
{% endblock %}

{% block header %}
  <div class="page-header">
    <h1>Клиенты</h1>
  </div>
{% endblock %}

{% block dashboard_content %}
  <div class="table-wrapper mb-4">
    <div class="table-header d-flex justify-space-between" data-target="#search-body" data-toggle="collapse" aria-controls="search-body" aria-expanded="false">
      <h3><i class="fas fa-filter"></i> Фильтры</h3>
      <i class="fa-solid fa-chevron-up" style="color: var(--primary);"></i>
      <i class="fa-solid fa-chevron-down" style="color: var(--primary);"></i>
    </div>
    <div class="card card-body bg-light collapse" id="search-body">
      <form method="get" class="form-inline fill-width justify-space-between align-items-end">
        <div class="d-flex form-row">
          {% include 'oscar/dashboard/partials/form_fields_inline.html' with form=form %}
        </div>
        {% if search_filters %}
          <div class="search-filter-list mt-3">
            <label class="mr-2">Фильтры:</label>
            {% for filter, param in search_filters %}
              <span class="badge badge-filter mb-2 mr-1">
                {{ filter }}
                <a class="delete-filter text-danger ml-1" href="{% delete_filter request param %}"><i class="fa-solid fa-xmark"></i></a>
              </span>
            {% endfor %}
          </div>
        {% endif %}
        <div class="btn-form d-flex my-2">
          <button class="btn btn-primary flex-fill" type="submit" name="search">
            <i class="fas fa-search"></i>
            <span class="ml-2">Поиск</span>
          </button>
          {% if search_filters %}
            <a href="{% url 'dashboard:customer-list' %}" class="btn btn-danger ml-2"><i class="fa-solid fa-trash"></i></a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
  {% block users_list %}
    {% if users.data %}
      <form id="user_list_form" method="post" class="mobile-table">
        {% csrf_token %}
        {% render_table users %}
      </form>
    {% else %}
      <table class="table table-striped table-bordered table-hover">
        <caption>{{ queryset_description }}</caption>
        <tr>
          <td>Клиенты не найдены</td>
        </tr>
      </table>
    {% endif %}
  {% endblock %}
{% endblock %}
