{% extends "oscar/dashboard/base.html" %}

{% load category_tags %}
{% load dashboard_tags %}
{% load svg_tags %}
{% load compress %}
{% load static %}

{% block styles %}
    {% compress css %}   
        <link rel="stylesheet" href="{% static "css/dashboard.css" %}" />
        <link rel="stylesheet" href="{% static "js/select2/select2.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/select2-bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "js/bootstrap4-datetimepicker/tempusdominus-bootstrap-4.min.css" %}" />
    {% endcompress %}
{% endblock %}

{% block title %}
    Панель управления | {{ block.super }}
{% endblock %}

{% block layout %}

    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-accounts">
            <div class="container fill-width">
                <button class="navbar-toggler navbar-toggler--mobile" type="button" data-id="navbar-toggler">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    {% endblock navbar %}

    <div class="dashboard-wrapper">
        <div class="navbar-menu">
            {% block dashboard_nav %}
                {% dashboard_navigation user as nav_items %}

                <div class="navbar-expand-lg navbar-dark navbar-primary flex-column flex-shrink-0 bg-light" data-id="navbar-primary">
                    <div class="navbar-header py-3 px-1">
                        {% comment %} <a class="navbar-brand" href="{{ homepage_url }}">
                            {% icon file_name='footer/logo' size=20 fill="#838383" %}
                        </a> {% endcomment %}
                        <button class="navbar-toggler p-0" data-id="navbar-toggler">
                            {% icon file_name='interface/arrow-home' size=30 stroke='#007bff'%}
                        </button>
                    </div>

                    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                        {% for item in nav_items %}
                        <li class="nav-item{% if request.path in item.paths %} current-tab{% endif %}">
                            {% if item.has_children %}
                                <button class="nav-link" data-target="#navbar_{{ forloop.counter }}"
                                    data-toggle="collapse" aria-controls="navbar_{{ forloop.counter }}" type="button"
                                    aria-expanded="{% if request.path in item.paths %}true{% else %}false{% endif %}"
                                >
                                    {% if item.icon %}<i class="{{ item.icon }} mr-2 mr-lg-0 mr-xl-2" style="width: 15px;"></i>{% endif %}
                                    <span class="item_text arrow-dropdown">{{ item.label }}</span>
                                </button>
                                <div class="dropdown-list collapse {% if request.path in item.paths %}show{% endif %}" id="navbar_{{ forloop.counter }}">
                                    {% for subitem in item.children %}
                                        <a class="dropdown-item{% if request.path == subitem.url %} active{% endif %}" href="{{ subitem.url }}">
                                            {% if subitem.icon %}<i class="{{ subitem.icon }}"></i>{% endif %}
                                            {{ subitem.label }}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <a class="nav-link{% if request.path == item.url %} active{% endif %}" href="{{ item.url }}">
                                    {% if item.icon %}<i class="{{ item.icon }} mr-2 mr-lg-0 mr-xl-2" style="width: 15px;"></i>{% endif %}
                                    <span class="item_text">{{ item.label }}</span>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>

                    <div class="dropdown border-top"> 
                        
                        <button role="button" class="nav-account d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="nav-account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="rounded-circle">{{ user.get_img }}</div>
                            <span class="ml-2">{{ user.get_full_name|default:request.user.get_full_name }}</span>
                        </button>

                        <ul class="dropdown-menu text-small shadow-sm" aria-labelledby="nav-account">
                            <li><a class="dropdown-item" href="#">Задачи: 0</a></li>
                            <li><a class="dropdown-item" href="{% url 'customer:summary' %}">Аккаунт</a></li>
                            <li><a class="dropdown-item" href="{{ homepage_url }}">Магазин</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'dashboard:logout' %}">Выйти</a></li>
                        </ul>
                    </div>
                </div>
            {% endblock %}
        </div>

        <div class="dashboard-content">
            <div class="container container-fluid">
                {% block breadcrumbs %}
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">
                                <a href="{% url 'dashboard:index' %}">Панель управления</a>
                            </li>
                        </ol>
                    </nav>
                {% endblock %}
        
                <div class="content">
                    {% include 'oscar/dashboard/partials/alert_messages.html' %}
                    {% block header %}
                    <div class="page-header">
                        <h1>{% block navtext %}{% endblock %}</h1>
                    </div>
                    {% endblock %}
                    <div class="page-content">
                        {% block content %}
                            {% block dashboard_content %}{% endblock dashboard_content %}
                        {% endblock content %}
                    </div>
                </div>  
            </div>
        </div>
    </div>
{% endblock %}

{# Local scripts #}
{% block scripts %}
        {% compress js %}
            <script src="{% static "js/bootstrap4/bootstrap.bundle.min.js" %}"></script>
            <script src="{% static "js/oscar/ui.js" %}"></script>
            {# jQuery plugins #}
            <script src="{% static "js/mousewheel/jquery.mousewheel.js" %}"></script>
            <script src="{% static "js/bootstrap4-datetimepicker/moment-with-locales.min.js" %}"></script>
            <script src="{% static "js/bootstrap4-datetimepicker/tempusdominus-bootstrap-4.min.js" %}"></script>
            <script src="{% static "js/inputmask/jquery.inputmask.min.js" %}"></script>
            <script src="{% static "js/select2/select2.min.js" %}"></script>
            <script src="{% static "js/jquery-sortable/jquery-sortable-min.js" %}"></script>
            <script src="{% static "js/oscar/RelatedObjectLookups.js" %}"></script>
            <script src="{% static "js/oscar/dashboard.js" %}"></script>
            <script src="{% static "js/slider/slider.js" %}"></script>
            <script src="{% static "js/dashboard/dashboard-sliders.js" %}"></script>
            <script src="{% static "js/dashboard/navi.js" %}"></script>
            <script src="{% static "js/tinymce/jquery.tinymce.min.js" %}"></script>
        {% endcompress %}
        <script src="{% static "js/tinymce/tinymce.min.js" %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    {% endblock %}

{% block onbodyload %}
    {{ block.super }}

    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('.bs-docs-sidenav a[href="#' + url.split('#')[1] + '"]').tab('show');
    }

    // Change hash for page-reload
    $('.nav-list a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
    });

    options = {
      'languageCode': 'ru'
    };
    oscar.dashboard.init(options);
{% endblock %}
