{% extends "oscar/layout.html" %}
{% load static %}
{% load svg_tags %}

{% block title %}
    Адрес доставки | {{ block.super }}
{% endblock %}
 
{% block wrapper_class %}delivery wrapper--small fill-width pd-2 pb-sm-4 delivery-address{% endblock %}

{% block app_class %}v-app---delivery{% endblock %}
{% block nav_class %}v-app__nav--delivery{% endblock %}

{% block nav_title %}Адрес доставки{% endblock %}

{% block breadcrumbs %}
    <div aria-label="breadcrumb" class="v-bread d-none d-sm-flex align-center mt-2 mb-3">
        <button onclick="getBack(); return false" data-id="back-bread-btn" class="mr-1 pd-0">
            {% icon file_name='interface/arrow-back' size=22 stroke="#111"%}
        </button>
        <a href="{{ homepage_url }}" data-id="back-bread-btn" class="v-bread__link router-link-active">Главная</a>
        {% icon file_name='interface/arrow-left' size=22 stroke="#999"%}
        <span class="v-bread__link" aria-current="page">Доставка</span>
    </div>
{% endblock %}

{% block content %}
    <div class="delivery__wrapper">
        {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endif %}
        {% comment %} формы для изменения адресса {% endcomment %}
        {% block pickup_address %}

            <div class="delivery__address">

                <div class="delivery__title mb-2 d-none d-sm-block">
                    <h1>Доставка и оплата</h1>
                </div>

                {% comment %} сохранине в бд или куки{% endcomment %}
                <form action="{% url 'address:delivery-address' %}" method="post" id="set_address">
                    {% csrf_token %}
                    <div class="delivery__address-input fill-width pos-relative">
                        <div class="v-address-info d-flex flex-column flex-sm-row">
                            <div class="v-input-search d-flex fill-width justify-space-between align-center">
                                {% icon file_name='interface/search' size=20 fill="#8a8a8a"%}
                                <div id="line1_container" class="v-delivery fill-width v-input fill-width">
                                    <div class="d-flex v-delivery--input">
                                        <input for="set_address" type="text" name="line1" placeholder="Введите улицу и дом" data-id="address-input" id="id_line1" value="{{ address.line1 }}" autocomplete="off" {% if address.readonly %}readonly{% endif %}>
                                        <div class="v-delivery--btn d-flex align-center justify-end">
                                            <button id="clean_address" type="button" class="v-delivery--clear shrink d-flex align-center justify-center fill-height fill-width">
                                                {% icon file_name='interface/close' size=24 stroke="#d32225"%}
                                            </button>
                                        </div>
                                        <input type="hidden" name="coords_long" id="id_coords_long" value="{{ address.coords_long }}">
                                        <input type="hidden" name="coords_lat" id="id_coords_lat" value="{{ address.coords_lat }}">
                                    </div>
                                    <div id="suggest_list" class="search__suggest d-none"></div> {% comment %} 2gis {% endcomment %}
                                </div>
                            </div>
                        </div>
                        <span id="line1_hints" class="v-delivery__address-hint d-flex flex-column justify-center px-2 mt-2 d-none"></span>
                    </div>
                </form>
            </div>

            <div class="delivery__map mt-2">
                <div class="v-map__wrapper fill-width fill-height">
                    <div class="v-map fill-width fill-height">
                        <div id="map" class="fill-width fill-height"></div>
                        <div id="map_controls" class="v-delivery-map--submit d-flex flex-column align-center justify-center pd-2 pd-md-4 d-none">
                            <div id="map_address" class="v-delivery-map--label d-flex flex-column justify-center align-center px-2 py-1 mb-1 mb-sm-2"></div>
                            <button id="submit_address" type="button" data-id="delivery-map-submit-btn" class="v-button fill-width v-button--main v-button--map justify-center shrink">
                                <span class="v-button__wrapper">
                                    <span class="v-button__value"> Доставить на этот адрес </span>
                                    <span class="v-button__value v-button__value--saved"> Адрес сохранен </span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="delivery__info mt-4 pd-md-0">
                {% comment %} <h2>Доставка и оплата</h2> {% endcomment %}
                <div class="delivery__regions-block mt-4">
                    <p>
                        <span class="mb-1">
                            <strong>Время работы фудкорта в ТРЦ "Планета":</strong>
                        </span>
                        <br>
                        <span>С 09:00 до 23:00</span>
                        <br><br>
                        <span class="mb-1">
                            <strong>Время работы доставки:</strong>
                        </span>
                        <br>
                        <span>С 09:00 до 23:00</span>
                        <br><br>
                        <span>Оформить заказ можно в на сайте mikado-sushi.ru или в ТРЦ "Планета" по адресу ул. 9 Мая 77</span>
                        <br><br>
                        <span>Минимальная сумма заказа - 700 рублей</span>
                        <br><br>
                        <span>
                            <strong>Оплатить заказ можно любым удобным вам способом:</strong>
                        </span>
                        <br><br>
                        <ul>
                            <li>Онлайн с помощью карт МИР, VISA и MASTERCARD;</li>
                            <li>Банковскими картами этих же платежных систем через систему быстрых платежей (СБП)</li>
                            <li>Наличными курьеру при получении заказа.</li>
                        </ul>
                        <br>
                        <span>
                            <strong>Порядок возврата:</strong>
                        </span>
                        <br><br>
                        <span>Возврат средств, производится на ваш банковский
                            счёт в течение 10 рабочих дней (срок зависит от банка, который выдал вашу
                            банковскую карту).
                        </span>
                        <br><br>
                    </p>
                </div>
            </div>
        {% endblock pickup_address %}
    </div>
{% endblock content %}

{% block templatescripts %}
    {{ block.super }}
    var csrf_token = "{{csrf_token}}";
    var url_time = "{% url 'delivery:delivery-now' %}";
    var url_delivery_zones = "{% url 'delivery:delivery-zones' %}";
{% endblock %}

{% block extrascripts %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=27bbbf17-40e2-4c01-a257-9b145870aa2a&suggest_apikey=a95e9492-342c-4d78-a53c-c7e78f0570ec&lang=ru_RU"></script>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/delivery/delivery.js" %}"></script>
    <script src="{% static "js/address/cookie-address.js" %}"></script>
    <script src="{% static "js/address/delivery-address.js" %}"></script>
{% endblock %}

{% block onbodyload %}
    createMap("{{ address.line1 }}");
{% endblock %}
