{% extends "oscar/layout.html" %}
{% load static %}
{% load svg_tags %}

{% block title %}
    Адрес самовывоза | {{ block.super }}
{% endblock %}
 
{% block wrapper_class %}delivery wrapper--small fill-width pd-2 pb-sm-8 delivery-address{% endblock %}

{% block app_class %}v-app---delivery{% endblock %}
{% block nav_class %}v-app__nav--delivery{% endblock %}

{% block nav_title %}Адрес самовывоза{% endblock %}

{% block breadcrumbs %}
    <div aria-label="breadcrumb" class="v-bread d-none d-sm-flex align-center mt-2 mb-3">
        <button onclick="getBack(); return false" data-id="back-bread-btn" class="mr-1 pd-0">
            {% icon file_name='interface/arrow-back' size=22 stroke="#111"%}
        </button>
        <a href="{{ homepage_url }}" data-id="back-bread-btn" class="v-bread__link router-link-active">Главная</a>
        {% icon file_name='interface/arrow-left' size=22 stroke="#999"%}
        <span class="v-bread__link" aria-current="page">Cамовывоз</span>
    </div>
{% endblock %}

{% block content %}
    <div class="delivery__wrapper">
        {% comment %} формы для изменения адресса {% endcomment %}
        {% block shipping_address %}

            <div class="delivery__address">

                <div class="delivery__title mb-2 d-none d-sm-block">
                    <h1>Самовывоз</h1>
                </div>

            </div>

            <div class="delivery__map">
                <div class="v-map__wrapper fill-width fill-height">
                    <div class="v-map fill-width fill-height">
                        <div id="map" class="fill-width fill-height"></div>
                        <div id="delivery_map_controls" class="v-delivery-map--submit d-flex flex-column align-center justify-center pd-2 pd-md-4 d-none">
                            <div id="delivery_map_address" class="v-delivery-map--label d-flex flex-column justify-center align-center px-2 py-1 mb-1 mb-sm-2"></div>
                            <button id="submit_address" type="button" data-id="delivery-map-submit-btn" class="v-button fill-width v-button--main v-button--map justify-center shrink">
                                <span class="v-button__wrapper">
                                    <span class="v-button__value"> Доставить на этот адрес </span>
                                    <span class="v-button__value v-button__value--saved"> Адрес сохранен </span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="delivery__info mt-4 pd-md-0">
                {% comment %} <h2>Самовывоз и оплата</h2> {% endcomment %}
                <div class="delivery__regions-block mt-4">
                    <p>
                        <span class="mb-1">
                            <strong>Время работы фудкорта в ТРЦ "Планета":</strong>
                        </span>
                        <br>
                        <span>С 09:00 до 23:00</span>
                        <br><br>
                        <span class="mb-1">
                            <strong>Время работы доставки:</strong>
                        </span>
                        <br>
                        <span>С 09:00 до 23:00</span>
                        <br><br>
                        <span>Оформить заказ можно в на сайте mikado-sushi.ru или в ТРЦ "Планета" по адресу ул. 9 Мая 77</span>
                        <br><br>
                        <span>Минимальная сумма заказа - 700 рублей</span>
                        <br><br>
                        <span>
                            <strong>Оплатить заказ можно любым удобным вам способом:</strong>
                        </span>
                        <br><br>
                        <ul>
                            <li>Онлайн с помощью карт МИР, VISA и MASTERCARD;</li>
                            <li>Банковскими картами этих же платежных систем через систему быстрых платежей (СБП)</li>
                            <li>Наличными курьеру при получении заказа.</li>
                        </ul>
                        <br>
                        <span>
                            <strong>Порядок возврата:</strong>
                        </span>
                        <br><br>
                        <span>Возврат средств, производится на ваш банковский
                            счёт в течение 10 рабочих дней (срок зависит от банка, который выдал вашу
                            банковскую карту).
                        </span>
                        <br><br>
                    </p>
                </div>
            </div>

        {% endblock shipping_address %}
    </div>
{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
    <script type="application/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=27bbbf17-40e2-4c01-a257-9b145870aa2a&suggest_apikey=a95e9492-342c-4d78-a53c-c7e78f0570ec&lang=ru_RU"></script>
    <script type="application/javascript" src="{% static "js/delivery/pickup.js" %}"></script>
{% endblock %}