{% extends 'oscar/dashboard/layout.html' %}
{% load category_tags %}
{% load static %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block body_class %}{{ block.super }} delivery-zones{% endblock %}

{% block title %}
    Зоны доставки | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Зоны доставки
            </li>
        </ol>
    </nav>
{% endblock %}

{% block header %}
    <div class="page-header">
        <a href="{% url 'dashboard:delivery-create-zona' %}" class="btn btn-primary float-right"><i class="fas fa-plus-circle"></i>Создать зону доставки</a>
        <h1>Зоны доставки</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}

    <div class="delivery__map">
        <div class="v-map__wrapper">
            <div id="map" class="v-map">
            </div>
        </div>
    </div>

    {% render_table zones %}

    {% if not zones %}
        <p>Зоны доставки не созданы</p>
    {% endif %}

{% endblock dashboard_content %}


{% block extrascripts %}
    {{ block.super }}
    <script>
        var csrf_token = "{{ csrf_token }}";
        var url_delivery_zones = "{% url 'delivery:delivery-zones' %}";
        var url_delivery_zona = "{% url 'dashboard:delivery-zona' %}";
    </script>
    <script type="application/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=27bbbf17-40e2-4c01-a257-9b145870aa2a&lang=ru_RU"></script>
    <script type="application/javascript" src="{% static "js/delivery/delivery-zones-dashboard.js" %}"></script>
    <script>
        createMap();
    </script>
{% endblock %}
