<div class="modal fade" data-show="true" id="SearchModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Расширенный поиск</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form method="get" class="form-stacked">
                <div class="modal-body mt-1">
                    {% include "oscar/dashboard/partials/form_fields.html" with form=form style=style %}
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary" data-dismiss="modal">Закрыть</a>
                    <button type="submit" class="btn btn-primary" data-loading-text="Поиск...">Поиск</button>
                </div>
            </form>
        </div>
    </div>
</div>
