<tr class="sortable-handle {% if not form.instance.id %}sortable-disabled{% endif %}">
    {{ form.non_field_errors }}
    {% for field in form %}
        {% if "original" in field.id_for_label %}
            <td class="width:60px">
                <span class="btn btn-handle btn-reorder {% if not form.instance.id %}disabled{% endif %}" {% if not form.instance.id %}disabled{% endif %}><i class="fas fa-grip-lines"></i></span>
                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {{ field }}
                {% for error in field.errors %}
                    <ul class="error-block">
                        <li>{{ error }}</li>
                    </ul>
                {% endfor %}
            </td>
        {% elif not field.is_hidden %}
            {% include 'oscar/dashboard/partials/form_table_field.html' with field=field nolabel=True %}
            {% for error in field.errors %}
                <ul class="error-block">
                    <li>{{ error }}</li>
                </ul>
            {% endfor %}
        {% endif %}
    {% endfor %}
</tr>