<a href="{% url "dashboard:order-detail" number=order.number %}" class="mb-2">
    <div class="v-order-checkout__items">
        {% for line in order.basket.all_lines %}
            <span class="text--info">{{ line.product.get_title }} ({{ line.quantity }}){% if not forloop.last %},{% endif %}</span>
        {% endfor %}
    </div>
</a>
<div class="d-flex flex-column">
    <span class="mt-1">Пользователь: {{ order.user }}</span>
    <span class="mt-1">Способ оплаты: {{ order.sources.first }}</span>
    <span class="mt-1">Статус заказа: {{ order.status }}</span>
    <span class="mt-1">Метод доставки: {{ order.shipping_method }}</span>
    <span class="mt-1">Доставить / Приготовить к: {{ order.order_time }}</span>
</div>
<h3 class="mt-4">Сумма: {{ order.total }}</h3>