{% load django_tables2 %}
<a href="{% url 'dashboard:order-detail' number=record.order.number %}" class="d-flex flex-column">
  <span>
    {% if record.order.is_online %}
      <i class="fa-solid fa-globe" style="color:var(--primary)"></i>
    {% endif %}
    {% if not record.order.is_open %}
      <i class="fa-solid fa-bolt" style="color:var(--danger)"></i>
    {% endif %}
    {{ record.order.get_items_name }}
  </span>
  <span class="text-dark small">Товаров: {{ record.order.num_items }}</span>
  <span class="text-muted small">№{{ record.order.number }}</span>
</a>
