{% load display_tags %}

{% if paginator.num_pages > 1 %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% get_parameters prefix %}{{ prefix|default:"page" }}={{ page_obj.previous_page_number }}" tabindex="-1">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                </li>
            {% endif %}
            <li class="page-item disabled">
                <span class="page-link">
                    {{ page_obj.number }} / {{ paginator.num_pages }}
                </span>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{% get_parameters prefix %}{{ prefix|default:"page" }}={{ page_obj.next_page_number }}">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
