{% extends 'oscar/dashboard/layout.html' %}

{% load widget_tweaks %}

{% block title %}
  {{ title }} | {{ block.super }}
{% endblock %}

{% block body_class %}
  {{ block.super }} create-page
{% endblock %}

{% block navbar %}
  {% if not is_popup %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block dashboard_nav %}
  {% if not is_popup %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  {% if not is_popup %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard:index' %}">Главная</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard:catalogue-additional-list' %}">Дополнительные товары</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
  {% endif %}
{% endblock %}

{% block navtext %}
  <h1>{{ title }}</h1>
  {% if additional %}
    <a class="btn btn-danger ml-2" href="{% url 'dashboard:catalogue-additional-delete' pk=additional.id %}">
      <i class="fa-solid fa-trash"></i>
      <span>Удалить</span>
    </a>
  {% endif %}
{% endblock %}

{% block dashboard_content %}
  <form class="form-stacked wysiwyg fixed-actions" method="post" data-behaviour="tab-nav-errors" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      {% if is_popup %}
        <input type="hidden" name="{{ is_popup_var }}" value="{{ is_popup }}" />
      {% endif %}
      {% if to_field %}
        <input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />
      {% endif %}
      <div class="col-md-12">
        <div class="tab-content">
          {% block additional_details %}
            <div class="tab-pane active">
              <div class="table-header">
                <h3>Описание</h3>
              </div>
              <div class="card card-body">
                {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                      <span class="error-block"><i class="fas fa-exclamation"></i> {{ error }}</span>
                    </div>
                  {% endfor %}
                {% endif %}
                {% for field in form %}
                  {% if 'evotor_update' not in field.id_for_label %}
                    {% include 'oscar/dashboard/partials/form_field.html' with field=field %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
    {% block fixed_actions_group %}
      <div class="fixed-actions-group">
        <div class="container container-fluid">
          <div class="d-flex justify-content-between flex-wrap align-items-end">
            <div>
              {% with evotor_field=form.evotor_update %}
                <label for="{{ evotor_field.auto_id }}" class="checkbox-ios">
                  {% render_field evotor_field='form-control' %}
                  <span class="checkbox-ios-switch"></span>
                </label>
                {% for error in evotor_field.errors %}
                  <span class="error-block"><i class="fas fa-exclamation"></i> {{ error }}</span>
                {% endfor %}
                {% if evotor_field.help_text %}
                  <small class="form-text text-muted">{{ evotor_field.help_text|safe }}</small>
                {% endif %}
              {% endwith %}
            </div>
            <div class="d-flex justify-content-end mt-3">
              {% if product %}
                <a class="btn btn-outline-info mr-2" href="{{ product.get_absolute_url }}">
                  <i class="fa-solid fa-share"></i>
                  <span>Смотреть на сайте</span>
                </a>
              {% endif %}
              <a class="btn btn-secondary mr-2" href="{% url 'dashboard:catalogue-additional-list' %}">
                <i class="fa-regular fa-circle-xmark"></i>
                <span>Отменить</span>
              </a>
              <button class="btn btn-primary" name="action" type="submit" value="continue" data-loading-text="Сохранение...">
                <i class="fa-regular fa-floppy-disk"></i>
                <span>Сохранить</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </form>
  <div class="modal fade" id="product-image-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body text-center">
          <img class="img-fluid mx-auto" loading="lazy" />
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block onbodyload %}
  {{ block.super }}
  oscar.dashboard.thumbnails.init();
{% endblock %}
