{% extends 'oscar/dashboard/layout.html' %}

{% load category_tags %}
{% load widget_tweaks %}

{% block title %}
  {{ title }} | Категории | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:index' %}">Главная</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:catalogue-category-list' %}">Категории</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
  </nav>
{% endblock %}

{% block navtext %}
  <h1>
    {% if category and category.evotor_id %}
      <i class="text-success fa-solid fa-circle-check"></i>
    {% endif %}
    {{ title }}
  </h1>
  {% if category %}
    <a class="btn btn-danger ml-2" href="{% url 'dashboard:catalogue-category-delete' pk=category.id %}">
      <i class="fa-solid fa-trash"></i>
      <span>Удалить</span>
    </a>
  {% endif %}
{% endblock %}

{% block dashboard_content %}
  <form action="{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}"
    method="post"
    class="form-stacked wysiwyg fixed-actions"
    enctype="multipart/form-data"
    data-behaviour="tab-nav-errors"
    autocomplete="off">
    {% csrf_token %}
    <div class="row">
      {% block tab_nav %}
        <div class="col-md-3">
          <div class="tab-nav sticky-top">
            <div class="table-header">
              <h3>Редактирование</h3>
            </div>
            <ul class="nav flex-column bs-docs-sidenav" id="category_update_tabs">
              {% block tabs %}
                <li class="nav-item">
                  <a class="nav-link active" href="#category_details" data-toggle="tab">Описание</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#seo" data-toggle="tab">SEO</a>
                </li>
              {% endblock %}
            </ul>
          </div>
        </div>
      {% endblock %}
      <div class="col-md-9">
        <div class="tab-content">
          {% block tab_content %}
            {% block category_details %}
              <div class="tab-pane active" id="category_details">
                <div class="table-header">
                  <h3>Описание</h3>
                </div>
                <div class="card card-body category-details">
                  {% block category_details_content %}
                    <span class="error-block">{{ form.non_field_errors }}</span>
                    {% for field in form.hidden_fields %}
                      {{ field }}
                    {% endfor %}
                    {% for field in form.primary_form_fields %}
                      {% if 'attr' not in field.id_for_label and 'evotor_update' not in field.id_for_label %}
                        {% include 'oscar/dashboard/partials/form_field.html' with field=field %}
                      {% endif %}
                    {% endfor %}
                  {% endblock %}
                </div>
              </div>
            {% endblock %}
            {% block seo %}
              <div class="tab-pane" id="seo">
                <div class="table-header">
                  <h3>Поисковая оптимизация</h3>
                </div>
                <div class="card card-body">
                  {% block seo_content %}
                    {% for field in form.seo_form_fields %}
                      {% if 'attr' not in field.id_for_label %}
                        {% include 'oscar/dashboard/partials/form_field.html' with field=field %}
                      {% endif %}
                    {% endfor %}
                  {% endblock %}
                </div>
              </div>
            {% endblock %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% block fixed_actions_group %}
      <div class="fixed-actions-group">
        <div class="container container-fluid">
          <div class="d-flex justify-content-between flex-wrap align-items-end">
            <div>
              {% with evotor_field=form.evotor_update %}
                <label for="{{ evotor_field.auto_id }}" class="checkbox-ios">
                  {% render_field evotor_field class='form-control' %}
                  <span class="checkbox-ios-switch"></span>
                </label>
                {% for error in evotor_field.errors %}
                  <span class="error-block"><i class="fas fa-exclamation"></i> {{ error }}</span>
                {% endfor %}
                {% if evotor_field.help_text %}
                  <small class="form-text text-muted">{{ evotor_field.help_text|safe }}</small>
                {% endif %}
              {% endwith %}
            </div>
            <div class="d-flex justify-content-end">
              {% if category %}
                <a class="btn btn-outline-info mr-2" href="{{ category.get_absolute_url }}">
                  <i class="fa-solid fa-share"></i>
                  <span>Смотреть на сайте</span>
                </a>
              {% endif %}
              <a class="btn btn-secondary mr-2" href="{% url 'dashboard:catalogue-category-list' %}">
                <i class="fa-regular fa-circle-xmark"></i>
                <span>Отменить</span>
              </a>
              <button class="btn btn-primary" name="action" type="submit" value="continue" data-loading-text="Сохранение...">
                <i class="fa-regular fa-floppy-disk"></i>
                <span>Сохранить</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </form>
  <div class="modal fade" id="product-image-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body text-center">
          <img class="img-fluid mx-auto" loading="lazy" />
        </div>
      </div>
    </div>
  </div>
{% endblock %}
