{% extends 'oscar/dashboard/layout.html' %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Тип товара</li>
        </ol>
    </nav>
{% endblock %}

{% block header %}
    <div class="page-header d-flex justify-content-between align-items-center">
        <h1>Типы продуктов</h1>
        <a href="{% url 'dashboard:catalogue-class-create' %}" class="btn btn-primary ml-3">
            <i class="fas fa-plus"></i><span>Создать тип товара</span>
        </a>
    </div>
{% endblock header %}

{% block dashboard_content %}
    {% if classes %}
        <div class="mobile-table">
            {% render_table classes %}
        </div>
    {% else %}
        <p>Нет созданных типов продуктов</p>
    {% endif %}
{% endblock dashboard_content %}
