{% extends 'oscar/dashboard/layout.html' %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard:catalogue-class-list' %}">Тип товара</a></li>
            <li class="breadcrumb-item active" aria-current="page">Удалить этот тип товара</li>
        </ol>
    </nav>
{% endblock %}

{% block navtext %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block dashboard_content %}
    <form method="post" class="confirm-content">
        {% if disallow %}
            <p>Перед удалением убедитесь, что всем продуктам присвоен другой тип.</p>
        {% else %}
            <div class="table-header">
                <h2>Удалить тип товара</h2>
            </div>
            <div class="card card-body card-confirm bg-light">
                {% csrf_token %}
                {{ form }}
                <p>Удалить тип товара <strong>{{ object.name }}</strong> - вы уверены?</p>
            </div>
            <div class="table-footer">
                <div class="form-actions fill-width">
                    <div class="float-right">
                        <a class="btn btn-secondary" href="{% url 'dashboard:catalogue-class-list' %}">
                            <i class="fa-solid fa-ban"></i>
                            Отмена
                        </a>
                        <button class="btn btn-danger ml-2" type="submit" class="btn btn-danger" data-loading-text="Удаление...">
                            <i class="fa-solid fa-trash"></i>
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
    </form>
{% endblock %}
