{% extends 'oscar/dashboard/layout.html' %}
{% load currency_filters %}
{% load widget_tweaks %}

{% block body_class %}
  {{ block.super }} create-page catalogue
{% endblock %}

{% block title %}
  {{ title }} | Товары | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <nav data-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:index' %}">Главная</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:catalogue-product-list' %}">Товары</a>
      </li>
      {% if parent %}
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard:catalogue-product' parent.id %}">{{ parent.name }}</a>
        </li>
      {% endif %}
      <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
  </nav>
{% endblock %}

{% block navtext %}
  <h1>{{ title }}</h1>
  {% if product and full_access %}
    <a class="btn btn-danger ml-2" href="{% url 'dashboard:catalogue-product-delete' pk=product.id %}">
      <i class="fa-solid fa-trash"></i>
      <span>Удалить</span>
    </a>
  {% endif %}
{% endblock %}

{% block dashboard_content %}
  <form action="{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}"
    method="post"
    class="form-stacked wysiwyg fixed-actions"
    enctype="multipart/form-data"
    data-behaviour="tab-nav-errors"
    autocomplete="off">
    {% csrf_token %}
    {% if parent %}
      <div class="alert alert-info">
        {% url 'dashboard:catalogue-product' pk=parent.id as parent_url %}Вы редактируете вариант продукта -
        <a href="{{ parent_url }}">{{ parent.name }}</a>.
      </div>
    {% endif %}
    <div class="row">
      {% block tab_nav %}
        <div class="col-md-3">
          <div class="tab-nav sticky-top">
            <div class="table-header">
              <h3>Редактирование</h3>
            </div>
            <ul class="nav flex-column bs-docs-sidenav" id="product_update_tabs">
              {% block tabs %}
                {% if full_access %}
                  <li class="nav-item">
                    <a class="nav-link active" href="#product_details" data-toggle="tab">Описание</a>
                  </li>
                  {% if not parent %}
                    <li class="nav-item">
                      <a class="nav-link" href="#product_category" data-toggle="tab">Категории</a>
                    </li>
                  {% endif %}
                  <li class="nav-item">
                    <a class="nav-link" href="#product_attributes" data-toggle="tab">Атрибуты</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#product_images" data-toggle="tab">Изображения</a>
                  </li>
                {% endif %}
                {% if not product.is_parent %}
                  <li class="nav-item">
                    <a class="nav-link {% if not full_access %}active{% endif %}" href="#product_stock" data-toggle="tab">Наличие и цена</a>
                  </li>
                {% endif %}
                {% if not parent %}
                  <li class="nav-item">
                    <a class="nav-link" href="#child_products" data-toggle="tab">Варианты</a>
                  </li>
                {% endif %}
                {% if full_access %}
                  {% if not parent %}
                    <li class="nav-item">
                      <a class="nav-link" href="#product_recommended" data-toggle="tab">Рекомендации</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#product_additional" data-toggle="tab">Дополнительные товары</a>
                    </li>
                  {% endif %}
                  <li class="nav-item">
                    <a class="nav-link" href="#seo" data-toggle="tab">SEO</a>
                  </li>
                {% endif %}
              {% endblock %}
            </ul>
          </div>
        </div>
      {% endblock %}
      <div class="col-md-9">
        <div class="tab-content">
          {% block tab_content %}
            {% block product_details %}
              {% if full_access %}
                <div class="tab-pane active" id="product_details">
                  <div class="table-header">
                    <h3>Описание</h3>
                  </div>
                  <div class="card card-body product-details">
                    {% block product_details_content %}
                      <span class="error-block">{{ form.non_field_errors }}</span>
                      {% for field in form.hidden_fields %}
                        {{ field }}
                      {% endfor %}
                      {% for field in form.primary_form_fields %}
                        {% if 'attr' not in field.id_for_label and 'evotor_update' not in field.id_for_label %}
                          {% include 'oscar/dashboard/partials/form_field.html' with field=field %}
                        {% endif %}
                      {% endfor %}
                    {% endblock %}
                  </div>
                </div>
              {% endif %}
            {% endblock %}
            {% block product_categories %}
              {% if category_formset %}
                <div class="tab-pane" id="product_category">
                  {% block product_categories_content %}
                    {{ category_formset.non_form_errors }}
                    {{ category_formset.management_form }}
                    <table class="table table-striped table-bordered">
                      <caption>Категории</caption>
                      <thead>
                        <tr style="text-align:center;">
                          <th>Категория</th>
                          <th class="text-danger">Удалить</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for category_form in category_formset %}
                          <tr style="text-align:center;">
                            {% for field in category_form %}
                              {% include 'oscar/dashboard/partials/form_table_field.html' with field=field nolabel=True %}
                            {% endfor %}
                          </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <th class="text-muted" colspan="2">
                            Первая в списке категория основная.
                            <br />
                            Она используется в Эвотор. Именно в ней будет располагаться товар.
                          </th>
                        </tr>
                      </tfoot>
                    </table>
                  {% endblock %}
                </div>
              {% endif %}
            {% endblock %}
            {% block product_attributes %}
              {% if full_access %}
                <div class="tab-pane" id="product_attributes">
                  {% block attributes %}
                    {% if product.has_attributes or product_class.has_attributes %}
                      <table class="table table-striped table-bordered">
                        <caption>Значения атрибутов</caption>
                        {% for field in form %}
                          {% if 'attr' in field.id_for_label %}
                            <tr>
                              <td>
                                {% include 'oscar/dashboard/partials/form_field.html' %}
                              </td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                      </table>
                    {% endif %}
                  {% endblock %}
                  {% block add_attributes %}
                    {{ attribute_formset.non_form_errors }}
                    {{ attribute_formset.management_form }}
                    {% if attribute_formset %}
                      <table class="table table-striped table-bordered {% if parent %}d-none{% endif %}">
                        <caption>Атрибуты</caption>
                        <thead>
                          <tr style="text-align:center;">
                            <th>Атрибут</th>
                            <th class="text-danger">Удалить</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for attribute_form in attribute_formset %}
                            <tr style="text-align:center;">
                              {% for field in attribute_form %}
                                {% include 'oscar/dashboard/partials/form_table_field.html' with field=field nolabel=True %}
                              {% endfor %}
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    {% endif %}
                  {% endblock %}
                </div>
              {% endif %}
            {% endblock %}
            {% block product_images %}
              {% if image_formset %}
                <div class="tab-pane" id="product_images">
                  {% block product_images_content %}
                    {{ image_formset.management_form }}
                    {{ image_formset.non_form_errors }}
                    <div class="mobile-table">
                      <table class="table table-striped table-bordered">
                        <caption>Загрузить, изменить или удалить изображения</caption>
                        <thead style="text-align:center;">
                          <tr>
                            <th></th>
                            <th>Изображение</th>
                            <th>Описание</th>
                            <th class="text-danger">Удалить</th>
                          </tr>
                        </thead>
                        <tbody class="upload-image">
                          {% for image_form in image_formset %}
                            {% include 'oscar/dashboard/partials/product_images.html' with form=image_form %}
                          {% endfor %}
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="4">
                              <p class="form-text">Перетащите изображения, чтобы изменить их порядок. Место для дополнительных изображений появится при добавлении изображений.</p>Первое изображение в списке используется, как основное изображение.
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  {% endblock %}
                </div>
              {% endif %}
            {% endblock %}
            {% block stockrecords %}
              {% if not product.is_parent %}
                <div class="tab-pane {% if not full_access %}active{% endif %}" id="product_stock">
                  {% block stockrecords_content %}
                    <div class="mobile-table mobile-table-xl">
                      {{ stockrecord_formset.management_form }}
                      {{ stockrecord_formset.non_form_errors }}
                      <table class="table table-striped table-bordered">
                        <caption>Наличие и цена</caption>
                        <thead>
                          <tr>
                            <th class="name">Магазин</th>
                            {% if product_class.track_stock %}
                              <th>Запасы</th>
                            {% endif %}
                            <th>Цена</th>
                            {% if full_access %}
                              <th>Налог</th>
                            {% endif %}
                            <th>Доступен</th>
                            {% if full_access %}
                              <th>Удалить</th>
                            {% endif %}
                          </tr>
                        </thead>
                        <tbody>
                          {% if stockrecord_formset.forms %}
                            {% for stockrecord_form in stockrecord_formset %}
                              {% if stockrecord_form.non_field_errors %}
                                <tr>
                                  <td colspan="{% if product_class.track_stock %}10{% else %}7{% endif %}">
                                    {% for error in stockrecord_form.non_field_errors %}
                                      <span class="error-block errorlist"><i class="fas fa-exclamation"></i> {{ error }}</span>
                                    {% endfor %}
                                  </td>
                                </tr>
                              {% endif %}
                              <tr>
                                <td class="name">
                                  {% if full_access %}
                                    {% include 'oscar/dashboard/partials/form_field.html' with field=stockrecord_form.store nolabel=True %}
                                  {% else %}
                                    {{ stockrecord_form.instance.store|default:'' }}
                                  {% endif %}
                                  <br />
                                  {% if stockrecord_form.instance.evotor_code %}
                                    <span>
                                      <i class="text-success fa-solid fa-circle-check"></i>
                                      <span class="text-muted small">Код Эвотор: {{ stockrecord_form.instance.evotor_code }}</span>
                                    </span>
                                  {% endif %}
                                  <span class="text-muted">{{ stockrecord_form.instance.store_sku|default:'' }}</span>
                                  {% include 'oscar/dashboard/partials/form_field.html' with field=stockrecord_form.id nolabel=True %}
                                </td>
                                {% if product_class.track_stock %}
                                  <td data-label="Запасы">
                                    <div class="form-group fill-width">
                                      <input type="number" readonly value="{{ stockrecord_form.instance.num_in_stock|default:'0' }}" class="form-control" />
                                      <small class="form-text text-muted">В наличии</small>
                                    </div>
                                    <br />
                                    <div class="form-group fill-width">
                                      <input type="number" readonly value="{{ stockrecord_form.instance.num_allocated|default:'0' }}" class="form-control" />
                                      <small class="form-text text-muted">Заказано</small>
                                    </div>
                                    <br />
                                    {% if full_access %}
                                      {% include 'oscar/dashboard/partials/form_field.html' with field=stockrecord_form.low_stock_threshold nolabel=True %}
                                    {% endif %}
                                  </td>
                                {% endif %}
                                <td data-label="Цена">
                                  {% if full_access %}
                                    {% include 'oscar/dashboard/partials/form_field.html' with field=stockrecord_form.price nolabel=True %}
                                    <br />
                                    {% include 'oscar/dashboard/partials/form_field.html' with field=stockrecord_form.old_price nolabel=True %}
                                    <br />
                                    {% include 'oscar/dashboard/partials/form_field.html' with field=stockrecord_form.cost_price nolabel=True %}
                                    <br />
                                    {% include 'oscar/dashboard/partials/form_field.html' with field=stockrecord_form.price_currency nolabel=True %}
                                  {% else %}
                                    {{ stockrecord_form.instance.price|currency:stockrecord_form.instance.price_currency|default:'' }}
                                    <small class="form-text text-muted mb-3">Цена продажи</small>
                                    {{ stockrecord_form.instance.old_price|currency:stockrecord_form.instance.price_currency|default:'-' }}
                                    <small class="form-text text-muted">Цена до скидки</small>
                                  {% endif %}
                                </td>
                                {% if full_access %}
                                  <td data-label="Налог">
                                    {% include 'oscar/dashboard/partials/form_field.html' with field=stockrecord_form.tax nolabel=True %}
                                  </td>
                                {% endif %}
                                <td data-label="Доступен">
                                  {% include 'oscar/dashboard/partials/form_field.html' with field=stockrecord_form.is_public nolabel=True %}
                                </td>
                                {% if full_access %}
                                  <td data-label="Удалить">
                                    {% include 'oscar/dashboard/partials/form_field.html' with field=stockrecord_form.DELETE nolabel=True %}
                                  </td>
                                {% endif %}
                                <td class="toggle-row">
                                  <button class="btn btn-secondary" type="button">
                                    <i class="fa-solid fa-chevron-up"></i>
                                    <i class="fa-solid fa-chevron-down"></i>
                                  </button>
                                </td>
                              </tr>
                            {% endfor %}
                          {% else %}
                            <tr class="empty-tr">
                              <td class="empty-td">Товара нет в наличии ни в одном из магазинов.</td>
                            </tr>
                          {% endif %}
                        </tbody>
                      </table>
                    </div>
                    {% if product_class.track_stock %}
                      {% if stockrecord_operation_form.stockrecord.field.initial %}
                        <div class="mobile-table mt-2">
                          <table class="table table-striped table-bordered">
                            <caption>Изменить количество</caption>
                            <thead>
                              <tr>
                                <th class="name">Магазин</th>
                                <th class="title">Операция</th>
                                <th>Сообщение</th>
                                <th>Количество</th>
                              </tr>
                            </thead>
                            <tbody>
                              {{ stockrecord_operation_form.non_form_errors }}
                              {% if stockrecord_operation_form.non_field_errors %}
                                <tr>
                                  <td colspan="3">
                                    {% for error in stockrecord_form.non_field_errors %}
                                      <span class="error-block errorlist"><i class="fas fa-exclamation"></i> {{ error }}</span>
                                    {% endfor %}
                                  </td>
                                </tr>
                              {% endif %}
                              <tr>
                                <td class="name">
                                  {% include 'oscar/dashboard/partials/form_field.html' with field=stockrecord_operation_form.stockrecord nolabel=True %}
                                </td>
                                <td data-label="Операция" class="title">
                                  {% include 'oscar/dashboard/partials/form_field.html' with field=stockrecord_operation_form.type nolabel=True %}
                                </td>
                                <td data-label="Сообщение" class="title">
                                  {% include 'oscar/dashboard/partials/form_field.html' with field=stockrecord_operation_form.message nolabel=True %}
                                </td>
                                <td data-label="Количество" class="title">
                                  {% include 'oscar/dashboard/partials/form_field.html' with field=stockrecord_operation_form.num nolabel=True %}
                                </td>
                              </tr>
                            </tbody>
                            <tfoot>
                              <th colspan="4" aria-controls="stockrecord-info" aria-expanded="false" data-target="#stockrecord-info" data-toggle="collapse">
                                <span class="text-muted">
                                  <i class="fa-solid fa-circle-info"></i>
                                  Информация
                                </span>
                              </th>
                              <tr class="collapse" id="stockrecord-info">
                                <th colspan="4">
                                  <span class="text-primary">Приемка - количество принятого товара.</span>
                                  <br />
                                  Поле "Количество" положительное. Поле "В наличии" в данном магазине увеличится на данную величину.
                                  <br /><br />
                                  <span class="text-primary">Списание - количество списаного товара.</span>
                                  <br />
                                  Поле "Количество" положительное. Поле "В наличии" уменьшится на данную величину.
                                  <br /><br />
                                  <span class="text-primary">Инвентаризация - актуальное количество товара.</span>
                                  <br />
                                  Поле "Количество" положительное. Укажите актуальное количество товара. Оно будет указано в поле "В наличии" для указаного магазина.
                                </th>
                              </tr>
                            </tfoot>
                          </table>
                        </div>
                      {% endif %}
                      <div class="mobile-table mt-2">
                        <table class="table table-striped table-bordered">
                          <caption>История изменений</caption>
                          {% if stockrecord_operations %}
                            <thead>
                              <tr>
                                <th class="name">Магазин</th>
                                <th class="status">Операция</th>
                                <th class="quantity">Кол-во</th>
                                <th>Пользователь</th>
                                <th>Коментарий</th>
                                <th>Время</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for stockrecord_operation in stockrecord_operations %}
                                <tr>
                                  <td class="name">{{ stockrecord_operation.stockrecord.store }}</td>
                                  <td class="status">
                                    {% if stockrecord_operation.type == 'Приемка' %}
                                      <span class="badge badge-success">{{ stockrecord_operation.type }}</span>
                                    {% elif stockrecord_operation.type == 'Списание' %}
                                      <span class="badge badge-danger">{{ stockrecord_operation.type }}</span>
                                    {% else %}
                                      <span class="badge badge-info">{{ stockrecord_operation.type }}</span>
                                    {% endif %}
                                  </td>
                                  <td class="quantity" data-label="Количество">{{ stockrecord_operation.num }}</td>
                                  <td data-label="Пользователь">
                                    {% if stockrecord_operation.user %}
                                      <a href="{% url 'dashboard:staff-detail' pk=stockrecord_operation.user.id %}">
                                        {{ stockrecord_operation.user.get_full_name }}
                                        {{ stockrecord_operation.user.username }}
                                      </a>
                                    {% else %}
                                      -
                                    {% endif %}
                                  </td>
                                  <td data-label="Коментарий">{{ stockrecord_operation.message|default:'-' }}</td>
                                  <td data-label="Время">{{ stockrecord_operation.date_created|date:'d.m.Y H:i' }}</td>
                                  <td class="toggle-row">
                                    <button class="btn btn-secondary" type="button">
                                      <i class="fa-solid fa-chevron-up"></i>
                                      <i class="fa-solid fa-chevron-down"></i>
                                    </button>
                                  </td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          {% else %}
                            <tbody>
                              <tr class="empty-tr">
                                <td class="empty-td" colspan="6">Нет истории изменений.</td>
                              </tr>
                            </tbody>
                          {% endif %}
                        </table>
                        {% include 'oscar/partials/pagination.html' with page_obj=stockrecord_operations %}
                      </div>
                    {% endif %}
                  {% endblock %}
                </div>
              {% endif %}
            {% endblock %}
            {% block child_products %}
              {% with children=product.children.all %}
                <div class="tab-pane" id="child_products">
                  {% block child_products_content %}
                    <div class="mobile-table">
                      <table class="table table-striped table-bordered">
                        <caption>
                          <div class="d-flex justify-space-between">
                            Варианты
                            <div class="ml-3">
                              {% if full_access %}
                                {% if product.can_be_parent %}
                                  <button class="btn btn-success" name="action" type="submit" value="create-all-child" data-loading-text="Создание...">
                                    <i class="fa-solid fa-wand-magic-sparkles"></i>
                                    <span class="caption-button">Создать все вариации</span>
                                  </button>
                                {% endif %}
                                <button class="btn btn-primary ml-2" {% if not product.can_be_parent %}disabled{% endif %}name="action" type="submit" value="create-child" data-loading-text="Добавление...">
                                  <i class="fas fa-plus"></i>
                                  <span class="caption-button">Добавить вариант</span>
                                </button>
                              {% endif %}
                            </div>
                          </div>
                        </caption>
                        {% if children %}
                          <thead>
                            <tr>
                              <th>Имя</th>
                              <th>Атрибуты</th>
                              <th>Товарные записи</th>
                              <th>Доступен</th>
                              <th>&nbsp;</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for child in children %}
                              <tr>
                                <td class="name">
                                  <a href="{% url 'dashboard:catalogue-product' pk=child.id %}">{{ child.get_name }}</a>
                                </td>
                                <td class="title">{{ child.attributes_variants }}</td>
                                <td data-label="Товарные записи">{{ child.stockrecords.count }}</td>
                                <td data-label="Доступен">{{ child.is_public|yesno:'✔️,❌' }}</td>
                                <td class="actions">
                                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-edit"></i></button>
                                  <div class="dropdown-menu dropdown-menu-right" data-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'dashboard:catalogue-product' pk=child.id %}">Изменить</a>
                                    {% if full_access %}
                                      <a class="dropdown-item" href="{% url 'dashboard:catalogue-product-delete' pk=child.id %}">Удалить</a>
                                    {% endif %}
                                  </div>
                                </td>
                                <td class="toggle-row">
                                  <button class="btn btn-secondary" type="button">
                                    <i class="fa-solid fa-chevron-up"></i>
                                    <i class="fa-solid fa-chevron-down"></i>
                                  </button>
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        {% else %}
                          <tbody>
                            <tr class="empty-tr">
                              <td class="empty-td">
                                {% if product.can_be_parent %}
                                  У этого товара нет созданых вариаций.
                                {% else %}
                                  На данный момент нельзя добавлять варианты к этому товару.
                                  <br /><br />
                                  {% if product.pk is None %}
                                    Пожалуйста, сохраните товар, прежде чем пытаться добавить варианты.
                                  {% elif product.has_stockrecords %}
                                    Вероятно, это связано с тем, что для этого продукта все еще имеются товарные записи.
                                    <br />
                                    Удалите товарные записи для создания вариативного товара.
                                  {% else %}
                                    Нет подходящих атрибутов для создания вариаций.
                                  {% endif %}
                                {% endif %}
                              </td>
                            </tr>
                          </tbody>
                        {% endif %}
                      </table>
                    </div>
                  {% endblock %}
                </div>
              {% endwith %}
            {% endblock %}
            {% block recommended_products %}
              {% if recommended_formset %}
                <div class="tab-pane" id="product_recommended">
                  {% block recommended_products_content %}
                    {{ recommended_formset.management_form }}
                    {{ recommended_formset.non_form_errors }}
                    <table class="table table-striped table-bordered">
                      <caption>Рекомендации</caption>
                      {% for recommended_form in recommended_formset %}
                        <tr class="form-inline justify-space-between">
                          <td class="d-flex flex-wrap fill-width">
                            {% include 'oscar/dashboard/partials/form_fields_inline.html' with form=recommended_form %}
                          </td>
                        </tr>
                      {% endfor %}
                    </table>
                  {% endblock %}
                </div>
              {% endif %}
            {% endblock %}
            {% block additional_products %}
              {% if additional_formset %}
                <div class="tab-pane" id="product_additional">
                  {% if has_additionals %}
                    <div class="tab-pane active mb-3">
                      <div class="table-header">
                        <h3>
                          Дополнительные товары
                          <span class="badge badge-success ml-1">{{ product_class }}</span>
                        </h3>
                      </div>
                      <div class="card card-body product-details">
                        {% if class_additionals %}
                          {% for addit in class_additionals %}
                            {{ addit }}{% if not forloop.last %}, {% endif %}
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                  {% endif %}
                  {% block additional_products_content %}
                    {{ additional_formset.management_form }}
                    {{ additional_formset.non_form_errors }}
                    <table class="table table-striped table-bordered">
                      <caption>Дополнительные товары</caption>
                      {% for additional_form in additional_formset %}
                        <tr>
                          <td class="form-inline">
                            {% include 'oscar/dashboard/partials/form_fields_inline.html' with form=additional_form %}
                          </td>
                        </tr>
                      {% endfor %}
                    </table>
                  {% endblock %}
                </div>
              {% endif %}
            {% endblock %}
            {% block seo %}
              {% if full_access %}
                <div class="tab-pane" id="seo">
                  <div class="table-header">
                    <h3>Поисковая оптимизация</h3>
                  </div>
                  <div class="card card-body">
                    {% block seo_content %}
                      {% for field in form.seo_form_fields %}
                        {% if 'attr' not in field.id_for_label %}
                          {% include 'oscar/dashboard/partials/form_field.html' with field=field %}
                        {% endif %}
                      {% endfor %}
                    {% endblock %}
                  </div>
                </div>
              {% endif %}
            {% endblock %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% block fixed_actions_group %}
      <div class="fixed-actions-group">
        <div class="container container-fluid">
          <div class="d-flex justify-content-between flex-wrap align-items-end">
            <div>
              {% with evotor_field=form.evotor_update %}
                <label for="{{ evotor_field.auto_id }}" class="checkbox-ios">
                  {% render_field evotor_field class='form-control' %}
                  <span class="checkbox-ios-switch"></span>
                </label>
                {% for error in evotor_field.errors %}
                  <span class="error-block"><i class="fas fa-exclamation"></i> {{ error }}</span>
                {% endfor %}
                {% if evotor_field.help_text %}
                  <small class="form-text text-muted">{{ evotor_field.help_text|safe }}</small>
                {% endif %}
              {% endwith %}
            </div>
            <div class="d-flex justify-content-end mt-3">
              {% if product %}
                <a class="btn btn-outline-info mr-2" href="{{ product.get_absolute_url }}">
                  <i class="fa-solid fa-share"></i>
                  <span>Смотреть на сайте</span>
                </a>
              {% endif %}
              <a class="btn btn-secondary mr-2" href="{% url 'dashboard:catalogue-product-list' %}">
                <i class="fa-regular fa-circle-xmark"></i>
                <span>Отменить</span>
              </a>
              <button class="btn btn-primary" name="action" type="submit" value="continue" data-loading-text="Сохранение...">
                <i class="fa-regular fa-floppy-disk"></i>
                <span>Сохранить</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </form>
{% endblock %}

{% block onbodyload %}
  {{ block.super }}
  oscar.dashboard.product.initProductClass();
{% endblock %}
