{% load currency_filters %}

{% if not record.get_prices %}
    -
{% else %}
    {% if record.old_price %}
        {% if record.min_price != record.max_price %}
            <span class="text-danger">
                от {{ record.min_price|currency }}
            </span>
            <br>
            <span class="text-muted text-line-through">
                до {{ record.old_price|currency }}
            </span>
        {% else %}
        <span class="text-danger">
            {{ record.min_price|currency }}
        </span>
        <br>
        <span class="text-muted text-line-through">
            {{ record.old_price|currency }}
        </span>
        {% endif %}
    {% else %}
        {% if record.min_price != record.max_price %}
                от {{ record.min_price|currency }}
                <br>
                до {{ record.max_price|currency }}
        {% else %}
            {{ record.min_price|currency }}
        {% endif %}
    {% endif %}
{% endif %}
