{% extends 'webshop/layout.html' %}

{% load svg_tags %}
{% load compress %}
{% load static %}

{% block app_class %}
  app---shipping
{% endblock %}

{% block nav_class %}
  app__nav--shipping
{% endblock %}

{% block wrapper_class %}
  shipping wrapper--small fill-width pd-2 pb-sm-4 shipping-address
{% endblock %}

{% block breadcrumbs %}
  <div aria-label="breadcrumb" class="bread d-none d-sm-flex align-center mt-2 mb-3">
    <button onclick="getBack(); return false" data-id="back-bread-btn" class="mr-1 pd-0">{% icon file_name='interface/arrow-back' size=22 stroke='#111' %}</button>
    <a href="{{ homepage_url }}" data-id="back-bread-btn" class="bread__link router-link-active">Главная</a>
    {% icon file_name='interface/arrow-left' size=22 stroke='#999' %}
    <span class="bread__link" aria-current="page">Доставка</span>
  </div>
{% endblock %}

{% block content %}
  <div class="shipping__wrapper">
    {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    {% block pickup_address %}
      <div class="shipping__address">
        <div class="shipping__title mb-2 d-none d-sm-block">
          <h1>Доставка и оплата</h1>
        </div>
        <form action="{% url 'address:shipping-address' %}" method="post" id="set_address">
          <div class="shipping__address-input fill-width pos-relative">
            <div class="address-info d-flex flex-column flex-sm-row">
              <div class="input-search d-flex fill-width justify-space-between align-center">
                {% icon file_name='interface/search' size=20 fill='#8a8a8a' %}
                <div id="line1_container" class="shipping fill-width input fill-width">
                  <div class="shipping--input d-flex">
                    <input type="text" name="line1" id="id_line1" placeholder="Введите улицу и дом" data-id="address-input" value="{{ address.line1 }}" autocomplete="off" {% if address.readonly %}readonly{% endif %}/>
                    <div class="shipping--btn d-flex align-center justify-end">
                      <button id="clean_address" type="button" class="shipping--clear shrink d-flex align-center justify-center fill-height fill-width">{% icon file_name='interface/close' size=24 stroke='#d32225' %}</button>
                    </div>
                    <input type="hidden" name="coords_long" id="id_coords_long" value="{{ address.coords_long }}" />
                    <input type="hidden" name="coords_lat" id="id_coords_lat" value="{{ address.coords_lat }}" />
                  </div>
                  <div id="suggest_list" class="search__suggest d-none"></div> {% comment %}2gis{% endcomment %}
                </div>
              </div>
            </div>
            <span id="line1_hints" class="shipping__address-hint d-flex flex-column justify-center px-2 mt-2 d-none"></span>
          </div>
        </form>
      </div>
      <div class="shipping__map mt-2">
        <div class="map__wrapper fill-width fill-height">
          <div class="map fill-width fill-height">
            <div id="map" class="fill-width fill-height"></div>
            <div id="map_controls" class="shipping-map--submit d-flex flex-column align-center justify-center pd-2 pd-md-4 d-none">
              <div id="map_address" class="shipping-map--label d-flex flex-column justify-center align-center px-2 py-1 mb-1 mb-sm-2"></div>
              <button id="submit_address" type="button" data-id="shipping-map-submit-btn" class="button fill-width button--main button--map justify-center shrink">
                <span class="button__wrapper">
                  <span class="button__value">Доставить на этот адрес</span>
                  <span class="button__value button__value--saved">Адрес сохранен</span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="shipping__info mt-4 pd-md-0">
        <div class="shipping__regions-block mt-4">
          <div>
            <span class="mb-1"><strong>Время работы фудкорта в ТРЦ "Планета":</strong></span>
            <br />
            <span>С 09:00 до 23:00</span>
            <br /><br />
            <span class="mb-1"><strong>Время работы доставки:</strong></span>
            <br />
            <span>С 09:00 до 23:00</span>
            <br /><br />
            <span>Оформить заказ можно на сайте mikado-sushi.ru или в ТРЦ "Планета" по адресу ул. 9 Мая 77.</span>
            <br /><br />
            <span>Минимальная сумма заказа — 700 рублей.</span>
            <br /><br />
            <span><strong>Оплатить заказ можно любым удобным вам способом:</strong></span>
            <br /><br />
            <ul>
              <li>Онлайн с помощью карт МИР, VISA и MASTERCARD;</li>
              <li>Банковскими картами этих же платежных систем через систему быстрых платежей (СБП);</li>
              <li>Наличными курьеру при получении заказа.</li>
            </ul>
            <br />
            <span><strong>Порядок возврата:</strong></span>
            <br /><br />
            <span>Возврат средств производится на ваш банковский счёт в течение 10 рабочих дней (срок зависит от банка, который выдал вашу банковскую карту).</span>
            <br /><br />
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}

{% block templatescripts %}
  {{ block.super }}
  var url_time = "{% url 'shipping:order-now' %}"; var url_shipping_zones = "{% url 'shipping:shipping-zones' %}";
{% endblock %}

{% block externalscripts %}
  <script src="https://api-maps.yandex.ru/2.1/?apikey=27bbbf17-40e2-4c01-a257-9b145870aa2a&suggest_apikey=a95e9492-342c-4d78-a53c-c7e78f0570ec&lang=ru_RU"></script>
{% endblock %}

{% block extrascripts %}
  {{ block.super }}
  {% compress js %}
  <script src="{% static 'js/webstore/address/shipping-address.js' %}" defer></script>
  <script src="{% static 'js/webstore/address/cookie-address.js' %}" defer></script>
  {% endcompress %}
{% endblock %}

{% block onbodyload %}
  createMap("{{ address.line1 }}");
{% endblock %}
