{% extends 'oscar/layout.html' %}

{% load static %}

{% block wrapper_class %}
  profile fill-width pd-2 pb-sm-4 profile__container
{% endblock %}

{% block app_class %}
  app---profile
{% endblock %}

{% block nav_class %}
  app__nav--profile
{% endblock %}

{% block content %}
  <div class="profile wrapper--small d-flex flex-column fill-width fill-height">
    <div class="profile__wrapper d-flex flex-column fill-width grow-1">
      <div data-id="profile-wrapper" class="profile-wrapper{% if content_open %} open{% endif %} d-flex fill-width pt-0 pt-sm-3">
        <div class="profile__menu fill-width">
          <div class="d-flex flex-column fill-width pb-sm-3 ml-sm-2">
            <p class="profile__user-name">
              Привет{% if request.user.name %}, {{ request.user.name }}{% endif %}!
            </p>
            <p class="profile__user-phone mt-1">{{ request.user.username }}</p>
          </div>
          {% block standard_tabs %}
            {% include 'oscar/customer/partials/standard_tabs.html' %}
          {% endblock %}
        </div>
        <div class="profile__content fill-width pl-0 pl-sm-4">
          {% block tabcontent %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
