{% extends 'oscar/dashboard/layout.html' %}

{% load render_table from django_tables2 %}

{% block title %}Группы параметров атрибута | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Группы параметров атрибута</li>
        </ol>
    </nav>
{% endblock %}

{% block header %}
    <div class="page-header">
        <a href="{% url 'dashboard:catalogue-attribute-option-group-create' %}?{{ querystring }}" class="btn btn-primary float-right">
            <i class="fas fa-plus-circle"></i> Создать группу параметров атрибута
        </a>
        <h1>Группа параметров атрибута</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    {% if attribute_option_groups %}
        {% block product_list %}
            <form class="mobile-table" method="post">
                {% csrf_token %}
                {% render_table attribute_option_groups %}
            </form>
        {% endblock product_list %}
    {% else %}
        <p>Группы параметров атрибута не созданы</p>
    {% endif %}
{% endblock dashboard_content %}
