{% extends 'oscar/dashboard/layout.html' %}

{% load category_tags %}
{% load render_table from django_tables2 %}

{% block body_class %}{{ block.super }} catalogue{% endblock %}
{% block title %}Категории | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">Главная</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Категории
            </li>
        </ol>
    </nav>
{% endblock %}

{% block header %}
    <div class="page-header">
        <a href="{% url 'dashboard:catalogue-category-create' %}" class="btn btn-primary float-right"><i class="fas fa-plus-circle"></i><span>&nbsp;Создать категорию</span></a>
        <h1>Категории</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}

    {% if ancestors %}
        <div class="alert alert-info">
            <div>
                <strong><a href="{% url 'dashboard:catalogue-category-list' %}">Категории</a></strong>
                &gt;
                {% for ancestor in ancestors %}
                    <strong><a href="{% url 'dashboard:catalogue-category-detail-list' pk=ancestor.pk %}">{{ ancestor.name }}</a></strong>{% if not forloop.last %} > {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
        
    <div class="mobile-table">
        {% render_table categories %}
    </div>

    {% if not child_categories %}
        <p>Нет созданных категорий</p>
    {% endif %}
{% endblock dashboard_content %}
