{% extends 'oscar/dashboard/layout.html' %}
{% load render_table from django_tables2 %}

{% block body_class %}{{ block.super }} catalogue{% endblock %}
{% block title %}Продукты | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">Главная</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Продукты
            </li>
        </ol>
    </nav>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>Продукты</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}

    {% block search_products %}
        <div class="table-wrapper mb-4">
            <div class="table-header d-flex justify-space-between" data-target="#card-body" 
            data-toggle="collapse" aria-controls="card-body" aria-expanded="false">
                <h3><i class="fas fa-search"></i> Поиск и создание</h3>
                <i class="fas fa-square-plus" style="color: var(--primary);"></i>
            </div>
            <div class="card card-body dropdown-list collapse" id="card-body">
                <h2 class="mb-4">Создание</h2>
                <form action="{% url 'dashboard:catalogue-product-create' %}" method="get" class="form-inline fill-width justify-space-between">
                    {% include "oscar/dashboard/partials/form_fields_inline.html" with form=productclass_form %}
                    <button class="btn btn-primary btn-form" type="submit" data-loading-text="Создание продукта...">
                        <i class="fas fa-plus-circle"></i> Новый продукт
                    </button>
                </form>
                <h2 class="my-4">Поиск</h2>
                <form method="get" class="form-inline fill-width justify-space-between">
                    <div class="d-flex form-row">
                        {% for name, value in request.GET.items %}
                            {% if name not in form.fields %}
                                <input type="hidden" name="{{ name }}" value="{{ value }}"/>
                            {% endif %}
                        {% endfor %}
                        {% include "oscar/dashboard/partials/form_fields_inline.html" with form=form %}
                    </div>
    
                    <button type="submit" class="btn btn-primary btn-form mb-3" data-loading-text="Поиск..."><i class="fas fa-search"></i> Поиск</button>
                </form>
            </div>
        </div>
    {% endblock %}

    {% if products %}
        {% block product_list %}

            <form class="mobile-table" method="post">
                {% csrf_token %}
                {% render_table products %}
            </form>

            <div class="modal fade" id="product-image-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body text-center">
                            <img class="img-fluid mx-auto" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>

        {% endblock product_list %}
    {% else %}
        <p class="py-2">Ничего не найдено</p>
    {% endif %}

{% endblock dashboard_content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.dashboard.product_lists.init();
{% endblock onbodyload %}
