{% extends 'oscar/dashboard/layout.html' %}
{% load render_table from django_tables2 %}

{% block body_class %}{{ block.super }} catalogue{% endblock %}

{% block title %}Уведомления о наличии | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Уведомления о наличии</li>
        </ol>
    </nav>
{% endblock %}

{% block header %}
    <div class="page-header d-flex justify-content-between">
        <h1>Уведомления о наличии</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <div class="mobile-table">
        {% if alerts %} 
            {% render_table alerts %}                 
        {% else %}
            <tr><td class="empty">Уведомления о наличии не найдены</td></tr>
        {% endif %}
    </div>
{% endblock dashboard_content %}