{% extends 'oscar/dashboard/layout.html' %}

{% block title %}
  {{ title }} | Ассортимент | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:index' %}">Главная</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:range-list' %}">Ассортименты</a>
      </li>
      {% if range %}
        <li class="breadcrumb-item active" aria-current="page">{{ range.name }}</li>
      {% else %}
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      {% endif %}
    </ol>
  </nav>
{% endblock %}

{% block navtext %}
  <h1>
    {% if range %}
      {{ range.name }}
    {% else %}
      Создать новый ассортимент
    {% endif %}
  </h1>
{% endblock %}

{% block dashboard_content %}
  <div class="form-stacked wysiwyg fixed-actions">
    <div class="table-header">
      <h3>Описание</h3>
    </div>
    <form method="post" class="card card-body mb-3" id="range-form">
      {% csrf_token %}
      {% include 'oscar/dashboard/partials/form_fields.html' with form=form %}
    </form>
    {% block form_actions %}
      <div class="fixed-actions-group">
        <div class="container container-fluid">
          <div class="float-right">
            <a class="btn btn-secondary mr-2" href="{% url 'dashboard:catalogue-product-list' %}">
              <i class="fa-regular fa-circle-xmark"></i>
              Отменить
            </a>
            <button class="btn btn-primary" type="submit" form="range-form" data-loading-text="Сохранение...">
              <i class="fa-regular fa-floppy-disk"></i>
              Сохранить
            </button>
          </div>
          <button class="btn btn-success" type="submit" form="range-form" name="action">
            <i class="fa-solid fa-pencil"></i>
            <span>Изменить список продуктов</span>
          </button>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
