{% extends 'oscar/dashboard/layout.html' %}
{% load image_tags %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block title %}
    Ассортимент '{{ range.name }}' | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Главная</a></li>
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:range-list' %}">Ассортименты</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:range-update' pk=range.id %}">{{ range.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Товары
            </li>
        </ol>
    </nav>
{% endblock %}

{% block navtext %}
  <h1>{{ range.name }}: Товары</h1>
{% endblock %}

{% block dashboard_content %}

<div class="dashboard fixed-actions">
  <div class="half-wrapper mb-3">
    <div class="nav tabs-button d-flex fill">
      {% block nav_tabs %}
        <div class="tabs-button__active-block" style="width: 50%; left: 0px;"><div class="fill-width fill-height"></div></div>
        <button role="button" class="tabs-button__button {% if not upload_type == "excluded" %}active{% endif %}" href="#included" data-toggle="tab">Добавленные</button>
        <button role="button" class="tabs-button__button {% if upload_type == "excluded" %}active{% endif %}" href="#excluded" data-toggle="tab">Исключенные</button>
      {% endblock nav_tabs %}
    </div>
  </div>
  <div class="tab-content">
    <div class="tab-pane fade {% if not upload_type == "excluded" %}show active{% endif %}" id="included" role="tabpanel">
      {% if range.includes_all_products %}
        В этом ассортименте представлены все товары. Чтобы добавить товары вручную, снимите флажок «Включает все товары» на странице редактирования диапазона.
      {% else %}
        {% if products %}
          <form method="post" class="fill-width mb-3">
            {% csrf_token %}
            <div class="mobile-table">
              <table class="table table-striped table-bordered table-hover">
                <caption>
                  <h3 class="float-left">Товары в ассортименте</h3>
                  <div class="float-right">
                    <input type="hidden" name="action" value="remove_selected_products" />
                    <button type="submit" class="btn btn-secondary" data-loading-text="Удаление...">
                      <i class="fa-solid fa-trash"></i>
                      <span class="caption-button">
                        &nbsp; Удалить выбранные
                      </span>
                    </button>
                  </div>
                </caption>
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th>Имя</th>
                    <th class="text-center">Возможна скидка?</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="product_list">
                  {% for product in products %}
                    <tr id="product_{{ product.pk }}">
                      <td class="statistic">
                        <input type="checkbox" name="selected_product" value="{{ product.id }}" />
                      </td>
                      <td class="image">
                        {% if product.primary_image.original %}
                          {% with image=product.primary_image.original %}
                            {% oscar_thumbnail image "80x80" upscale=False as thumb %}
                            <a href="#" data-original="{{ image.url }}" class="sub-image">
                                <img class="img-dashboard" src="{{ thumb.url }}" alt="{% if image.caption %}{{ image.caption }}{% else %}{{ record.name }}{% endif %}" loading="lazy">
                            </a>
                          {% endwith %}
                        {% else %}
                            —
                        {% endif %}
                      </td>
                      <td class="name">
                        <a href="{% url 'dashboard:catalogue-product' pk=product.id %}">{{ product.get_name }}</a>
                        {% if product.is_child and product.variant %}
                            <br>
                            <span class="small">{{ product.variant }}</span>
                        {% endif %}
                        <br>
                        <span class="text-muted small">Артикул: {{ product.article|default:"-" }}</span>
                      </td>
                      <td class="is_public" data-label="Возможна скидка?">{% if product.is_discountable %}✔️{% else %}❌{% endif %}</td>
                      <td class="delete" data-label="Удалить">
                        <button role="button" class="btn btn-danger" data-behaviours="remove">Удалить</button>
                        {% if range.is_reorderable %}
                          <button role="button" href="#" class="btn btn-info btn-handle">
                            <i class="fas fa-arrows-alt"></i>
                            Изменить порядок
                          </button>
                        {% endif %}
                      </td>
                      <td class="toggle-row">
                          <button class="btn btn-secondary" type="button">
                              <i class="fa-solid fa-chevron-up"></i>
                              <i class="fa-solid fa-chevron-down"></i>
                          </button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% include "oscar/dashboard/partials/pagination.html" %}
          </form>
        {% else %}
          <table class="table table-striped table-bordered table-hover mb-3">
            <caption>
              Товары в ассортименте
            </caption>
            <tr><td>Товары не найдены</td></tr>
          </table>
        {% endif %}
        <div class="table-header">
          <h3>Добавить товары</h3>
        </div>
        <div class="card card-body bg-light">

          <form method="post" class="form-stacked fill-width" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="action" value="add_products"/>
            {% include 'oscar/dashboard/partials/form_fields.html' with form=form %}
            <div class="controls d-flex justify-content-end">
              <button type="submit" class="btn btn-primary" data-loading-text="Загрузка...">
                <i class="fa-solid fa-angles-down"></i>
                Загрузить
              </button>
            </div>
          </form>

          {% with uploads=file_uploads_included %}
            {% if uploads %}
            <div class="table-header">
              <h3>История загрузок</h3>
            </div>
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Имя файла</th>
                  <th>Новые товары</th>
                  <th>Дублирующиеся товары</th>
                  <th>Неизвестные товары</th>
                  <th>Дата загрузки</th>
                </tr>
              </thead>
              <tbody>
                {% for upload in uploads %}
                  <tr>
                    <td>{{ upload.filepath }}</td>
                    <td>{{ upload.num_new_skus }}</td>
                    <td>{{ upload.num_duplicate_skus }}</td>
                    <td>{{ upload.num_unknown_skus }}</td>
                    <td>{{ upload.date_uploaded }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
          {% endwith %}
        </div>
      {% endif %}
    </div>

    <div class="tab-pane fade {% if upload_type == "excluded" %}show active{% endif %}" id="excluded" role="tabpanel">
        {% if range.excluded_products.count %}
          <form method="post" class="fill-width mb-3">
            {% csrf_token %}
            <div class="mobile-table">
              <table class="table table-striped table-bordered table-hover">
                <caption>
                  <h3 class="float-left">Исключеные товары из ассортимента</h3>
                  <div class="float-right">
                    <input type="hidden" name="action" value="remove_excluded_products" />
                    <button type="submit" class="btn btn-secondary" data-loading-text="Добавление...">
                      <i class="fa-solid fa-plus"></i>
                      <span class="caption-button">
                        &nbsp; Добавить выбранные
                      </span>
                    </button>
                  </div>
                </caption>
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th>Имя</th>
                    <th class="text-center">Возможна скидка?</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="product_list">
                  {% for product in range.excluded_products.all %}
                    <tr id="product_{{ product.pk }}">
                      <td class="statistic">
                        <input type="checkbox" name="selected_product" value="{{ product.id }}" />
                      </td>
                      <td class="image">
                        {% if product.primary_image.original %}
                          {% with image=product.primary_image.original %}
                            {% oscar_thumbnail image "80x80" upscale=False as thumb %}
                            <a href="#" data-original="{{ image.url }}" class="sub-image">
                                <img class="img-dashboard" src="{{ thumb.url }}" alt="{% if image.caption %}{{ image.caption }}{% else %}{{ record.name }}{% endif %}" loading="lazy">
                            </a>
                          {% endwith %}
                        {% else %}
                            —
                        {% endif %}
                      </td>
                      <td class="name">
                        <a href="{% url 'dashboard:catalogue-product' pk=product.id %}">{{ product.get_name }}</a>
                        {% if product.is_child and product.variant %}
                            <br>
                            <span class="small">{{ product.variant }}</span>
                        {% endif %}
                        <br>
                        <span class="text-muted small">Артикул: {{ product.article|default:"-" }}</span>
                      </td>
                      <td class="is_public" data-label="Возможна скидка?">{% if product.is_discountable %}✔️{% else %}❌{% endif %}</td>
                      <td class="delete" data-label="Удалить">
                        <button role="button" class="btn btn-success" data-behaviours="remove">Добавить</button>
                        {% if range.is_reorderable %}
                          <button role="button" href="#" class="btn btn-info btn-handle">
                            <i class="fas fa-arrows-alt"></i>
                            Изменить порядок
                          </button>
                        {% endif %}
                      </td>
                      <td class="toggle-row">
                          <button class="btn btn-secondary" type="button">
                              <i class="fa-solid fa-chevron-up"></i>
                              <i class="fa-solid fa-chevron-down"></i>
                          </button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </form>

        {% else %}
          <table class="table table-striped table-bordered table-hover">
            <caption>
              Товары из ассортимента
            </caption>
            <tr><td>Товары не найдены</td></tr>
          </table>
        {% endif %}

        <div class="table-header">
          <h3>Исключить товары</h3>
        </div>

        <div class="card card-body bg-light">
          <form method="post" class="form-stacked fill-width" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="action" value="add_excluded_products"/>
            {% include 'oscar/dashboard/partials/form_fields.html' with form=form_excluded %}
            <div class="controls d-flex justify-content-end">
              <button type="submit" class="btn btn-primary" data-loading-text="Загрузка...">
                <i class="fa-solid fa-angles-down"></i>
                Загрузить
              </button>
            </div>
          </form>
          {% with uploads=file_uploads_excluded %}
          {% if uploads %}
            <div class="table-header">
              <h3>История загрузок</h3>
            </div>
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Имя файла</th>
                  <th>Новые товары</th>
                  <th>Дублирующиеся товары</th>
                  <th>Неизвестные товары</th>
                  <th>Дата загрузки</th>
                </tr>
              </thead>
              <tbody>
                {% for upload in uploads %}
                  <tr>
                    <td>{{ upload.filepath }}</td>
                    <td>{{ upload.num_new_skus }}</td>
                    <td>{{ upload.num_duplicate_skus }}</td>
                    <td>{{ upload.num_unknown_skus }}</td>
                    <td>{{ upload.date_uploaded }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
          {% endwith %}
        </div>
    </div>
  </div>

  {% block fixed_actions_group %}
    <div class="fixed-actions-group">
      <div class="container container-fluid">
        <div class="d-flex justify-content-end">  
            <a class="btn btn-secondary mr-2" href="{% url 'dashboard:range-list' %}">
              <i class="fa-regular fa-circle-xmark"></i> 
              <span>
                Отменить
              </span>
            </a>             
            <a class="btn btn-primary" href="{% url 'dashboard:range-update' pk=range.id %}">
              <i class="fa-solid fa-share"></i>
              <span>
                Назад
              </span>
            </a>
        </div>
      </div>
    </div>
  {% endblock fixed_actions_group %}
</div>
{% endblock dashboard_content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.dashboard.ranges.init();
    oscar.dashboard.reordering.init({
        wrapper: '.product_list',
        submit_url: '{% url 'dashboard:range-reorder' pk=range.id %}'
    });
{% endblock %}
