{% extends 'dashboard/layout.html' %}

{% load render_table from django_tables2 %}
{% load currency_filters %}
{% load dashboard_tags %}
{% load static %}

{% block title %}
  {{ title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:index' %}">Панель управления</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:refunds-list' %}">Возвраты</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
  </nav>
{% endblock %}

{% block header %}
  <div class="page-header d-flex flex-column justify-content-start">
    <h1>{{ title }}</h1>
    <p class="d-flex align-items-end mt-2 mb-0 text-muted">Возврат №{{ refund.id }}</p>
  </div>
{% endblock %}

{% block dashboard_content %}
  {% order_date refund.created_at as date %}
  {% order_number refund.description as number %}
  <div class="mobile-table">
    <div class="table-container">
      <table class="table table-bordered table-hover">
        <caption>
          <i class="fas fa-payments"></i>Информация о платеже
        </caption>
        <thead>
          <tr>
            <th class="title">Заказ</th>
            <th class="amount">Сумма</th>
            <th class="status">Статус</th>
            <th class="date">Дата создания</th>
            <th class="payment">ID Платежа</th>
          </tr>
        </thead>
        <tbody>
          <tr class="mobile-open pt-0">
            <td class="title" data-label="Заказ">
              <div class="d-flex align-items-center">
                <span class="spinner-border-sm {% if refund.status == 'succeeded' %}
                    badge-success
                  {% else %}
                    badge-danger
                  {% endif %} rounded-circle mr-2">
                  &nbsp;
                </span>
                <a href="{% url 'dashboard:order-detail' number=number %}">{{ refund.description }}</a>
              </div>
            </td>
            <td class="amount" data-label="Сумма">{{ refund.amount.value|currency }}</td>
            <td class="status" data-label="Статус">
              {% if refund.status == 'succeeded' %}
                <span class="badge badge-success">Возвращено</span>
              {% elif refund.status == 'canceled' %}
                <span class="badge badge-danger">Возврат не удался</span>
              {% elif refund.status == 'pending' %}
                <span class="badge badge-pending">Обрабатывается</span>
              {% endif %}
            </td>
            <td class="date" data-label="Дата">{{ date }}</td>
            <td class="payment" data-label="Платеж">
              <a href="{% url 'dashboard:payment-detail' pk=refund.payment_id %}">{{ refund.payment_id }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
