{% extends 'oscar/dashboard/layout.html' %}

{% load i18n %}

{% block body_class %}{{ block.super }} create-page users{% endblock %}

{% block title %}
    {% blocktrans with id=alert.id %}Alert #{{ id }}{% endblocktrans %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% blocktrans with id=alert.id %}Alert #{{ id }}{% endblocktrans %}</li>
        </ol>
    </nav>
{% endblock %}

{% block navtext %}
    {% blocktrans with id=alert.id %}Delete alert #{{ id }}?{% endblocktrans %}
{% endblock %}

{% block dashboard_content %}
{% endblock dashboard_content %}
