{% load django_tables2 %}
{% load currency_filters %}

<span class="{% if record.paid %}text-success{% else %}{% endif %}">
    {% if record.source == 'SBP' %}
        СБП
    {% elif record.source == 'ONLINECARD' %}
        Онлайн Карта
    {% elif record.source == 'ELECTRON' %}
        Картой в магазине
    {% elif record.source == 'CASH' %}
        Наличные
    {% else %}
        {{ record.source }}
    {% endif %}
    {% if record.amount_paid %}
        {{ record.amount_paid|currency:record.currency }}
    {% endif %}
</span>