# Packaging
*.pyc
__pycache__
*.egg-info
/dist/
/build/
/node_modules/

# venv
logs/*
.venv
/bin/
/lib/
/share
/pyvenv.cfg
/pip-selfcheck.json

# migrations
migrations/*
!migrations/__init__.py

/config/*.conf
/config/*.conf.py

# Vagrant 
.vagrant

# Temporary/OS files
*.swp
*.swo
*.*~
.~lock.*
*.DS_Store
.python-version
db.sqlite
*.env
/public/static/*
/public/media/*
/whoosh_index/*

# static
variables.css
footer.html

favicon.ico
logo.svg

# IDE files
.project
.pydevproject
.settings
.idea
.vscode

# Docs
/docs/build/*
/src/oscar/static/
*.pdf
TODO
venv
production.py

# Test files
.coverage
.coverage\.*
.noseids
coverage.xml
violations.txt
nosetests.xml
/.cache/
/.pytest_cache/
/htmlcov/*
/.tox/*
