{% load svg_tags %}
<div class="v-auth-modal pos-fixed d-flex align-center justify-center" data-id="modal-close">
    <div class="v-auth-modal__content scrollbar px-2 pt-6 pd-sm-4">

        <button onclick="openAuthModal()" data-id="close-auth-modal" class="v-button v-app-header__back v-button--small justify-center shrink d-block d-sm-none" style="top: -38px;">
            <span class="v-button__wrapper">
                <span class="d-flex">
                    {% icon file_name='interface/arrow-home' size=24 stroke='#000'%}
                </span>
            </span>
        </button>

        <div class="d-flex flex-column align-center justify-center align-sm-start mb-3 mb-sm-2">
            <header class="fill-width d-flex justify-center justify-sm-space-between align-center">
                <div class="v-auth-modal__title">Войти</div>
                <div class="d-none d-sm-flex">
                    <button data-id="close-button" onclick="openAuthModal()"
                        class="v-close-button d-flex justify-center align-center">
                        {% icon file_name='interface/close' size=24 stroke="#111"%}
                    </button>
                </div>
            </header>
            <p class="v-auth-modal__message mt-1 mt-sm-2"> Введите номер телефона, чтобы авторизоваться </p>
        </div>


        <div class="v-auth flex flex-column text-center">
            <form id="auth_form" action="{{ request.get_full_path }}" method="post" class="card card-body bg-light">
                {% csrf_token %}

                {% comment %} поля {% endcomment %}
                {% include "oscar/partials/form_auth.html" with form=auth_form %}

                <div class="d-flex flex-column fill-height mt-3 mt-sm-2">
                    <div>

                        {% comment %} кнопки {% endcomment %}
                        <div class="v-auth-modal__submit flex-column align-center px-2 px-sm-0 py-2 py-sm-0">

                            <button id="sms_form_btn" type="submit" name="sms"
                                disabled="disabled" data-id="auth-submit-btn"
                                class="v-button fill-width v-button--main justify-center shrink">
                                <span class="v-button__wrapper">
                                    <span class="v-button__value"> 
                                        Отправить код 
                                    </span>
                                </span>
                            </button>

                            <button id="auth_form_btn" type="submit" name="auth"
                                disabled="disabled" data-id="auth-submit-btn"
                                class="fill-width d-none justify-center shrink mt-2">
                                <span class="v-button__wrapper">
                                    <span class="v-button__value"> 
                                        Подтвердить и войти 
                                    </span>
                                </span>
                            </button>
                        
                        </div>

                        {% comment %} согласие на обработку данных {% endcomment %}
                        <div class="d-flex justify-center mt-sm-2">
                            <div class="v-auth-agreement d-flex flex-column fill-width">
                                <p class="v-auth-agreement__title filll-width">
                                    Нажимая на кнопку «Отправить код» вы даете своё согласие: 
                                </p>
                                <ul class="d-flex flex-column align-center fill-width mt-1">
                                    <li class="fill-width">
                                        <span data-id="auth-privacy-btn" class="v-checkbox v-checkbox--active">
                                            <span
                                                class="v-auth-agreement__item-title v-checkbox__name"> с 
                                                <a href="#" class="v-auth-agreement__link">политикой конфиденциальности</a>, 
                                                <a href="#" class="v-auth-agreement__link">согласием на обработку ПД</a> 
                                                и 
                                                <a href="#" class="v-auth-agreement__link">публичной офертой</a>
                                            </span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </form>    
        </div>
    </div>
</div>