{% extends "oscar/layout.html" %}

{% load svg_tags %}
{% load static %}

{% block title %}Войти | {{ block.super }}{% endblock %}

{% block nav_title %}Войти{% endblock %}
{% block nav_title_center %}Войти{% endblock %}

{% block wrapper_class %}fill-width px-2 py-3 pb-sm-4 pt-sm-2{% endblock %}

{% block app_class %}app---profile{% endblock %}
{% block nav_class %}app__nav--profile{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block auth %}
    <div id="modal" class="app">
        <div class="modal pos-fixed d-flex align-center justify-center" data-id="modal-close">
            <div class="modal__content scrollbar px-2 pt-6 pd-sm-4 no-scroll">
        
                <a href="{{ homepage_url }}" class="button app-header__back button--small justify-center shrink d-block d-sm-none" style="top: -38px;">
                    <span class="button__wrapper">
                        <span class="d-flex">
                            {% icon file_name='interface/arrow-home' size=24 stroke='#000'%}
                        </span>
                    </span>
                </a>
        
                <div class="d-flex flex-column align-center justify-center align-sm-start mb-3 mb-sm-2">
                    <header class="fill-width d-flex justify-center justify-sm-space-between align-center">
                        <div class="modal__title">Войти</div>
                        <div class="d-none d-sm-flex">
                            <a href="{{ homepage_url }}" class="close-button d-flex justify-center align-center">
                                {% icon file_name='interface/close' size=24 stroke="#111"%}
                            </a>
                        </div>
                    </header>
                    <p class="modal__message mt-1 mt-sm-2"> Введите номер телефона, чтобы авторизоваться </p>
                </div>
        
        
                <div class="auth flex flex-column text-center">
                    <form id="auth_form" action="{{ request.get_full_path }}" method="post" class="card card-body bg-light">

                        {% comment %} поля {% endcomment %}
                        {% include "oscar/partials/form_auth.html" with form=auth_form %}
        
                        <div class="d-flex flex-column fill-height mt-3 mt-sm-2">
                            <div>
        
                                {% comment %} кнопки {% endcomment %}
                                <div class="modal__submit flex-column align-center px-2 px-sm-0 py-2 py-sm-0">
        
                                    <button id="sms_form_btn" type="submit" name="sms"
                                        disabled="disabled" data-id="auth-submit-btn"
                                        class="button fill-width button--main justify-center shrink">
                                        <span class="button__wrapper">
                                            <span class="button__value"> 
                                                Отправить код 
                                            </span>
                                        </span>
                                    </button>
        
                                    <button id="auth_form_btn" type="submit" name="auth"
                                        disabled="disabled" data-id="auth-submit-btn"
                                        class="fill-width d-none justify-center shrink mt-2">
                                        <span class="button__wrapper">
                                            <span class="button__value"> 
                                                Подтвердить и войти 
                                            </span>
                                        </span>
                                    </button>
                                
                                </div>
        
                                {% comment %} согласие на обработку данных {% endcomment %}
                                <div class="d-flex justify-center mt-sm-3">
                                    <div class="auth-agreement d-flex flex-column fill-width">
                                        <p class="auth-agreement__title filll-width">
                                            Нажимая на кнопку «Отправить код» вы даете своё согласие: 
                                        </p>
                                        <ul class="d-flex flex-column align-center fill-width mt-1">
                                            <li class="fill-width">
                                                <span data-id="auth-privacy-btn" class="checkbox checkbox--active">
                                                    <span
                                                        class="auth-agreement__item-title checkbox__name"> с 
                                                        <a href="#" class="auth-agreement__link">политикой конфиденциальности</a>, 
                                                        <a href="#" class="auth-agreement__link">согласием на обработку ПД</a> 
                                                        и 
                                                        <a href="#" class="auth-agreement__link">публичной офертой</a>
                                                    </span>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
        
                            </div>
                        </div>
        
                    </form>    
                </div>
            </div>
        </div>
    </div>
{% endblock auth %}

{% block onbodyload %}
    {{ block.super }}
    authModalLoaded()
{% endblock %}
