{% extends "oscar/layout.html" %}

{% load svg_tags %}
{% load product_tags %}
{% load static %}

{% block title %}{{ category.get_meta_title }} | {{ block.super }}{% endblock %}
{% block wrapper_class %}menu fill-width fill-height grow-1 pd-2 pb-sm-4{% endblock %}
{% block app_class %}v-app---category{% endblock %}
{% block nav_class %}v-app__nav--category{% endblock %}
{% block nav_title %}{{ category.get_meta_title }}{% endblock %}
{% block description %}{{ category.get_meta_description }}{% endblock %}

{% block breadcrumbs %}
    <div aria-label="breadcrumb" class="v-bread d-none d-sm-flex align-center mt-2 mb-3">
        <button onclick="getBack(); return false" data-id="back-bread-btn" class="mr-1 pd-0">
            {% icon file_name='interface/arrow-back' size=22 stroke="#111"%}
        </button>
        <a href="{{ homepage_url }}" data-id="back-bread-btn" class="v-bread__link router-link-active">Главная</a>
        {% icon file_name='interface/arrow-left' size=24 stroke='#999'%}
        <span class="v-bread__link" aria-current="page">{{ category.get_meta_title }}</span>
    </div>
{% endblock %}


{% block content %}

    {% comment %}------------- название категории ---------------{% endcomment %}
    <div class="d-none d-sm-flex mb-2">
        <h1>{{ category.get_meta_title }}</h1>
    </div>
  
    {% comment %}------------- содержимое категории ---------------{% endcomment %}
    {% if products %}
    <div class="v-dishes row">
        {% for product in products %}
            <div class="v-dishes--item col col-6 col-xs-6 col-sm-4 col-md-4 col-lg-3">
                {% render_product product.object %}
            </div>
        {% endfor %}
    </div>
    {% include "oscar/partials/pagination.html" %}
    {% else %}
        <p class="py-2">Ничего не найдено</p>
    {% endif %}
 
{% endblock %}