{% load basket_tags %}
{% load display_tags %}
{% load i18n %}
{% load static %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if session.availability.is_available_to_buy and session.price.exists %}

    {% basket_form request product as basket_form %}
    
    {% comment %}------------- вариации + доп опции ---------------{% endcomment %}
    <form id="add_to_basket_form" action="{% url 'basket:add' pk=product.pk  %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="quantity" value="1" id="id_quantity">

        {% if form.is_bound and not form.is_valid %}
            <div class="alert alert-danger">
                <strong>{% trans "Oops! We found some errors" %}</strong> - {% trans "please check the error messages below and try again" %}
            </div>
        {% endif %}
        
        <div class="v-dish-actions fill-width d-flex flex-column mt-2">
            {% comment %}------------- вариации + поля опций---------------{% endcomment %}
            {% if product.is_parent %}
                {% include "oscar/catalogue/partials/variants.html" with form=basket_form %}
            {% endif %}

            {% comment %}------------- поля опций ---------------{% endcomment %}
            {% if product.has_options %}
                {% include "oscar/catalogue/partials/options.html" with form=basket_form %}
            {% endif %}

            {% comment %}------------- дополнительные ингридиенты ---------------{% endcomment %}
            {% if product.has_additions %}
                {% include "oscar/catalogue/partials/additinal_products.html" with form=basket_form currency_symbol=currency_symbol %}
            {% endif %}
        </div>
    </form>              

{% endif %}
