{% load widget_tweaks %}
{% load currency_filters %}
{% load image_tags %}

<div class="mt-2">
    <h2 class="v-dish-actions__block-name">Добавить ингредиенты</h2>
    <ul class="v-dish-toppings d-flex flex-wrap mt-2">
        {% for field in form %}
            {% if field.field.widget.attrs.additional %}
                <li class="v-dish-toppings__item d-flex">
                    <div data-id="additional-product" class="v-dish-toppings__card d-flex flex-column align-center grow-1 pos-relative">
                        
                        <div class="v-dish-image fill-width">
                            <div class="v-images-chunks pos-relative">
                                <div class="v-image__inner v-image__inner--topping">
                                    {% url_thumbnail field.field.widget.attrs.img "x150" upscale=False as thumb %}
                                    <img src="{{ thumb.url }}" loading="lazy" alt="{{ field.label|safe }}" class="img-thumbnail w-auto mx-auto my-0">
                                </div>
                            </div>
                        </div>

                        <div class="topping-description px-1 pb-1 fill-width d-flex align-center flex-column pos-relative">
    
                            <p class="v-dish-toppings__name mt-2">{{ field.label|safe }}</p>

                            <div role="separator" class="v-spacer"></div>
    
                            <span data-id="v-dish-toppings-price" class="v-prices d-flex flex-column align-start mt-1 v-prices--red v-prices--small">
                                <span class="v-prices__price v-prices__price--topping no-wrap">
                                    <span data-id="additional-product-price">{{ field.field.widget.attrs.price|formate_price }}</span>
                                    <span>{{ currency_symbol }}</span>
                                    <span class="v-weight v-weight--additional">
                                        <span>/&nbsp;&nbsp;{{ field.field.widget.attrs.weight|safe }}</span>
                                        <span>г</span>
                                    </span>
                                </span>
                            </span>
    
                            <div class="v-order-button v-order-button--transparent">
                                <button type="button" disabled="disabled" data-id="order-button-minus" class="v-order-button--elem" aria-label="Уменьшить">
                                    <svg viewBox="0 0 24 24" fill="none">
                                        <path d="M6 12L18 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                                {% render_field field class="v-order-button--elem v-order-button--value remove-arrows" aria-label="Количество" readonly="readonly"%}
                                <button type="button" data-id="order-button-plus" class="v-order-button--elem" aria-label="Увеличить">
                                    <svg viewBox="0 0 24 24" fill="none">
                                        <path d="M6 12H18M12 6V18" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                            </div>
                        </div>

                    </div>
                </li>
            
            {% endif %}
        {% endfor %}
    </ul>
</div>