{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if product.is_parent %}
    {% if session.price.variations_price  %}
        {% for key, value in session.price.variations_price.items %}

            {% if value.items %}
                <p class="price_color">{{ value.price }}</p>
            {% endif %}

            {% if value.old_price %}
                <p class="price old-price">{{ value.old_price }}</p> 
            {% endif %}

        {% endfor %}
    {% else %}
        <p class="price_color">&nbsp;</p>
        <p class="price old-price">&nbsp;</p>
    {% endif %}

{% else %}

    {% if session.price.exists %}
        {% if session.price.money == 0 %}
            <p class="price_color">{% trans "Free" %}</p>
        {% else %}
            <p class="price_color">{{ session.price.money|currency:session.price.currency }}</p>
            {% if session.price.old_price %}
                <p class="price old-price">{{ session.price.old_price|currency:session.price.currency }}</p>
            {% endif %}
        {% endif %}
    {% else %}
        <p class="price_color">&nbsp;</p>
    {% endif %}

{% endif %}


{% if session.price.exists %}
<p class="{{ session.availability.code }} availability">
    {% if session.availability.is_available_to_buy %}
        <i class="fas fa-check-circle"></i>
    {% else %}
        <i class="fas fa-ban"></i>
    {% endif %}
    {% if verbose %}
        {{ session.availability.message }}
    {% else %}
        {{ session.availability.short_message }}
    {% endif %}
</p>
{% else %}
    <i class="fas fa-ban"></i>
    {% trans 'Unavailable' %}
{% endif %}
