{% extends 'oscar/dashboard/layout.html' %}

{% block title %}
    Заказ {{ line.order.number }} - Позиция №{{ line.id }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard:order-list' %}">Заказы</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard:order-detail' number=line.order.number %}">
                #{{ line.order.number }}
            </a></li>
            <li class="breadcrumb-item active" aria-current="page">Позиция №{{ line.id }}</li>
        </ol>
    </nav>
{% endblock %}

{% block navtext %}
    Заказ №{{ line.order.number }} - Позиция №{{ line.id }}
{% endblock %}

{% block dashboard_content %}
    <div class="row">
        <div class="col-md-4">
            <div class="table-header">
                <h3>Описание продукта</h3>
            </div>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Название</th>
                    <td>
                        {% if line.product %}
                            <a href="{{ line.product.get_absolute_url }}">{{ line.title }}</a>
                        {% else %}
                            {{ line.title }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Тип продукта</th><td>{{ line.product.get_product_class }}</td>
                </tr>
                <tr>
                    <th>UPC</th><td>{{ line.upc|default:"-" }}</td>
                </tr>
                <tr>
                    <th>Количество</th><td>{{ line.quantity }}</td>
                </tr>
                {% if line.attributes.exists %}
                    <tr>
                        <th colspan="2">Опции</th>
                    </tr>
                    {% for attribute in line.attributes.all %}
                        <tr>
                            <th>{{ attribute.option }}</th>
                            <td>{{ attribute.value }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
        <div class="col-md-4">
            <div class="table-header">
                <h3>Точка продажи</h3>
            </div>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Статус</th><td>{{ line.status|default:"-" }}</td>
                </tr>
                <tr>
                    <th>Название точки продажи</th><td>{{ line.partner_name }}</td>
                </tr>
                <tr>
                    <th>SKU</th><td>{{ line.partner_sku }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <div class="table-header">
                <h3>Информация о доставке</h3>
            </div>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Номер точки продажи</th><td>{{ line.partner_line_reference|default:"-" }}</td>
                </tr>
                <tr>
                    <th>Заметки точки продажи</th><td>{{ line.partner_line_notes|default:"-" }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="table-header">
                <h3>Статус доставки</h3>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>State</th>
                        <th>Количество</th>
                    </tr>
                </thead>
                <tbody>
                    {% for state in line.shipping_event_breakdown.values %}
                        <tr>
                            <td>{{ state.event_type.name }}</td>
                            <td>{{ state.quantity }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">Нет созданых событий доставки</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="table-header">
                <h3>События доставки</h3>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Событие</th>
                        <th>Количество</th>
                        <th>Ссылка / Референс</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event_qty in line.shipping_event_quantities.all %}
                        <tr>
                            {% with event=event_qty.event %}
                                <td>{{ event.event_type.name }}</td>
                                <td>{{ event_qty.quantity }}</td>
                                <td>{{ event.notes }}</td>
                                <td>{{ event.date_created }}</td>
                            {% endwith %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">Нет созданых событий доставки</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="table-header">
                <h3>Оплата</h3>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Событие</th>
                        <th>Количество</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event_qty in line.payment_event_quantities.all %}
                        <tr>
                            {% with event=event_qty.event %}
                                <td>{{ event.event_type.name }}</td>
                                <td>{{ event_qty.quantity }}</td>
                                <td>{{ event.date_created }}</td>
                            {% endwith %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">Нет созданых событий оплаты</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock dashboard_content %}
