{% load django_tables2 %}
{% load currency_filters %}

<span class="{% if record.paid %}text-success{% else %}{% endif %}">
    {% if record.source == 'PAY_SBP' %}
        Yoomoney СБП
    {% elif record.source == 'PAY_ONLINECARD' %}
        Yoomoney Карта
    {% elif record.source == 'PAY_CARD' %}
        Картой
    {% elif record.source == 'CASH' %}
        Наличные
    {% else %}
        {{ record.source }}
    {% endif %}
    {% if record.amount_paid %}
        {{ record.amount_paid|currency:record.currency }}
    {% endif %}
</span>