{% load django_tables2 %}
<a href="{% url 'dashboard:order-detail' number=record.number %}" class="d-flex flex-column">
    <span>
        {% if not record.is_online %}
            <i class="fa-solid fa-globe" style="color:var(--primary)"></i>
        {% endif %}
        {% if not record.is_open %}
            <i class="fa-solid fa-bolt" style="color:var(--danger)"></i>
        {% endif %}
        {{ record.get_items_name }}
    </span>
    <span class="text-dark small">Товаров: {{ record.num_items }}</span>
    <span class="text-muted small">№{{ record.number }}</span>
</a>