{% extends 'oscar/dashboard/layout.html' %}
{% load render_table from django_tables2 %}
{% load sorting_tags %}
{% load widget_tweaks %}

{% block body_class %}{{ block.super }} orders{% endblock %}

{% block title %}
    Все заказы | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Заказы</li>
        </ol>
    </nav>
{% endblock %}

{% block header %}
    <div class="page-header d-flex justify-content-between">
        <h1>Заказы</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <div class="table-wrapper mb-4">
        <div class="table-header d-flex justify-space-between" data-target="#card-body" 
        data-toggle="collapse" aria-controls="card-body" aria-expanded="false">
            <h3><i class="fas fa-search"></i> Поиск</h3>
            <i class="fa-solid fa-chevron-up" style="color: var(--primary);"></i>
            <i class="fa-solid fa-chevron-down" style="color: var(--primary);"></i>
        </div>
        <div class="card card-body bg-light dropdown-list collapse" id="card-body">
            <form method="get" class="form-inline" id="search_form">
                {% for field in form %}
                    {% if "order" in field.id_for_label %}
                        {% if field.is_hidden %}
                            {% render_field field class+='form-control' %}
                        {% else %}
                            <div class="form-group mr-2">
                                {{ field.label_tag }}
                                {% render_field field class+='form-control' %}
                                {% for error in field.errors %}
                                    <ul class="error-block">
                                        <li>{{ error }}</li>
                                    </ul>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <input type="submit" value="Поиск" class="btn btn-primary mr-2" />
                <a data-toggle="modal" data-target="#SearchModal" href="#">Расширенный поиск</a>
            </form>

            {# Search modal, if there are form errors the form is automatically openend #}
            {% include "oscar/dashboard/partials/advanced_search_modal.html" with form=form style='horizontal' %}

            {% if search_filters %}
            <div class="search-filter-list">
                <label>Фильтры:</label>
                {% for filter in search_filters %}
                    <span class="badge badge-success">{{ filter }}</span>
                {% endfor %}
            </div>

            {% endif %}
        </div>
    </div>

    <div class="mobile-table">
        {% if orders_table %} 
            {% render_table orders_table %}                 
        {% else %}
            <tr><td class="empty">Заказы не найдены</td></tr>
        {% endif %}
    </div>
    

    {% comment %} {% if orders %}
        <form method="post" class="order_table" id="orders_form">
            {% csrf_token %}

            {% block order_list %}
            <table class="table table-striped table-bordered table-hover">
                <caption>
                    <h3 class="float-left"><i class="fas fa-shopping-cart"></i>
                        {% if search_filters %}
                            Результаты поиска
                        {% else %}
                            Все заказы
                        {% endif %}
                    </h3>
                    <div class="float-right">
                        <div class="form-inline">
                            <label>Скачать в формате CSV</label>
                            <button type="submit" class="btn btn-primary" name="action" value="download_selected_orders" data-loading-text="Скачивание...">Скачать</button>
                        </div>
                    </div>
                </caption>

                <thead>
                    <tr>
                        <th></th>
                        <th>Заказ</th>
                        <th>Позиции</th>
                        <th>Статус</th>
                        <th>Клиент</th>
                        <th>Доставка</th>
                        <th>Оплата</th>
                        <th>Сумма</th>
                        <th>Время заказа</th>
                        <th>Дата</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td><input type="checkbox" name="selected_order" class="selected_order" value="{{ order.id }}"/></td>
                        <td>
                            <a href="{% url 'dashboard:order-detail' number=order.number %}">{{ order.number }}</a>
                        </td>
                        <td>{{ order.total|currency:order.currency }}</td>
                        <td>{{ order.num_items }}</td>
                        <td>{{ order.status|default:"-" }}</td>
                        <td>
                            {% if order.guest_email %}
                                {{ order.guest_email }}
                            {% elif order.user %}
                                <a href="{% url 'dashboard:user-detail' pk=order.user.id %}">{{ order.user.get_full_name|default:order.user.email }}</a>
                            {% else %}
                                &lt;Удалить&gt;
                            {% endif %}
                        </td>
                        <td>{{ order.shipping_address|default:"-" }}</td>
                        <td>{{ order.date_placed }}</td>
                        <td>
                            <a class="btn btn-secondary" href="{% url 'dashboard:order-detail' number=order.number %}">Посмотреть</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endblock order_list %}
            {% block order_actions %}
                <div class="card card-body bg-light">
                    <h3><i class="fas fa-exclamation-circle"></i> Изменить статус заказа:</h3>
                    {% if order_statuses %}
                        <div class="form-group">
                            <div class="controls">
                                <select name="new_status">
                                    <option value=""> -- Новый статус -- </option>
                                    {% for status in order_statuses %}
                                        <option>{{ status }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="flex-nowrap">
                            <button type="submit" name="action" value="change_order_statuses" class="btn btn-primary" data-loading-text="Смена статуса...">
                                Изменить статус заказа
                            </button>
                        </div>
                    {% else %}
                        Статус этого заказа нельзя изменить.
                    {% endif %}
                </div>
            {% endblock %}

            {% include "oscar/dashboard/partials/pagination.html" %}
        </form>
    {% else %}
        <table class="table table-striped table-bordered">
            <caption><i class="fas fa-shopping-cart"></i>
                {% if search_filters %}
                    Результаты поиска
                {% else %}
                    Все заказы
                {% endif %}
            </caption>
            <tr><td>Заказы не найдены</td></tr>
        </table>
    {% endif %} {% endcomment %}

{% endblock dashboard_content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.dashboard.orders.initTable();
    {% if form.errors %}
    $('#SearchModal').modal('show');
    {% endif %}
{% endblock onbodyload %}
