{% load display_tags %}
{% load svg_tags %}

{% if paginator.num_pages > 1 %}
  <nav class="d-flex fill-width justify-center mt-3 mb-1">
    <div class="d-flex align-center pr-1">
      {% if page_obj.has_previous %}
        <a class="d-flex align-center" href="?{% get_parameters 'page' %}page={{ page_obj.previous_page_number }}" tabindex="-1">{% icon file_name='webshop/themes/planet/interface/arrow-left' size=24 stroke='#222' %}</a>
      {% endif %}
    </div>
    <div class="d-flex align-center">
      <span class="page-link text--grey">Страница {{ page_obj.number }} из {{ paginator.num_pages }}</span>
    </div>
    <div class="d-flex align-center pl-1">
      {% if page_obj.has_next %}
        <a class="d-flex align-center" href="?{% get_parameters 'page' %}page={{ page_obj.next_page_number }}">{% icon file_name='webshop/themes/planet/interface/arrow-right' size=24 stroke='#222' %}</a>
      {% endif %}
    </div>
  </nav>
{% endif %}
