{% load django_tables2 %}

{% if record.is_related_to_store %}
  <a class="btn btn-danger" href="{% url 'dashboard:store-user-unlink' store_pk=store.id user_pk=record.user.id %}{% querystring %}"><i class="fas fa-minus"></i></a>
{% elif not record.user %}
  <button class="btn btn-warning dropdown-toggle" type="button" id="userWarningButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-phone-slash"></i></button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userWarningButton">
    <span class="dropdown-item" href="{% url 'dashboard:catalogue-additional-delete' pk=record.id %}{% querystring %}">Укажите телефон сотрудника</span>
  </div>
{% else %}
  <a class="btn btn-success" href="{% url 'dashboard:store-user-link' store_pk=store.id user_pk=record.user.id %}{% querystring %}"><i class="fas fa-plus"></i></a>
{% endif %}
