{% extends 'oscar/dashboard/layout.html' %}
{% load category_tags %}
{% load static %}

{% block body_class %}{{ block.super }} create-page store{% endblock %}

{% block title %}
    {{ title }} | Магазины | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard:store-list' %}">Магазины</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
        </ol>
    </nav>
{% endblock %}

{% block navtext %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block dashboard_content %}
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="table-header">
                <h2 class="d-flex">
                    <i class="fa-solid fa-house"></i> Создать магазин
                </h2>
            </div>
            <div class="delivery__map">
                <div class="map__wrapper">
                    <div id="map" class="map"></div>
                </div>
            </div>
            {% include "oscar/dashboard/partials/form.html" with form=form class="card card-body" %}
        </div>
    </div>
{% endblock dashboard_content %}

{% block externalscripts %}
    <script type="application/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=27bbbf17-40e2-4c01-a257-9b145870aa2a&lang=ru_RU"></script>
{% endblock %}

{% block templatescripts %}
    {{ block.super }}
    var url_delivery_zones = "{% url 'dashboard:delivery-zona-json' %}";
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script type="application/javascript" src="{% static "js/dashboard/store/store-address.js" %}"></script>
{% endblock %}

{% block onbodyload %}
    createMap();
{% endblock %}