{% extends 'oscar/dashboard/layout.html' %}
{% load widget_tweaks %}

{% block title %}
    Магазин {{ store }} | {{ block.super }}
{% endblock %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'dashboard:store-manage' pk=store.id %}">{{ store }}</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'dashboard:store-cash-transaction-list' store_id=store.id %}">Список внесения / изъятия наличных</a></li>
            <li class="breadcrumb-item active" aria-current="page">Создание транзакции</li>
        </ol>
    </nav>
{% endblock %}

{% block navtext %}
    <h1>Внести / Изъять наличные</h1>
{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>транзакция</h2>
    </div>
    <form method="post" class="fixed-actions">
        <div class="card card-body mb-3">
            {% csrf_token %}
            <span class="error-block">{{ form.non_field_errors }}</span>
            {% for field in form %}
                {% include 'oscar/dashboard/partials/form_field.html' with field=field %}
            {% endfor %}
        </div>
        {% block fixed_actions_group %}
            <div class="fixed-actions-group">
                <div class="container container-fluid">
                    <div class="d-flex justify-content-end align-items-end">
                        <div class="d-flex justify-content-end">  
                            <a class="btn btn-secondary mr-2" href="{% url 'dashboard:staff-list' %}">
                                <i class="fa-regular fa-circle-xmark"></i> 
                                <span>
                                    Отменить
                                </span>
                            </a>             
                            <button class="btn btn-primary" name="action" type="submit" value="continue" data-loading-text="Сохранение...">
                                <i class="fa-regular fa-floppy-disk"></i>
                                <span>
                                    Сохранить
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock fixed_actions_group %}
    </form>
{% endblock %}
