{% extends "oscar/customer/baseaccountpage.html" %}

{% load currency_filters %}
{% load purchase_info_tags %}
{% load svg_tags %}
{% load compress %}
{% load static %}

{% block title %}{{ page_title }} | {{ block.super }}{% endblock %}
{% block nav_title_center %}{{ page_title }}{% endblock %}

{% block breadcrumbs %}
    <div aria-label="breadcrumb" class="v-bread d-none d-sm-flex align-center mt-2 mb-3 mx-md-0">
        <button onclick="getBack(); return false" data-id="back-bread-btn" class="pd-0 mr-1">
            {% icon file_name='interface/arrow-back' size=22 stroke="#111"%}
        </button>
        <a href="{{ homepage_url }}" data-id="back-bread-btn" class="v-bread__link router-link-active">Главная</a>
        {% icon file_name='interface/arrow-left' size=24 stroke="#999"%}
        <a href="{% url 'customer:summary' %}" data-id="back-bread-btn" class="v-bread__link router-link-active">Личный кабинет</a>
        {% icon file_name='interface/arrow-left' size=24 stroke="#999"%}
        <span class="v-bread__link" aria-current="page">{{ page_title }}</span>
    </div>
{% endblock %}

{% block tabcontent %}
    <div class="profile-personal__block fill-width d-flex flex-column pd-0 pd-sm-4">
        <div class="v-order__title d-flex justify-space-between mb-2 align-center">
            <div class="d-none d-sm-flex">
                <h1>Заказы</h1>
            </div>
            <div class="text--info d-flex">
                <a href="{% url 'customer:feedbacks' %}">
                    <h3>Мои отзывы</h3>
                </a>
            </div>
        </div>
        {% if orders %}
            <div class="fill-width mb-2">
                <div class="cabinet-orders fill-width grow-1">
                    <div class="cabinet__promo-wrapper fill-width d-flex flex-column">
                        <ul class="v-orders-list d-flex flex-column fill-width fill-width">
                            {% for order in orders %}
                                <li class="v-orders-list-item fill-width">
                                    <div class="v-orders-list-item fill-width">
                                        <a href="{% url 'customer:feedback-add' order_number=order.number %}" class="v-orders-list-item__button d-flex flex-column fill-width py-3">
                                            <div class="d-flex justify-space-between align-center fill-width">
                                                <span class="v-orders-list-item__title"> Заказ №{{ order.number }} </span>
                                                <span class="v-prices d-flex flex-column align-start">
                                                    <span class="v-prices__price no-wrap">
                                                        {{ order.total|currency:order.currency }}
                                                    </span>
                                                </span>
                                            </div>
                                            {% block order_contents %}
                                                <div class="v-order-checkout__items">
                                                    {% for line in order.basket.all_lines %}
                                                        {% purchase_info_for_line request line as session %}
                                                            <span>{{ line.product.get_title }} ({{ line.quantity }}){% if not forloop.last %},{% endif %}</span>
                                                    {% endfor %}
                                                </div>
                                            {% endblock order_contents %}
                                            <div class="d-flex justify-space-between align-center fill-width pt-1">
                                                <div class="v-orders-list-item__status d-flex align-center {% if order.status == "Ожидает оплаты" or order.status == "Обрабатывается" %}text--warning{% elif order.status == "Отменен" %}text--red{% else %}text--success{% endif %}">
                                                    <svg data-id="payment-icon-svg" width="30" height="30">
                                                        {% if order.status == "Ожидает оплаты" or order.status == "Обрабатывается" %}
                                                            <use xlink:href="#svg-order-pending"></use>
                                                            {% elif order.status == "Отменен" %}
                                                            <use xlink:href="#svg-order-cancel"></use>
                                                        {% else %}
                                                            <use xlink:href="#svg-order-success"></use>
                                                        {% endif %}
                                                    </svg>
                                                    <span class="pl-1">{{ order.status }}</span>
                                                </div>
                                                <span class="v-orders-list-item__date text--grey-dark"> {{ order.date_placed }} </span>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% include "oscar/partials/pagination.html" %}
        {% else %}
            <p>Список завершенных заказов пуст</p>
        {% endif %}
    </div>
{% endblock tabcontent %}

{% block SVG %}
    <svg style="display: none">
        <symbol id="svg-order-cancel" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill="#b24040" d="M23,12A11,11,0,0,1,1,12a10.827,10.827,0,0,1,.29-2.5,11,11,0,0,1,21.42,0A10.827,10.827,0,0,1,23,12Z"/>
            <ellipse fill="#ce5959" cx="12" cy="9.5" rx="10.71" ry="8.5"/>
            <path fill="#6c2e7c" d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,22A10,10,0,1,1,22,12,10.011,10.011,0,0,1,12,22Z"/>
            <path fill="#6c2e7c" d="M16.707,7.293a1,1,0,0,0-1.414,0L12,10.586,8.707,7.293A1,1,0,1,0,7.293,8.707L10.586,12,7.293,15.293a1,1,0,1,0,1.414,1.414L12,13.414l3.293,3.293a1,1,0,0,0,1.414-1.414L13.414,12l3.293-3.293A1,1,0,0,0,16.707,7.293Z"/>
        </symbol>
        <symbol id="svg-order-pending" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill="#e1ca00" d="M23,12A11,11,0,0,1,1,12a10.827,10.827,0,0,1,.29-2.5,11,11,0,0,1,21.42,0A10.827,10.827,0,0,1,23,12Z"/>
            <ellipse fill="#fe0" cx="12" cy="9.5" rx="10.71" ry="8.5"/>
            <path fill="#cffeff" d="M15,16a1,1,0,0,1-.707-.293l-3-3A1,1,0,0,1,11,12V6a1,1,0,0,1,2,0v5.586l2.707,2.707A1,1,0,0,1,15,16Z"/>
            <path fill="#6c2e7c" d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,22A10,10,0,1,1,22,12,10.011,10.011,0,0,1,12,22Z"/>
            <path fill="#6c2e7c" d="M13,11.586V6a1,1,0,0,0-2,0v6a1,1,0,0,0,.293.707l3,3a1,1,0,0,0,1.414-1.414Z"/>
        </symbol>
        <symbol id="svg-order-success" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill="#56b54e" d="M23,12A11,11,0,0,1,1,12a10.827,10.827,0,0,1,.29-2.5,11,11,0,0,1,21.42,0A10.827,10.827,0,0,1,23,12Z"/>
            <ellipse fill="#60cc5a" cx="12" cy="9.5" rx="10.71" ry="8.5"/>
            <path fill="#6c2e7c" d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,22A10,10,0,1,1,22,12,10.011,10.011,0,0,1,12,22Z"/>
            <path fill="#6c2e7c" d="M16.293,8.293,10,14.586,7.707,12.293a1,1,0,0,0-1.414,1.414l3,3a1,1,0,0,0,1.414,0l7-7a1,1,0,0,0-1.414-1.414Z"/>
        </symbol>
    </svg>
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static "js/profile/profile.js" %}" async></script>
    {% endcompress %}
{% endblock %}