{% load widget_tweaks %}
{% load svg_tags %}

{% block widget %}
    {% render_field field data-id=data_id class='shipping--line1' autocomplete='off' %}
    <button type="button" id="open_map" data-id="shipping-map-button" class="shipping--map shrink d-flex align-center justify-center" style="width: 55px;">{% icon file_name='map/location-arrow' size=22 stroke='#0a834f' %}</button>
    <div role="separator" class="spacer" style="border: solid 1px #c8c8c8; margin: 10px 0;"></div>
    <button type="button" id="clean_address" data-id="shipping-clear-button" class="shipping--clear shrink d-flex align-center justify-center" style="width: 55px;">{% icon file_name='interface/close' size=22 stroke='#d32225' %}</button>
{% endblock %}