{% extends 'oscar/dashboard/layout.html' %}
{% load render_table from django_tables2 %}
{% load compress %}
{% load static %}

{% block body_class %}
  {{ block.super }} delivery-zones
{% endblock %}

{% block title %}
  Зоны доставки | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:index' %}">Главная</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Зоны доставки</li>
    </ol>
  </nav>
{% endblock %}

{% block header %}
  <div class="page-header d-flex justify-content-between align-items-center">
    <h1>Зоны доставки</h1>
    <a href="{% url 'dashboard:delivery-create-zona' %}" class="btn btn-primary ml-3">
      <i class="fas fa-plus"></i>
      <span>Создать зону доставки</span>
    </a>
  </div>
{% endblock %}

{% block dashboard_content %}
  <div class="row">
    <div class="col-md-12">
      <div class="table-header">
        <h2 class="d-flex"><i class="fa-solid fa-house"></i> Зоны доствки на карте</h2>
      </div>
      <div class="delivery__map table">
        <div class="map__wrapper">
          <div id="map" class="map"></div>
        </div>
      </div>
    </div>
  </div>

  {% if zones %}
    <div class="mobile-table">
      {% render_table zones %}
    </div>
  {% else %}
    <p>Зоны доставки не созданы</p>
  {% endif %}
{% endblock %}

{% block externalscripts %}
  <script type="application/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=27bbbf17-40e2-4c01-a257-9b145870aa2a&lang=ru_RU"></script>
{% endblock %}

{% block templatescripts %}
  {{ block.super }}
  var url_delivery_zones = "{% url 'dashboard:delivery-zona-json' %}"; var url_delivery_zona = "{% url 'dashboard:delivery-zona' %}";
{% endblock %}

{% block extrascripts %}
  {{ block.super }}
  {% compress js %}
  <script type="application/javascript" src="{% static 'js/dashboard/delivery/delivery-zones-dashboard.js' %}"></script>
  {% endcompress %}
{% endblock %}

{% block onbodyload %}
  createMap();
{% endblock %}
