{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"ru" }}">
    <head>
        <title>{% block title %}{{ primary_title }}{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover,user-scalable=no" />
        <link href="https://fonts.googleapis.com/css2?family=Galada&family=Onest:wght@100..700&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
        {% block styles %}{% endblock %}
        {% block extrastyles %}{% endblock %}    
        {% block tracking %}{% include "oscar/partials/analytics.html" %}{% endblock %}
    </head>
    <body>
        {% block layout %}{% endblock %}
        {% block SVG %}{% endblock %}
        {% block cdn_scripts %}{% endblock %}
        <script>{% block templatescripts %}{% endblock %}</script>
        {% block externalscripts %}{% endblock %}
        {% block scripts %}{% endblock %}
        {% block extrascripts %}{% endblock %}
        <script>document.addEventListener('DOMContentLoaded', function() { {% block onbodyload %}{% endblock %} })</script>
    </body>
</html>
