{% extends 'oscar/dashboard/crm/crm_list.html' %}

{% load widget_tweaks %}

{% block title %}
    Продукты Эвотор | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Продукты Эвотор</li>
        </ol>
    </nav>
{% endblock %}

{% block crm_header %}
<div class="d-flex flex-wrap justify-content-start">
    <h1 class="mr-2">Продукты Эвотор</h1>
    <form method="get" class="d-flex align-items-end no-widget-init" id="partner_form">
        {% for field in form %}
            {% render_field field class+='partner-point' %}
            {% for error in field.errors %}
                <ul class="error-block">
                    <li>{{ error }}</li>
                </ul>
            {% endfor %}
        {% endfor %}
    </form>
</div>
<div class="modal fade" id="product-image-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body text-center">
                <img class="img-fluid mx-auto" loading="lazy">
            </div>
        </div>
    </div>
</div>
{% endblock crm_header %}

{% block onbodyload %}
    {{ block.super }}
    oscar.dashboard.thumbnails.init();
{% endblock onbodyload %}
