{% extends 'oscar/checkout/checkout.html' %}

{% block chekout_form %}
  {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}
  <div class="order__wrapper d-flex flex-column">
    <div class="order__form d-flex flex-column fill-width">
      <div class="order__title d-none d-sm-block mb-4">
        <h1>Оформление заказа</h1>
      </div>
      {% if basket.is_shipping_required %}
        <div data-id="input-field" class="input input-textarea d-flex align-center mb-1 mb-sm-2 input__padding{% if form.initial.order_note %} input__label-active{% endif %}">
          <div class="input__wrapper">
            <div class="input__label">Комментарий к заказу</div>
            <div class="input__control d-flex align-center" contenteditable>
              {% include 'oscar/partials/render_field.html' with field=form.order_note form_id='place_order_form' data_id='order-input-comment' %}
            </div>
          </div>
        </div>
        <div class="delivery__map full-screen">
          <div class="map fill-width fill-height">
            <div id="map" data-full-screen="true" class="fill-width fill-height"></div>
            <div id="map_controls" class="delivery-map--submit d-flex flex-column align-center justify-center pd-2 pd-md-4 d-none">
              <div id="map_address" class="delivery-map--label d-flex flex-column justify-center align-center px-2 py-1 mb-1 mb-sm-2"></div>
              <button id="submit_address" type="button" data-id="delivery-map-submit-btn" class="button fill-width button--main button--map justify-center shrink" disabled="disabled">
                <span class="button__wrapper">
                  <span class="button__value">Доставить на этот адрес</span>
                  <span class="button__value button__value--saved">Адрес сохранен</span>
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column fill-width mb-4">
          <div class="deferred--wrapper">
            <div class="deferred">
              <div class="deferred-tabs fill-width">
                <div class="tabs-button d-flex fill">
                  <div data-id="delivery-method-block" class="tabs-button__active-block" style="width: 50%; left: 0px;">
                    <div class="fill-width fill-height"></div>
                  </div>
                  {% for method in methods %}
                    <button class="tabs-button__button" data-id="delivery-method-button" name="method_code" value="{{ method.code }}">{{ method.name }}</button>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <div data-id="input-field" class="input input-textarea d-flex align-center mb-4 mb-sm-3 input__padding{% if form.initial.order_note %} input__label-active{% endif %}">
          <div class="input__wrapper">
            <div class="input__label">Комментарий к заказу</div>
            <div class="input__control d-flex align-center" contenteditable>
              {% include 'oscar/partials/render_field.html' with field=form.order_note form_id='place_order_form' data_id='order-input-comment' %}
            </div>
          </div>
        </div>
      {% endif %}
      <form action="{% url 'checkout:checkoutview' %}" method="post" id="place_order_form" novalidate>
        {% csrf_token %}
        {% include 'oscar/partials/render_field.html' with field=form.method_code %}
        {% if basket.is_shipping_required %}
          {% include 'oscar/partials/render_field.html' with field=form.coords_long %}
          {% include 'oscar/partials/render_field.html' with field=form.coords_lat %}
          <div class="delivery mb-4" id="address_fields">
            <div class="order__subtitle mb-1 mb-sm-2">
              <h2>Адрес доставки</h2>
            </div>
            <div id="line1_container" class="delivery__address-wrapper input alternative">
              <div class="d-flex delivery--input">
                {% include 'oscar/partials/render_field.html' with field=form.line1 data_id='address-input' %}
              </div>
              <div id="suggest_list" class="search__suggest d-none"></div>
            </div>
            <span id="line1_hints" class="delivery__address-hint d-inline-block mt-1 mb-2 d-none"></span>
            <div class="mt-0 row">
              <div class="col col-4 col-sm-4">
                <div data-id="input-field" class="input d-flex align-center input__padding{% if form.initial.line2 %} input__label-active{% endif %}">
                  <div class="input__wrapper">
                    <div class="input__label">Квартира</div>
                    <div class="input__control d-flex align-center">
                      {% include 'oscar/partials/render_field.html' with field=form.line2 data_id='delivery-input-flat' %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-4 col-sm-4">
                <div data-id="input-field" class="input d-flex align-center input__padding{% if form.initial.line3 %} input__label-active{% endif %}">
                  <div class="input__wrapper">
                    <div class="input__label">Подъезд</div>
                    <div class="input__control d-flex align-center">
                      {% include 'oscar/partials/render_field.html' with field=form.line3 data_id='delivery-input-door' %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-4 col-sm-4">
                <div data-id="input-field" class="input d-flex align-center input__padding{% if form.initial.line4 %} input__label-active{% endif %}">
                  <div class="input__wrapper">
                    <div class="input__label">Этаж</div>
                    <div class="input__control d-flex align-center">
                      {% include 'oscar/partials/render_field.html' with field=form.line4 data_id='delivery-input-floor' %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-id="input-field" class="input input-textarea d-flex align-center mt-1 mt-sm-2 input__padding{% if form.initial.notes %} input__label-active{% endif %}">
              <div class="input__wrapper">
                <div class="input__label">Комментарий курьеру</div>
                <div class="input__control d-flex align-center" contenteditable>
                  {% include 'oscar/partials/render_field.html' with field=form.notes data_id='delivery-input-note' %}
                </div>
              </div>
            </div>
          </div>
          <div class="order__subtitle mb-1 mb-sm-2">
            <h2 data-id="order-time-title">Время доставки</h2>
          </div>
        {% else %}
          <div class="order__subtitle mb-1 mb-sm-2">
            <h2 data-id="order-time-title">Время самовывоза</h2>
          </div>
        {% endif %}
        <div class="d-flex flex-column fill-width">
          <div class="deferred--wrapper">
            <div class="deferred">
              <div class="deferred-tabs fill-width">
                <div class="tabs-button d-flex fill">
                  {% include 'oscar/partials/render_field.html' with field=form.order_time %}
                  <div data-id="delivery-time-block" class="tabs-button__active-block" style="width: 50%; left: 0px;">
                    <div class="fill-width fill-height"></div>
                  </div>
                  <button data-id="delivery-time" data-type="now" type="button" class="tabs-button__button">Ближайшее</button>
                  <label data-id="delivery-time" data-type="later" for="delivery_time_later" class="tabs-button__button label">Ко времени</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div id="delivery_time" class="order__delivery-time"></div>
          <input id="delivery_time_later" type="text" class="order__delivery-time hidden" />
        </div>
        <div class="order__subtitle mt-4">
          <h2>Способ оплаты</h2>
        </div>
        {% block payment_method %}
          <div class="payment-block fill-width mt-1 mt-sm-2">
            {% include 'oscar/partials/render_field.html' with field=form.payment_method %}
          </div>
        {% endblock %}
        <div data-id="input-field" data-field="email-field" class="input d-flex align-center mt-1 mt-sm-2 input__padding">
          <div class="input__wrapper">
            <div class="input__label" id="email_field_label">E-mail для получения чеков</div>
            <div class="input__control d-flex align-center">
              {% include 'oscar/partials/render_field.html' with field=form.email_or_change %}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
