{% extends 'dashboard/layout.html' %}

{% load currency_filters %}

{% block title %}
  {% if offer.pk %}
    {{ offer.name }}:
  {% else %}
    Create new offer:
  {% endif %}
  {{ title }} | Offers | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:index' %}">Главная</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:offer-list' %}">Акции</a>
      </li>
      {% if offer.pk %}
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard:offer-detail' pk=offer.pk %}">{{ offer.name }}</a>
        </li>
      {% else %}
        <li class="breadcrumb-item">
          Создать новую акцию
        </li>
      {% endif %}
      <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
  </nav>
{% endblock %}

{% block navtext %}
  <h1>
    {% if not offer.pk %}
      Создать новую акцию
    {% else %}
      {{ offer.name }}
    {% endif %}
  </h1>
{% endblock %}

{% block dashboard_content %}
  <div class="row">
    <div class="col-md-3">
      {% block progress %}
        {% include 'dashboard/offers/progress.html' %}
      {% endblock %}
    </div>
    <div class="{% if session_offer %}col-md-6{% else %}col-md-9{% endif %}">
      <form method="post" class="form-stacked wysiwyg fixed-actions">
        <div class="table-header">
          <h3>{{ title }}</h3>
        </div>
        <div class="card card-body">
          {% csrf_token %}
          {% block form_fields %}
            {% include 'dashboard/partials/form_fields.html' with form=form %}
          {% endblock %}
          {% block form_extradata %}
          {% endblock %}
        </div>
        {% block form_actions %}
          <div class="fixed-actions-group">
            <div class="form-actions">
              <div class="float-right">
                {% block form_actions_buttons %}
                  <button class="btn btn-primary" type="submit" data-loading-text="Submitting...">
                    {% block submittext %}
                      продолжить
                    {% endblock %}
                  </button>
                  {% if offer %}
                    {# When editing offer, show saving button #}
                    <button class="btn btn-secondary" name="save" type="submit" data-loading-text="сохранение">Сохранить изменения</button>
                  {% endif %}
                {% endblock %}
              </div>
              <a class="btn btn-secondary" href="{% url 'dashboard:offer-list' %}">отмена</a>
            </div>
          </div>
        {% endblock %}
      </form>
    </div>
    {% if session_offer %}
      <div class="col-md-3">
        {% block summary %}
          {% include 'dashboard/offers/summary.html' %}
        {% endblock %}
      </div>
    {% endif %}
  </div>
{% endblock %}
