{% load svg_tags %}

<div class="app__mobile">
  <div class="app-mobile d-flex fill-height align-center justify-space-around">
    <a href="{{ homepage_url }}" data-id="mobile-main-link" {% if summary == 'home' %}class="active"{% endif %}>
      {% icon file_name='app_mobile_sticker/menu' size=24 stroke='#999' %}
      <span class="mt-1">Меню</span>
    </a>
    <a href="{% url 'home:actions' %}" data-id="mobile-actions-link" {% if summary == 'actions' %}class="active"{% endif %}>
      {% icon file_name='app_mobile_sticker/actions' size=24 stroke='#999' %}
      <span class="mt-1">Акции</span>
    </a>
    {% if user.is_authenticated %}
      <a href="{% url 'customer:summary' %}" data-id="mobile-cabinet-link" {% if summary == 'profile' %}class="active"{% endif %}>
        <span class="d-flex pos-relative">
          {% icon file_name='app_mobile_sticker/profile' size=24 stroke='#999' %}
          <span data-id="notifications-nums" class="badge d-flex justify-center align-center">{{ num_unread_notifications }}</span>
        </span>
        <span class="mt-1">Профиль</span>
      </a>
    {% else %}
      <button onclick="openAuthModal()" data-id="mobile-cabinet-link">
        {% icon file_name='app_mobile_sticker/profile' size=24 stroke='#999' %}
        <span class="mt-1">Войти</span>
      </button>
    {% endif %}
    <button data-id="mobile-cart-button" onclick="window.location.href='{% url 'basket:summary' %}'">
      <span class="d-flex pos-relative">
        {% icon file_name='app_mobile_sticker/cart' size=24 stroke='#999' %}
        <span data-id="cart-nums" class="badge d-flex justify-center align-center">{{ request.basket.num_items|default:"" }}</span>
      </span>
      <span class="mt-1">Корзина</span> 
    </button>
  </div>
</div>
