{% load svg_tags %}
{% load static %}
{% load cache %}

{% cache 3600 cookies %}
    <div class="app__cookies" style="width: 100%">
        <div class="app__cookies--inner">
            <div class="app-cookies d-flex flex-column flex-sm-row align-center justify-space-between fill-width pd-3">
                <div class="d-flex align-center justify-space-between fill-width mb-2 mb-sm-0 mr-sm-4">
                    {% icon 'cookies/cookie' 'app-cookies__picture mr-2 mr-sm-3' 32 %}
                    <p class="app-cookies__text fill-width">
                        На этом сайте используются файлы cookies
                    </p>
                </div>
                <button type="button" onclick="agree_cookie()"
                    class="button button--main justify-center shrink"><span class="button__wrapper">
                        <span class="button__value">
                            Окей
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
{% endcache %}