{% load svg_tags %}
{% load cache %}

<div class="app__header-left d-flex mr-sm-2 mr-md-3">
    {% cache 3600 header_logo store.id %}
        <a href="{{ homepage_url }}" data-id="header-logo"
            class="header__logo d-sm-flex shrink router-link-exact-active router-link-active mr-1"
            aria-current="page" aria-label="Домашняя страница">
            {% icon file_name='header/logo' size=45%}        
        </a>
        {% if stores_select %}
            <button onclick="openStoreModal()" class="store_select text-left d-flex flex-column checked">
                {% if store %}
                    <span class="header_store">{{ store.name }}</span>
                    <span class="header_address">{{ store.primary_address }}</span>
                {% endif %}
            </button>
        {% endif %}
    {% endcache %}
</div>
<div class="app__header-right d-flex">
    {% cache 3600 header_right %}
        <a href="{% url 'search:search-page' %}" data-id="nav-search-icon-button" class="app-header__button d-flex flex-column mr-4 align-center">
            <span class="app-header__button-picture">  
                {% icon file_name='header/search' size=26 fill='#111'%}
            </span>
            Поиск
        </a>
        <a href="{% url 'address:delivery-address' %}" data-id="address-button" class="app-header__button d-flex flex-column mr-4 align-center">
            <span class="app-header__button-picture">  
                {% icon file_name='map/delivery' size=26 stroke='#111'%}
            </span>
            Доставка
        </a>
        <a href="{% url 'home:actions' %}" data-id="header-actions-button" class="app-header__button d-flex flex-column mr-4 align-center">
            <span class="app-header__button-picture">
                {% icon file_name='app_mobile_sticker/actions' size=26 stroke='#111'%}
            </span>
            Акции
        </a>
    {% endcache %}
    {% if user.is_authenticated %}
        <a data-id="header-profile-btn" class="app-header__button d-flex flex-column align-center pos-relative" href="{% url 'customer:summary' %}">
            <span class="app-header__button-picture">
                {% icon file_name='app_mobile_sticker/profile' size=26 stroke='#111'%}
            </span>
            <span data-id="notifications-nums" class="badge d-flex justify-center align-center" style="right: 0.5rem;">{{ num_unread_notifications }}</span>
            Профиль
        </a>
    {% else %}
        <button data-id="header-profile-btn" class="app-header__button d-flex flex-column align-center" onclick="openAuthModal()">
            <span class="app-header__button-picture">
                {% icon file_name='app_mobile_sticker/profile' size=26 stroke='#111'%}
            </span>
            Войти
        </button>
    {% endif %}
</div>