{% extends 'webshop/customer/baseaccountpage.html' %}

{% load svg_tags %}
{% load compress %}
{% load static %}

{% block app_class %}
  {{ block.super }} app---profile-link
{% endblock %}

{% block breadcrumbs %}
  <div aria-label="breadcrumb" class="bread d-none d-sm-flex align-center mt-2 mb-3 mx-md-0">
    <button onclick="getBack(); return false" data-id="back-bread-btn" class="pd-0 mr-1">{% icon file_name='webshop/themes/planet/interface/arrow-back' size=22 stroke='#111' %}</button>
    <a href="{{ homepage_url }}" data-id="back-bread-btn" class="bread__link router-link-active">Главная</a>
    {% icon file_name='webshop/themes/planet/interface/arrow-left' size=24 stroke='#999' %}
    <a href="{% url 'customer:summary' %}" data-id="back-bread-btn" class="bread__link router-link-active">Личный кабинет</a>
    {% icon file_name='webshop/themes/planet/interface/arrow-left' size=24 stroke='#999' %}
    <a href="{% url 'customer:notifications-inbox' %}" data-id="back-bread-btn" class="bread__link router-link-active">Уведомления</a>
    {% icon file_name='webshop/themes/planet/interface/arrow-left' size=24 stroke='#999' %}
    <span class="bread__link" aria-current="page">{{ page_title }}</span>
  </div>
{% endblock %}

{% block tabcontent %}
  <div class="profile-personal__block fill-width d-flex flex-column pd-0 pd-sm-4">
    <div class="order__title d-flex justify-space-between mb-2 align-center">
      <div class="d-flex justify-space-between align-center">
        <div class="notification-list-item__status notification-list-item__status{% if notification.status == 'Canceled' %}--canceled{% elif notification.status == 'Success' %}--success{% elif notification.status == 'Warning' %}--warning{% else %}--info{% endif %} mr-1"></div>
        <h1>
          {% if notification.subject %}
            {{ notification.subject|safe }}
          {% endif %}
        </h1>
      </div>
    </div>
    <div class="cabinet-orders fill-width grow-1 mb-2">
      <div class="cabinet__promo-wrapper fill-width d-flex flex-column">
        <ul class="orders-list d-flex flex-column fill-width fill-width">
          <li class="orders-list-item fill-width" data-id="profile-notifications-item">
            <div class="notification-list-item fill-width">
              <div class="d-flex flex-column fill-width py-1">
                <div class="d-flex justify-space-between align-center fill-width">
                  <div class="d-flex flex-column">
                    {% if notification.description %}
                      <span class="orders-list-item__details mt-1 mb-2">{{ notification.description|safe }}</span>
                    {% endif %}
                  </div>
                </div>
                {% if notification.body %}
                  <div class="d-flex flex-column">{{ notification.body|safe }}</div>
                {% endif %}
                <div class="d-flex justify-space-between align-center fill-width pt-2">
                  <div class="orders-list-item__status d-flex align-center text--grey">
                    {% if notification.sender %}
                      {{ notification.sender }}
                    {% endif %}
                  </div>
                  <span class="orders-list-item__date text--grey">{{ notification.date_sent }}</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
