{% extends "oscar/layout.html" %}

{% load product_tags %}
{% load static %}
{% load svg_tags %}

{% block title %}
    Поиск | {{ block.super }}
{% endblock %}

{% block wrapper_class %}search d-flex fill-width flex-column justify-start grow-1 fill-height pb-3 pb-sm-6 pt-sm-2{% endblock %}

{% block app_class %}v-app---search{% endblock %}
{% block nav_class %}v-app__nav--search{% endblock %}

{% block nav_title %}Поиск{% endblock %}
{% block nav_title_center %}Поиск{% endblock %}

{% block sticky_address %}{% endblock %}

{% block breadcrumbs %}
    <div aria-label="breadcrumb" class="v-bread d-none d-sm-flex align-center px-1 py-1 pb-2 mb-md-1 mt-md-1">
        <button onclick="getBack(); return false" data-id="delivery-bread-main-link" class="pd-0 mr-1">
            {% icon file_name='interface/arrow-back' size=22 stroke="#111"%}
        </button>
        <a href="{{ homepage_url }}" data-id="delivery-bread-main-link" class="v-bread__link router-link-active">Главная</a>
        {% icon file_name='interface/arrow-left' size=24 stroke="#999"%}
        <span class="v-bread__link" aria-current="page">Поиск{{ query }}</span>
    </div>
{% endblock %}


{% block content %}
    <div class="d-flex fill-width px-2 px-md-2">
        {% comment %}------------- название категории ---------------{% endcomment %}
        <div class="search__input-wrapper d-flex fill-width px-md-0 flex-column">

            <div class="d-none d-sm-flex">
                <h1>Поиск</h1>
            </div>
            
            <div class="search__input d-flex fill-width">
                <div id="search_form" class="d-flex fill-width py-2 px-md-0">
                    <div class="v-input-search fill-width">
                        {% icon file_name='interface/search' size=24 fill="#111"%}
                        <input data-id="v-input-search-field" name="q" id="id_q" placeholder="Поиск" aria-label="Поиск">
                    </div>
                    <div class="d-none d-sm-flex ml-2">
                        <button id="search_clean_btn" type="button" data-test-id="search-back-button" class="v-button v-button--main v-button--clear justify-center shrink">
                            <span class="v-button__wrapper">
                                <span class="v-button__value"> Очистить </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div id="search_result" class="v-dishes v-dishes--search mt-1 fill-width"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        var url_search = "{% url 'search:search' %}";
        var url_suggestions = "{% url 'search:suggestions' %}";
    </script>
    <script src="{% static "js/oscar/ui.js" %}"></script>
    <script type="application/javascript" src="{% static "js/search/search.js" %}"></script>
    <script type="application/javascript" src="{% static "js/catalogue/add-to-cart-compact.js" %}"></script>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
