{% load widget_tweaks %}

{% if form.is_bound and not form.is_valid %}
    <div class="alert alert-danger">
        <strong>Что-то пошло не так...</strong> - проверьте ошибки ниже и повторите снова
    </div>
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <i class="fas fa-exclamation"></i> {{ error }}
        </div>
    {% endfor %}
{% endif %}

{% for field in form  %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        <div id="auth_{{ field.auto_id}}" class="align-center {% if field.auto_id == "id_password" %}d-none mt-2 {% else %}input input__label-active{% endif %}">
            <div class="input__wrapper">
                <div class="input__control d-flex align-center">
                    {% block widget %}
                        {% render_field field class+="form-control" %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="auth-agreement__title filll-width mt-1 text-start" >
            <span class="text--red" id="error_{{ field.auto_id}}"></span>
        </div>
    {% endif %}
{% endfor %}