{% extends 'oscar/dashboard/layout.html' %}

{% block title %}
  Удалить страницу "{{ title }}" | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:index' %}">Главная</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:page-list' %}">Страницы</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:page-update' pk=page.id %}">{{ title }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Удалить страницу "{{ title }}"</li>
    </ol>
  </nav>
{% endblock %}

{% block navtext %}
  <h1>Страница "{{ title }}" | Удаление</h1>
{% endblock %}

{% block dashboard_content %}
  <form method="post" class="confirm-content">
    <div class="table-header">
      <h2>Удаление страницы "{{ title }}"</h2>
    </div>
    <div class="card card-body card-confirm bg-light">
      {% csrf_token %}
      {{ form }}
      <p>
        Удалить страницу <strong>{{ title }}</strong> - вы уверены?
      </p>
    </div>
    <div class="table-footer">
      <div class="form-actions d-flex justify-content-end flex-wrap align-items-end fill-width">
        <div class="d-flex justify-content-end mt-3">
          <a class="btn btn-secondary" href="{% url 'dashboard:page-list' %}">
            <i class="fa-solid fa-ban"></i>
            Отмена
          </a>
          <button class="btn btn-danger ml-2" type="submit" class="btn btn-danger" data-loading-text="Удаление...">
            <i class="fa-solid fa-trash"></i>
            Удалить
          </button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}


{% comment %} {% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}

{% block title %}
  {% blocktrans with title=object.title %}Delete page '{{ title }}'?{% endblocktrans %}| {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:index' %}">{% trans 'Dashboard' %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:page-list' %}">{% trans 'Pages' %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {% blocktrans with title=object.title %}Delete page '{{ title }}'?{% endblocktrans %}
      </li>
    </ol>
  </nav>
{% endblock %}

{% block navtext %}
  {% blocktrans with title=object.title %}Delete page '{{ title }}'?{% endblocktrans %}
{% endblock %}

{% block dashboard_content %}
  <div class="table-header">
    <h2>{% trans 'Delete page' %}</h2>
  </div>
  <form method="post" class="card card-body">
    {% csrf_token %}
    {{ form }}
    <p>
      {% blocktrans with title=object.title %}Delete page <strong>{{ title }}</strong> - are you sure?{% endblocktrans %}
    </p>
    <div class="form-actions">
      <button type="submit" class="btn btn-danger" data-loading-text="{% trans 'Deleting...' %}">{% trans 'Delete' %}</button>
      {% trans 'or' %} <a href="{% url 'dashboard:page-list' %}">{% trans 'cancel' %}</a>.
    </div>
  </form>
{% endblock %} {% endcomment %}
