{% load django_tables2 %}

<div class="btn-toolbar">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-edit"></i></button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{{ record.get_absolute_url }}">Открыть</a>
      <a class="dropdown-item" id="edit_page_{{ page.id }}" href="{% url 'dashboard:page-update' pk=record.id %}">Изменить</a>
      <a class="dropdown-item" id="delete_page_{{ record.id }}" href="{% url 'dashboard:page-delete' pk=record.id %}">Удалить</a>
    </div>
  </div>
</div>
