{% load static %}
{% load image_tags %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}
{% load svg_tags %}

<div class="cart-page__wrapper d-flex flex-column flex-md-row pd-0 pd-sm-2">
    <div class="v-cart__block pos-relative d-flex flex-column fill-width">

        <header class="v-cart__header d-sm-flex justify-space-between align-center pb-2">
            <p class="v-cart__title">Корзина</p>
            <button data-id="modal-open-close" class="v-cart__clear">
                {% icon file_name='interface/empty' size=22 stroke="#d32225"%}
                <span class="ml-1">Очистить</span>
            </button>
        </header>

        {% if not basket.is_empty %}

            {% comment %} <div class="v-cart-wrapper d-flex flex-column justify-start fill-height scrollbar--white px-2 pl-sm-0 pr-sm-1"> {% endcomment %}
            <div class="v-cart-wrapper d-flex flex-column justify-start fill-height scrollbar--white px-2 px-sm-0">

                <div class="upsell-messages" id="upsell_messages">
                    {% include 'oscar/basket/partials/upsell_messages.html' with editable=1 %}
                </div>

                {% block basket_form_main %}
                    <form method="post" data-id="basket-formset" class="v-cart-form d-flex flex-column fill-width basket_summary">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        <div class="d-flex flex-column fill-width shrink">
                            <div class="v-cart-items shrink">
                                {% for form in formset %}
                                    {{ form.id }}
                                    {% with line=form.instance product=form.instance.product %}
                                        {% purchase_info_for_line request line as session %}
                                        <div data-id="cart-item-form" class="v-cart-items--item">
                                            <div class="v-dish-order d-flex fill-width">

                                                <div class="v-dish-order__picture">
                                                    <a href="{{ product.get_absolute_url }}" aria-label="{{ product.get_title }}"
                                                        class="d-block router-link-exact-active router-link-active"
                                                        data-id="dish-order-image-link">
                                                        <div class="v-dish-image fill-width">
                                                            <div class="v-image pos-relative">
                                                                <div class="v-image__inner" style="padding-bottom: 72.072%;">
                                                                    {% with image=product.primary_image %}
                                                                        {% oscar_thumbnail image.original "100x100" upscale=False as thumb %}
                                                                        <img src="{{ thumb.url }}" alt="{{ product.get_title }}" loading="lazy"/>
                                                                    {% endwith %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>

                                                <div class="v-dish-order__content d-flex flex-column fill-width ml-1">
                                                    
                                                    <div class="v-dish-order__title s d-flex align-start fill-width">
                                                        <div class="v-dish-order__name-wrapper d-flex fill-width">
                                                            <a href="{{ product.get_absolute_url }}" aria-current="page"
                                                                class="v-dish-order__name router-link-exact-active router-link-active"
                                                                data-id="dish-order-link"> 
                                                                {{ line.title }}
                                                            </a>
                                                        </div>
                                                        <button type="button" data-id="dish-order-delete-link" class="v-dish-order__delete d-flex shrink pd-0">
                                                            {% icon file_name='interface/close' size=22 stroke="#999"%}
                                                        </button>
                                                    </div>

                                                    <div class="v-dish-order__toppings d-flex fill-width flex-wrap" data-id="dish-order-toppings">
                                                        <span class="d-flex">{{ line.variants }}</span>
                                                        <span class="d-flex">{{ line.options }}</span>
                                                        <span class="d-flex">{{ line.additions }}</span>
                                                    </div>                                        
                                                
                                                    <div role="separator" class="v-spacer"></div>

                                                    <div class="d-flex fill-width mt-1 pos-relative align-center">

                                                        <div class="v-order-button pos-relative" data-id="order-buttons">
                                                            <button type="button" data-id="order-button-minus" class="v-order-button--elem" aria-label="Уменьшить">
                                                                <svg viewBox="0 0 24 24" fill="none">
                                                                    <path d="M6 12L18 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                </svg>
                                                            </button>
                                                            {% render_field form.quantity class="v-order-button--elem v-order-button--value" readonly="true" data-id="quantity-input" %}
                                                            <button type="button" data-id="order-button-plus" class="v-order-button--elem" aria-label="Увеличить">
                                                                <svg viewBox="0 0 24 24" fill="none">
                                                                    <path d="M6 12H18M12 6V18" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                </svg>
                                                            </button>
                                                        </div>

                                                        <div role="separator" class="v-spacer"></div>
                                                        
                                                        <span class="v-prices d-flex flex-column align-start">
                                                            <span class="v-prices__price no-wrap">
                                                                {{ line.unit_price|currency:line.price_currency }}
                                                            </span>
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                    {% endwith %}
                                {% endfor %} 
                            </div>
                        </div>
                    </form>
                {% endblock %}                
            </div>

            <div class="v-cart__info pd-2 pb-sm-0 px-sm-0">
                <div class="v-cart__submit d-flex align-end">
                    
                    <div class="v-cart__total d-flex flex-column">
                        <span class="v-cart__total-text">Сумма заказа</span>
                        <div data-id="cart-totals">
                            {% include 'oscar/basket/partials/basket_totals.html' with editable=1 %}
                        </div>
                    </div>

                    <div role="separator" class="v-spacer"></div>
                    
                    <button onclick="{% if not user.is_authenticated %}openAuthModal('{% url 'checkout:index' %}'){% else %}window.location.href='{% url 'checkout:index' %}'{% endif %}" type="button" data-id="cart-submit-button" class="v-button v-button--main justify-center shrink">
                        <span class="v-button__value">
                             Оформить заказ
                        </span>
                    </button>

                </div>
            </div>

            {% include "oscar/basket/partials/empty_cart.html" %}
            
        {% else %}
            <div data-test-id="alert-modal-overlay" class="v-alert v-alert--blur d-flex align-center justify-center">
                <div class="v-alert__block d-flex flex-column justify-center align-center pd-2 pd-sm-3">
                    <span class="v-alert__text text-center">
                        У вас пока нет<br>товаров в корзине
                    </span>
                    <button type="button" onclick="window.location.href='{{ homepage_url }}'" data-id="alert-modal-submit-button" class="v-button fill-width mt-3 v-button--main justify-center shrink">
                        <span class="v-button__value">
                            На главную страницу 
                        </span>
                    </button>
                </div>
            </div>
        {% endif %}

    </div>
</div>

<div class="cart-page__totals d-flex flex-column flex-md-row pd-0 pd-sm-2">
    
    <div class="v-cart__submit d-flex align-end fill-width">
        <div class="v-cart__total d-flex flex-column fill-width">
            <span class="v-cart__title pd-0 pd-sm-2" style="border-bottom: 1px solid #efefef;">Сумма заказа</span>
            <div data-id="cart-totals" class="pd-0 pd-sm-2">
                {% include 'oscar/basket/partials/basket_totals.html' with editable=1 %}
            </div>
        </div>
    </div>

    <div class="px-2 pt-1 pb-2 fill-width">
        <button onclick="{% if not user.is_authenticated %}openAuthModal('{% url 'checkout:index' %}'){% else %}window.location.href='{% url 'checkout:index' %}'{% endif %}" type="button" data-id="cart-submit-button" class="v-button v-button--main justify-center shrink fill-width">        
            <span class="v-button__value">
                 Оформить заказ
            </span>
        </button>
    </div>

</div>