<div class="v-alert d-flex align-center justify-center d-none" data-id="modal-empty-cart">
    <div class="v-confirm__block pd-2 py-3 pd-sm-3">
        <div class="v-confirm__text text-center">Очистить корзину?</div>
            <div class="d-flex align-center justify-space-between mt-2 mt-sm-3">
                
                <div class="v-confirm__button">
                    <button type="button" data-id="empty-cart" class="v-button fill-width v-button--white justify-center shrink">
                        <span class="v-button__wrapper">
                            <span class="v-button__value"> Да </span>
                        </span>
                    </button>
                </div>
    
            <div class="v-confirm__button">
                <button type="button" data-id="modal-open-close" class="v-button fill-width v-button--outline justify-center shrink">
                    <span class="v-button__wrapper">
                        <span class="v-button__value"> Нет </span>
                    </span>
                </button>
            </div>
            
        </div>
    </div>
</div>