{% extends "oscar/customer/baseaccountpage.html" %}

{% block tabcontent %}
    <div class="profile wrapper--small d-flex flex-column fill-width fill-height">
        <div class="profile__wrapper d-flex flex-column fill-width grow-1">
            
            <div class="d-flex flex-column fill-width pt-sm-4 ml-2">
                <p class="profile__user-name"> Привет! {% if request.user.name %}{{ request.user.name }}{% endif %}</p>
                <p class="profile__user-phone mt-1">{{ request.user.username }}</p>
            </div>
            
            <div class="d-flex fill-width pt-0 pt-sm-3">
                
                <div class="profile__menu fill-width pt-3 pt-sm-0 pb-sm-0">
                    {% block standard_tabs %}
                        {% include 'oscar/customer/partials/standard_tabs.html' %}
                    {% endblock %}
                </div>

                <div class="fill-width pl-0 pl-sm-4 d-none d-sm-block">
                    <form class="profile-personal d-flex flex-column fill-height fill-width grow-1">
                        <div class="profile-personal__block fill-width d-flex flex-column pd-0 pd-sm-4">
                            
                            <div class="input d-flex align-center input__label-active input__padding">
                                <div class="input__wrapper">
                                    <div class="input__label">Имя</div>
                                    <div class="input__control d-flex align-center">
                                        <label>
                                            <input maxlength="30" data-id="profile-name-input" type="text">
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="input d-flex align-center mt-2 input__label-active input__padding readonly">
                                <div class="input__wrapper">
                                    <div class="input__label">Телефон</div>
                                    <div class="input__control d-flex align-center">
                                        <label>
                                            <input readonly data-id="profile-phone-input" type="text">
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="input d-flex align-center mt-2 input__padding">
                                <div class="input__wrapper">
                                    <div class="input__label">Дата рождения</div>
                                    <div class="input__control d-flex align-center">
                                        <label>
                                            <input data-id="profile-birthday-input" type="text">
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="input d-flex align-center mt-2 input__label-active input__padding">
                                <div class="input__wrapper">
                                    <div class="input__label">Почта</div>
                                    <div class="input__control d-flex align-center">
                                        <label>
                                            <input maxlength="30" data-id="profile-email-input" type="text">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-none d-sm-flex justify-end mt-4">
                            <div class="profile-personal__button-wrap d-flex mr-2">
                                <a data-id="profile-logout-btn" href="{% url 'dashboard:logout' %}"
                                    class="button fill-width button--outline justify-center shrink">
                                    <span class="button__wrapper">
                                        <span class="button__value"> Выйти из аккаунта </span>
                                    </span>
                                </a>
                            </div> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
