{% extends 'oscar/customer/baseaccountpage.html' %}

{% load currency_filters %}
{% load purchase_info_tags %}
{% load reviews_tags %}
{% load svg_tags %}
{% load compress %}
{% load static %}

{% block breadcrumbs %}
  <div aria-label="breadcrumb" class="bread d-none d-sm-flex align-center mt-2 mb-3 mx-md-0">
    <button onclick="getBack(); return false" data-id="back-bread-btn" class="pd-0 mr-1">{% icon file_name='interface/arrow-back' size=22 stroke='#111' %}</button>
    <a href="{{ homepage_url }}" data-id="back-bread-btn" class="bread__link router-link-active">Главная</a>
    {% icon file_name='interface/arrow-left' size=24 stroke='#999' %}
    <a href="{% url 'customer:summary' %}" data-id="back-bread-btn" class="bread__link router-link-active">Личный кабинет</a>
    {% icon file_name='interface/arrow-left' size=24 stroke='#999' %}
    <span class="bread__link" aria-current="page">{{ page_title }}</span>
  </div>
{% endblock %}

{% block tabcontent %}
  <div class="profile-personal__block fill-width d-flex flex-column pd-0 pd-sm-4">
    <div class="order__title d-flex justify-space-between mb-2 align-center">
      <div class="d-none d-sm-flex">
        <h1>Отзывы</h1>
      </div>
      <a class="text--info" href="{% url 'customer:feedbacks-available' %}"><h3>Мои заказы</h3></a>
    </div>
    {% if reviews %}
      <div class="cabinet-orders fill-width grow-1 mb-2">
        <div class="cabinet__promo-wrapper fill-width d-flex flex-column">
          <ul class="orders-list d-flex flex-column fill-width fill-width">
            {% for review in reviews %}
              <li class="orders-list-item fill-width">
                <div class="orders-list-item fill-width">
                  <div class="d-flex flex-column fill-width py-3">
                    <div class="d-flex justify-space-between align-center fill-width">
                      <span class="orders-list-item__title">Отзыв на заказ №{{ review.order.number }}</span>
                    </div>
                    <div class="profile-feedback_rating-area d-flex justify-start mt-2">
                      {% for star in '12345'|make_list %}
                        <div class="order-rating{% if review|stars:star %} selected{% endif %}"></div>
                      {% endfor %}
                    </div>
                    {% block order_contents %}
                      <div class="order-checkout__items">
                        {% for line in review.order.all_lines %}
                          {% if line.product %}
                            <span>{{ line.get_full_name }} - {{ line.quantity }} {{ line.product.get_product_class.measure_name }}</span><br />
                          {% else %}
                            <span>{{ line.name }} - {{ line.quantity }} шт.</span><br />
                          {% endif %}
                        {% endfor %}
                      </div>
                    {% endblock %}
                    <div class="d-flex justify-space-between align-center fill-width pt-1">
                      <div class="orders-list-item__status d-flex align-center">
                        <span>{{ review.body }}</span>
                      </div>
                      <span class="orders-list-item__date text--grey">{{ review.date_created }}</span>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% include 'oscar/partials/pagination.html' %}
    {% else %}
      <p>Список отзывов пуст</p>
    {% endif %}
  </div>
{% endblock %}
