{% extends "oscar/layout.html" %}
{% load static %}
{% load svg_tags %}

{% block title %}
    Корзина | {{ block.super }}
{% endblock %}

{% block wrapper_class %}fill-width fill-height px-sm-2 pb-sm-2 pt-md-2{% endblock %}

{% block app_class %}v-app---cart{% endblock %}
{% block nav_class %}v-app__nav--cart{% endblock %}

{% block nav_title %}Корзина{% endblock %}
{% block nav_title_center %}Корзина{% endblock %}

{% block breadcrumbs %}
    <div aria-label="breadcrumb" class="v-bread d-none d-sm-flex align-center mt-2 mb-3">
        <button onclick="getBack(); return false" data-id="back-bread-btn" class="pd-0 mr-1">
            {% icon file_name='interface/arrow-back' size=22 stroke="#111"%}
        </button>
        <a href="{{ homepage_url }}" data-id="back-bread-btn" class="v-bread__link router-link-active">Главная</a>
        {% for category in category.get_ancestors %}
            {% icon file_name='interface/arrow-left' size=24 stroke="#999"%}
            <a href="{{ category.get_absolute_url }}" data-id="back-bread-btn" class="v-bread__link router-link-active">{{ category.name }}</a>
        {% endfor %}
        {% icon file_name='interface/arrow-left' size=24 stroke="#999"%}
        <span class="v-bread__link" aria-current="page">Корзина</span>
    </div>
{% endblock breadcrumbs %}

{% block content %}
    <div class="v-cart-page d-flex flex-row flex-md-row pd-0">
        <div class="d-flex align-start pd-0 fill-height container pos-relative">
            {% include 'oscar/basket/partials/basket_content.html' %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script>
        var url_empty_basket = "{% url 'basket:empty' %}";
        var url_upsell_masseges = "{% url 'basket:upsell' %}";
    </script>
    <script type="application/javascript" src="{% static "js/basket/basket-main.js" %}"></script>
{% endblock %}

