{% load svg_tags %}
{% load partner_tags %}

<div class="v-app__header-left d-flex mr-sm-2 mr-md-3">
    {% comment %} ------------- лого --------------- {% endcomment %}
    <a href="{{ homepage_url }}" data-id="header-logo"
        class="header__logo d-sm-flex shrink router-link-exact-active router-link-active mr-1"
        aria-current="page">
        {% icon file_name='header/logo' size=45%}        
    </a>
    {% if partners_select %}
        <button onclick="openPartnerModal()" class="partner_select text-left d-flex flex-column checked">
            {% selected_partner request as partner %}
            <span class="header_partner">{{ partner }}</span>
            <span class="header_address">{{ partner.primary_address }}</span>
        </button>
    {% endif %}
</div>

<div class="v-app__header-right d-flex">

    {% comment %} ------------- Доставка --------------- {% endcomment %}
    <a href="{% url 'address:delivery-address' %}" data-id="address-button" class="v-app-header__button d-flex flex-column mr-4 align-center">
        <span class="v-app-header__button-picture">  
            {% icon file_name='map/delivery' size=26 stroke='#000'%}
        </span>
        Доставка
    </a>

    {% comment %} ------------- акции --------------- {% endcomment %}
    <a href="{% url 'home:actions' %}" data-id="header-actions-button" class="v-app-header__button d-flex flex-column mr-4 align-center">
        <span class="v-app-header__button-picture">
            {% icon file_name='app_mobile_sticker/actions' size=26 stroke='#111'%}
        </span>
        Акции
    </a>

    {% comment %} ------------- профиль --------------- {% endcomment %}
    {% if user.is_authenticated %}
        <a data-id="header-profile-btn" class="v-app-header__button d-flex flex-column align-center pos-relative" href="{% url 'customer:summary' %}">
            <span class="v-app-header__button-picture">
                {% icon file_name='app_mobile_sticker/profile' size=26 stroke='#111'%}
            </span>
            <span data-id="notifications-nums" class="badge d-flex justify-center align-center" style="right: 0.5rem;">{{ num_unread_notifications }}</span>
            Профиль
        </a>
    {% else %}
        <button data-id="header-profile-btn" class="v-app-header__button d-flex flex-column align-center" onclick="openAuthModal()">
            <span class="v-app-header__button-picture">
                {% icon file_name='app_mobile_sticker/profile' size=26 stroke='#111'%}
            </span>
            Войти
        </button>
    {% endif %}

</div>