{% load svg_tags %}
{% load category_tags %}

{% comment %} ------------- кнопка назад --------------- {% endcomment %}
<button onclick="getBack(); return false" data-id="back-main-btn" class="v-button v-app-nav__back v-button--small justify-center mx-2 shrink" aria-label="Назад">
    <span class="v-button__wrapper">
        <span class="d-flex">
            {% icon file_name='interface/arrow-home' size=24 stroke='#000'%}
        </span>
    </span>
</button>

<ul class="nav-scrollbox">
    {% category_tree as tree_categories %}
    {% if tree_categories %}
        {% for tree_category in tree_categories %}
        {% comment %}------------- категория item ---------------{% endcomment %} 
        <li class="mr-2 cat_item {% if tree_category.pk == category.pk %} cat_item--active{% endif %}">
            <a href="{{ tree_category.url }}" data-id="categories-tabs-item-hits">
            {{ tree_category.name }}
            </a>
        </li>
        {% endfor %}
    {% endif %}
</ul>

<div role="separator" class="v-spacer"></div>

{% comment %} ------------- поиск иконка (mobile) --------------- {% endcomment %}
<button type="button" onclick="window.location.href='{% url 'search:search-page' %}'" data-id="nav-search-icon-button"
    class="v-button v-app-nav__button--search d-none-i v-button--small justify-center ml-2 shrink">
    <span class="v-button__wrapper" style="opacity:1;">
        <span class="d-flex">
            {% icon file_name='header/search' size=24 fill='#111'%}
        </span>
    </span>
</button>

<button type="button" data-id="modal-open-close" class="v-button v-button--small v-button--empty-cart ml-2 justify-center shrink">
    <span class="v-button__wrapper">
        <span class="d-flex">
            {% icon file_name='interface/empty' size=20 stroke="#d32225"%}
        </span>
    </span>
</button>
