{% load category_tags %}
{% load image_tags %}
{% comment %}------------- категории версия ДЕСКТОП начало ---------------{% endcomment %}
<div class="v-sticky-categories-tabs align-start v-sticky-categories-tabs--small">
  <div class="v-sticky-categories-tabs__block d-flex flex-column fill-width pt-2 pl-1 pb-sm-8">
    {% comment %}------------- навигация по категориям ---------------{% endcomment %}
    <nav class="v-categories-tabs d-block fill-width">
      <ul class="v-categories-tabs__collection d-flex flex-column fill-width">

        {% category_tree as tree_categories %}
        {% if tree_categories %}
          {% for tree_category in tree_categories %}
            {% comment %}------------- категория item ---------------{% endcomment %} 
            <li class="v-categories-tabs__item fill-width">
              <a href="{{ tree_category.url }}" class="v-categories-tabs__link d-flex align-center{% if tree_category.pk == category.pk %} v-categories-tabs__link--active{% endif %}" data-id="categories-tabs-item-hits">
                <div class="v-categories-tabs__icon shrink mr-2">
                  <div class="v-dish-image fill-width shrink v-dish-image--no-loader">
                    <div class="v-images-chunks pos-relative"> 
                      <div class="v-image">
                        <div class="v-image__inner" style="padding-bottom: 100%;">
                          {% with image=tree_category.primary_image %}
                              {% oscar_thumbnail image.original "x155" upscale=False as thumb %}
                              <div class="v-dish-image fill-width">
                                  <div class="v-images-chunks pos-relative">
                                      <div class="v-image">
                                          <div class="v-image__inner" style="padding-bottom: 100%;">
                                              <img src="{{ thumb.url }}" alt="{{ tree_category.name }}" loading="lazy" class="img-thumbnail w-auto mx-auto my-0">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          {% endwith %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {{ tree_category.name }}
              </a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </nav>
  </div>
</div>

{% comment %}------------- категории версия ДЕСКТОП конец ---------------{% endcomment %}
