{% load django_tables2 %}
<div class="d-flex flex-column">
  <div>
    {% if record.product.evotor_id %}
      <span class="text-success"><i class="fa-solid fa-circle-check"></i>&nbsp;</span>
    {% endif %}
    <a href="{% url 'dashboard:catalogue-product' pk=record.product.pk %}{% querystring %}">{{ record.product.get_name }}</a>
  </div>
  {% if record.product.is_child %}
    <span class="text-muted small">{{ record.product.get_variants }}</span>
  {% endif %}
  <span class="text-muted small">Артикул: {{ record.product.article|default:'-' }}</span>
</div>
