{% extends 'oscar/dashboard/layout.html' %}

{% load render_table from django_tables2 %}
{% load currency_filters %}
{% load dashboard_tags %}
{% load sorting_tags %}

{% block body_class %}
  {{ block.super }} reviews
{% endblock %}

{% block dashboard_content %}
  <div class="table-wrapper mb-4">
    <div class="table-header d-flex justify-space-between" data-target="#search-body" data-toggle="collapse" aria-controls="search-body" aria-expanded="false">
      <h3><i class="fas fa-search"></i> Поиск</h3>
      <i class="fa-solid fa-chevron-up" style="color: var(--primary);"></i>
      <i class="fa-solid fa-chevron-down" style="color: var(--primary);"></i>
    </div>
    <div class="card card-body bg-light {% if form.is_valid %}collapse{% endif %}" id="search-body">
      <form method="get" class="form-inline fill-width d-flex justify-content-between">
        <div class="d-flex form-row">
          {% include 'oscar/dashboard/partials/form_fields_inline.html' with form=form %}
        </div>
        <div class="btn-form d-flex my-2">
          <button type="submit" class="btn btn-primary flex-fill">
            <i class="fas fa-search"></i>
            <span class="ml-2">Поиск</span>
          </button>
        </div>
      </form>
      {% if search_filters %}
        <div class="search-filter-list mt-4">
          <label class="mr-2">Фильтры:</label>
          {% for filter, param in search_filters %}
            <span class="badge badge-filter mb-2 mr-1">
              {{ filter }}
              <a class="delete-filter text-danger ml-1" href="{% delete_filter request param %}"><i class="fa-solid fa-xmark"></i></a>
            </span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <form method="post" class="mobile-table">
    {% csrf_token %}
    {% if reviews %}
      {% render_table reviews %}
      {% if reviews.paginated_rows %}
        <div class="table-wrapper mb-4 d-none" id="actions_lines">
          <div class="table-header d-flex justify-space-between" data-target="#status-body" data-toggle="collapse" aria-controls="status-body" aria-expanded="true">
            <h3><i class="fa-solid fa-list-check"></i>Изменить статус выбранных отзывов</h3>
            <i class="fa-solid fa-chevron-up" style="color: var(--primary);"></i>
            <i class="fa-solid fa-chevron-down" style="color: var(--primary);"></i>
          </div>
          <div class="card card-body dropdown-list" id="status-body">
            <h2 class="mb-3">Изменить статус отзыва</h2>
            <div class="form-inline fill-width justify-space-between">
              <div>
                <label>Новый статус</label>
                {{ review_form.status }}
                <input type="hidden" name="action" value="update_selected_review_status" />
              </div>
              <button type="submit" name="update" class="btn btn-success" data-loading-text="Обновление...">Обновить</button>
            </div>
          </div>
        </div>
      {% endif %}
    {% else %}
      <p class="empty">Отзывы не найдены</p>
    {% endif %}

    {% include 'oscar/dashboard/partials/pagination.html' %}
  </form>
{% endblock %}

{% block onbodyload %}
  {{ block.super }}
  oscar.dashboard.orders.initTable();
{% endblock %}
