{% extends 'webshop/themes/planet/layout.html' %}

{% load svg_tags %}
{% load compress %}
{% load static %}

{% block app_class %}
  app---shipping
{% endblock %}

{% block nav_class %}
  app__nav--shipping
{% endblock %}

{% block wrapper_class %}
  shipping wrapper--small fill-width pd-2 pb-sm-4 shipping-address
{% endblock %}

{% block breadcrumbs %}
  <div aria-label="breadcrumb" class="bread d-none d-sm-flex align-center mt-2 mb-3">
    <button onclick="getBack(); return false" data-id="back-bread-btn" class="mr-1 pd-0">{% icon file_name='webshop/themes/planet/interface/arrow-back' size=22 stroke='#111' %}</button>
    <a href="{{ homepage_url }}" data-id="back-bread-btn" class="bread__link router-link-active">Главная</a>
    {% icon file_name='webshop/themes/planet/interface/arrow-left' size=22 stroke='#999' %}
    <span class="bread__link" aria-current="page">Cамовывоз</span>
  </div>
{% endblock %}

{% block content %}
  <div class="shipping__wrapper">
    {% block shipping_address %}
      <div class="shipping__address">
        <div class="shipping__title mb-2 d-none d-sm-block">
          <h1>Самовывоз</h1>
        </div>
      </div>
      <div class="shipping__map">
        <div class="map__wrapper fill-width fill-height">
          <div class="map fill-width fill-height">
            <div id="pickup_map" class="fill-width fill-height"></div>
          </div>
        </div>
      </div>
      <div class="shipping__info mt-4 pd-md-0">
        <div class="shipping__regions-block mt-4">
          <div>
            <span class="mb-1"><strong>Время работы фудкорта в ТРЦ "Планета":</strong></span>
            <br />
            <span>С 09:00 до 23:00</span>
            <br /><br />
            <span class="mb-1"><strong>Время работы доставки:</strong></span>
            <br />
            <span>С 09:00 до 23:00</span>
            <br /><br />
            <span>Оформить заказ можно на сайте mikado-sushi.ru или в ТРЦ "Планета" по адресу ул. 9 Мая 77.</span>
            <br /><br />
            <span>Минимальная сумма заказа — 700 рублей.</span>
            <br /><br />
            <span><strong>Оплатить заказ можно любым удобным вам способом:</strong></span>
            <br /><br />
            <ul>
              <li>Онлайн с помощью карт МИР, VISA и MASTERCARD;</li>
              <li>Банковскими картами этих же платежных систем через систему быстрых платежей (СБП);</li>
              <li>Наличными курьеру при получении заказа.</li>
            </ul>
            <br />
            <span><strong>Порядок возврата:</strong></span>
            <br /><br />
            <span>Возврат средств производится на ваш банковский счёт в течение 10 рабочих дней (срок зависит от банка, который выдал вашу банковскую карту).</span>
            <br /><br />
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}

{% block externalscripts %}
  <script src="https://api-maps.yandex.ru/2.1/?apikey=27bbbf17-40e2-4c01-a257-9b145870aa2a&suggest_apikey=a95e9492-342c-4d78-a53c-c7e78f0570ec&lang=ru_RU"></script>
{% endblock %}

{% block extrascripts %}
  {{ block.super }}
  {% compress js %}
  <script src="{% static 'js/webstore/shipping/pickup.js' %}" defer></script>
  {% endcompress %}
{% endblock %}
