{% extends "oscar/customer/baseaccountpage.html" %}

{% load currency_filters %}
{% load display_tags %}
{% load reviews_tags %}
{% load image_tags %}
{% load svg_tags %}
{% load compress %}
{% load static %}

{% block title %}{{ page_title }}Заказ №{{ order.number }} | {{ block.super }}{% endblock %}
{% block nav_title_center %}Заказ №{{ order.number }}{% endblock %}

{% block breadcrumbs %}
    <div aria-label="breadcrumb" class="v-bread d-none d-sm-flex align-center mt-2 mb-3 mx-md-0">
        <button onclick="getBack(); return false" data-id="back-bread-btn" class="pd-0 mr-1">
            {% icon file_name='interface/arrow-back' size=22 stroke="#111"%}
        </button>
        <a href="{{ homepage_url }}" data-id="back-bread-btn" class="v-bread__link router-link-active">Главная</a>
        {% icon file_name='interface/arrow-left' size=24 stroke='#999'%}
        <a href="{% url 'customer:summary' %}" data-id="back-bread-btn" class="v-bread__link router-link-active">Личный кабинет</a>
        {% icon file_name='interface/arrow-left' size=24 stroke='#999'%}
        <a href="{% url 'customer:order-list' %}" data-id="back-bread-btn" class="v-bread__link router-link-active">Заказы</a>
        {% icon file_name='interface/arrow-left' size=24 stroke='#999'%}
        <span class="v-bread__link" aria-current="page">{{ page_title }}</span>
    </div>
{% endblock %}

{% block tabcontent %}
    <div class="profile-personal__block fill-width d-flex flex-column pd-0 pd-sm-4">
        <div class="v-order__title d-flex justify-space-between mb-2 justify-start align-center">
            <div class="d-flex">
                <svg class="mr-2" data-id="payment-icon-svg" width="30" height="30">
                    {% if order.status == "Ожидает оплаты" %}
                        <use xlink:href="#svg-order-pending"></use>
                    {% elif order.status == "Отменен" %}
                        <use xlink:href="#svg-order-cancel"></use>
                    {% else %}
                        <use xlink:href="#svg-order-success"></use>
                    {% endif %}
                </svg>
                <h1>Заказ №{{ order.number }}</h1>
            </div>

            {% block order_actions %}
                <form id="order_form_{{ order.id }}" action="{% url 'customer:order' order_number=order.number %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="order_id" value="{{ order.id }}" />
                    <input type="hidden" name="action" value="reorder" />
                    <button type="submit" class="v-button v-button--main justify-center shrink" data-loading-text="Обновляем корзину">Повторить</button>
                </form>
            {% endblock order_actions %}   
        </div>

        <div class="mb-4">
            {% for line in order.lines.all %}
                {% with product=line.product %}
                    {% if product %}
                        <div class="v-dish-order d-flex fill-width">
                            <div class="v-dish-order__picture">
                                <a href="{{ product.get_absolute_url }}" aria-current="page"
                                    class="d-block router-link-exact-active router-link-active"
                                    data-id="dish-order-image-link">
                                    <div class="v-dish-image fill-width pos-relative">
                                        <div class="v-image">
                                            <div class="v-image__inner" style="padding-bottom: 72.072%;">
                                                {% with image=product.primary_image %}
                                                    {% oscar_thumbnail image.original "100x100" upscale=False as thumb %}
                                                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}" loading="lazy"/>
                                                {% endwith %}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="v-dish-order__content d-flex flex-column fill-width ml-1">
                                
                                <div class="v-dish-order__title s d-flex align-start fill-width">
                                    <div class="v-dish-order__name-wrapper d-flex fill-width">
                                        <a href="{{ product.get_absolute_url }}" aria-current="page"
                                            class="v-dish-order__name router-link-exact-active router-link-active"
                                            data-id="dish-order-link"> 
                                            {{ line.title }} ({{ line.quantity }} шт.)
                                        </a>
                                    </div>
                                </div>

                                <div class="v-dish-order__toppings d-flex fill-width">
                                    <div class="d-flex flex-wrap" data-id="dish-order-toppings">
                                        <span class="d-flex">{{ line.variants }}</span>
                                        <span class="d-flex">{{ line.options }}</span>
                                        <span class="d-flex">{{ line.additions }}</span>
                                    </div>
                                </div>
                                
                                {% if order.status == "Завершен" %}
                                    {% iffeature "reviews" %}
                                        {% if product|is_review_permitted:user %}
                                            <a class="page__block text--info d-flex shrink pd-0" href="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id %}#addreview">Оценить</a>
                                        {% endif %}
                                    {% endiffeature %}
                                {% endif %}
                            
                                <div role="separator" class="v-spacer"></div>

                                <div class="d-flex fill-width mt-1 pos-relative align-center">

                                    <div role="separator" class="v-spacer"></div>
                                    
                                    <span class="v-prices d-flex flex-column align-start">
                                        <span class="v-prices__price no-wrap">
                                            {{ line.unit_price|currency:order.currency }}
                                        </span>
                                    </span>

                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p>{{ line.description }}</p>
                    {% endif %}
                {% endwith %}
            {% endfor %}
            {% include 'oscar/customer/order/order_totals.html' %}
        </div>

        {% block shipping_info %}
            <div class="v-checkout__datail  pb-2">
                {% if order.shipping_address %}

                    <div class="v-order__subtitle mb-1 mb-sm-2">
                        <h2>Адрес доставки</h2>
                    </div>

                    <address class="v-checkout__detail-text mb-2">
                        {% for field in order.shipping_address.active_address_fields_and_labels %}
                            {{ field.label }}: {{ field.value }}{% if not forloop.last %},{% endif %}
                            <br>
                        {% endfor %}
                    </address>

                    {% if order.shipping_address.notes %}
                        <div class="v-checkout__detail-text mb-1">
                            <span>Инструкции курьеру: </span>
                            <span>{{ order.shipping_address.notes }}</span>
                        </div>
                    {% endif %}

                    {% with order_note=order.client_note %}
                        {% if order_note %}
                            <div class="v-checkout__detail-text mb-2">
                                <span>Коментарий к заказу: </span>
                                <span>{{ order_note }}</span>
                            </div>
                        {% endif %}
                    {% endwith %}

                {% else %}

                    <div class="v-order__subtitle mb-1 mb-sm-2">
                        <h2>Адрес самовывоза</h2>
                    </div>

                    <a href="{% url 'address:pickup-address' %}" class="v-checkout__detail-text mb-2">
                        <address> Красноясрк, ул. 9 Мая 77,
                            <br>
                            ТРЦ "Планета" Фудкорд Mikado
                        </address>
                    </a>

                {% endif %}
            </div>
            <div class="v-checkout__datail">
                <div class="v-order__subtitle mb-1 mb-sm-2">
                    <h2>Телефон для связи</h2>
                </div>

                <div class="mb-2 v-checkout__detail-text">
                    <p>{{ request.user.username }}</p>
                </div>
            </div>
        {% endblock %}

        {% block payment_info %}
            <div class="v-order__subtitle mb-1 mb-sm-2">
                <h2>Оплата</h2>
            </div>

            {% for source in order.sources.all %}
                <div class="v-checkout__detail-text mr-2">
                    <span>Способ оплаты: </span>
                    <span>{{ source.source_type.name }}</span>
                </div>    
                <div class="v-checkout__detail-text mr-2">
                    <span>Сумма: </span>
                    <span>{{ source.amount_allocated|currency:source.currency }}</span>
                </div>   
            
                <div class="v-checkout__detail-text mr-2 mt-1">
                    <span >Статус заказа: </span>
                    <strong><span class="text--info" data-id="payment-status">{{ order.status }}</span></strong>
                </div>  
            {% endfor %}
        {% endblock %}
    </div>
{% endblock tabcontent %}

{% block SVG %}
    <svg style="display: none">
        <symbol id="svg-order-cancel" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill="#b24040" d="M23,12A11,11,0,0,1,1,12a10.827,10.827,0,0,1,.29-2.5,11,11,0,0,1,21.42,0A10.827,10.827,0,0,1,23,12Z"/>
            <ellipse fill="#ce5959" cx="12" cy="9.5" rx="10.71" ry="8.5"/>
            <path fill="#6c2e7c" d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,22A10,10,0,1,1,22,12,10.011,10.011,0,0,1,12,22Z"/>
            <path fill="#6c2e7c" d="M16.707,7.293a1,1,0,0,0-1.414,0L12,10.586,8.707,7.293A1,1,0,1,0,7.293,8.707L10.586,12,7.293,15.293a1,1,0,1,0,1.414,1.414L12,13.414l3.293,3.293a1,1,0,0,0,1.414-1.414L13.414,12l3.293-3.293A1,1,0,0,0,16.707,7.293Z"/>
        </symbol>
        <symbol id="svg-order-pending" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill="#e1ca00" d="M23,12A11,11,0,0,1,1,12a10.827,10.827,0,0,1,.29-2.5,11,11,0,0,1,21.42,0A10.827,10.827,0,0,1,23,12Z"/>
            <ellipse fill="#fe0" cx="12" cy="9.5" rx="10.71" ry="8.5"/>
            <path fill="#cffeff" d="M15,16a1,1,0,0,1-.707-.293l-3-3A1,1,0,0,1,11,12V6a1,1,0,0,1,2,0v5.586l2.707,2.707A1,1,0,0,1,15,16Z"/>
            <path fill="#6c2e7c" d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,22A10,10,0,1,1,22,12,10.011,10.011,0,0,1,12,22Z"/>
            <path fill="#6c2e7c" d="M13,11.586V6a1,1,0,0,0-2,0v6a1,1,0,0,0,.293.707l3,3a1,1,0,0,0,1.414-1.414Z"/>
        </symbol>
        <symbol id="svg-order-success" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill="#56b54e" d="M23,12A11,11,0,0,1,1,12a10.827,10.827,0,0,1,.29-2.5,11,11,0,0,1,21.42,0A10.827,10.827,0,0,1,23,12Z"/>
            <ellipse fill="#60cc5a" cx="12" cy="9.5" rx="10.71" ry="8.5"/>
            <path fill="#6c2e7c" d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,22A10,10,0,1,1,22,12,10.011,10.011,0,0,1,12,22Z"/>
            <path fill="#6c2e7c" d="M16.293,8.293,10,14.586,7.707,12.293a1,1,0,0,0-1.414,1.414l3,3a1,1,0,0,0,1.414,0l7-7a1,1,0,0,0-1.414-1.414Z"/>
        </symbol>
    </svg>
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    {% compress js inline %}
        <script src="{% static "js/profile/profile-links.js" %}" async></script>
    {% endcompress %}
{% endblock %}
