{% load currency_filters %}

{% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %}
        
    <div class="v-order__total_and_discounts d-flex flex-column mt-3">

        {% block discount_totals %}
            {% if order.basket_discounts %}
                <div class="v-prices__price_discounts">

                    <span class="d-flex justify-space-between no-wrap">
                        До скидки
                        <span class="v-prices__price-before">
                            {{ order.basket_total_before_discounts|currency:basket.currency }}
                        </span>
                    </span>

                    {% for discount in order.basket_discounts %}
                        <span class="d-flex justify-space-between no-wrap">
                            <div class="d-flex align-end">
                                <span class="mr-1">
                                    {{ discount.offer_name }}
                                </span>
                                {% if discount.description %}
                                    <br/><small>({{ discount.description }})</small>
                                {% endif %}
                            </div>
                            <span class="v-prices__price-before">
                                - {{ discount.amount|currency:basket.currency }}
                            </span>
                        </span>
                    {% endfor %}

                </div>
            {% endif %}
        {% endblock %}

        <div class="v-order__info-total d-flex align-end total">
            Итого
            <div role="separator" class="v-spacer"></div>
            <span class="v-prices d-flex flex-column align-start v-prices--big">
                <span class="v-prices__price no-wrap">
                    {{ order.basket_total|currency:basket.currency }}
                </span>
            </span>
        </div>
    </div>

{% endwith %}