{% extends 'oscar/dashboard/crm/crm_list.html' %}

{% block title %}
    Точки продаж Эвотор | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Точки продаж Эвотор</li>
        </ol>
    </nav>
{% endblock %}

{% block header %}
    <div class="page-header d-flex justify-content-between align-items-end">
        <h1>Точки продаж Эвотор</h1>
        <div class="d-flex">
            <button type="submit" form="evotor_form" name="update_site" value="True" data-loading-text="Обновление..." class="btn btn-success ml-3">
                <i class="fa-solid fa-download"></i>
                <span>
                    Скачать 
                </span>
            </button>
        </div>
    </div>
{% endblock header %}