{% load image_tags %}

<div id="{{ image_id }}" class="image-input">
  {% if image_url %}
    {% oscar_thumbnail image_url '150x150' upscale=False as thumb %}
    <img src="{{ thumb.url }}" alt="Изображение товара" loading="lazy" />
  {% else %}
    <img alt="Изображение товара" loading="lazy" onload="$('#upload_button_{{ image_id }}').hide();" onerror="$('#upload_button_{{ image_id }}').show(); alert('Неизвестный формат изображения')" />
    <button class="btn btn-secondary" id="upload_button_{{ image_id }}">Загрузить изображение</button>
  {% endif %}
  <div class="input-field">
    {% include 'django/forms/widgets/input.html' %}
  </div>
</div>
