{% load image_tags %}
{% load product_tags %}
{% load svg_tags %}

<div class="collection d-flex fill-width mb-5 mb-md-8">
  <div class="collection__wrapper d-flex flex-column fill-width">
    <div class="collection__banner fill-width shrink px-2">
      <a href="{{ promo_cat.get_absolute_url }}" class="collection__banner-wrapper d-flex fill-width pos-relative" data-id="collection-link" aria-label="{{ promo_cat.get_title }}">
        <div class="image fill-width pos-relative">
          <div class="image__inner" style="padding-bottom: 27%;">
            {% with image=promo_cat.primary_image %}
              {% oscar_thumbnail image.original 'x450' upscale=False as thumb %}
              <img src="{{ thumb.url }}" alt="{{ promo_cat.get_title }}" loading="lazy" class="img-thumbnail w-auto mx-auto my-0" />
            {% endwith %}
          </div>
        </div>
      </a>
    </div>
    <div class="collection__slider d-flex flex-column fill-width">
      <div class="dish-slider fill-width dish-slider--dish-large">
        <div class="home-nav--wrapper content-inside" data-id="slider-action" data-per-page="4">
          <button type="button" class="home-nav--button d-none" data-id="swiper-prev">{% icon file_name='interface/arrow-home' stroke='#000' %}</button>
          <div class="home-nav" data-id="slider-swiper">
            <div class="home-nav--inner swiper-wrapper">
              {% if promo_cat.has_products %}
                {% for product in promo_cat.all_products|slice:':8' %}
                  <div class="home-nav--item swiper-slide">
                    <div class="dish d-flex flex-column card elevation-none grow-1">
                      {% render_product product %}
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
          <button type="button" class="home-nav--button right d-none" data-id="swiper-next">{% icon file_name='interface/arrow-home' stroke='#000' %}</button>
        </div>
      </div>
    </div>
  </div>
</div>
