{% load django_tables2 %}
<div class="d-flex flex-column">
    <div>
        {% if record.wrong_evotor_id %}
            <span class="text-danger">
                <i class="fa-solid fa-circle-xmark"></i>&nbsp; 
            </span>
        {% elif record.is_valid %}
            <span class="text-success">
                <i class="fa-solid fa-circle-check"></i>&nbsp; 
            </span>
        {% elif not record.evotor_id %}
            <span class="text-primary">
                <i class="fa-solid fa-circle-exclamation"></i>&nbsp;
            </span>
        {% else %}
            <span class="text-warning">
                <i class="fa-solid fa-triangle-exclamation"></i>&nbsp; 
            </span>
        {% endif %}
        {% if product_access %}
            <a href="{% url 'dashboard:catalogue-product' pk=record.pk %}{% querystring %}">{{ record.get_title }}</a>
        {% else %}
            <span>{{ record.get_title }}</span>
        {% endif %}
    </div>
    {% if record.is_child %}
        <span class="text-muted small">{{ record.get_variants }}</span>
    {% endif %}
    <span class="text-muted small">Артикул: {{ record.upc|default:"-" }}</span>
</div>
