
{% load category_tags %}
{% load image_tags %}
{% load cache %}

{% cache 1800 tree_categories %}
    {% category_tree as tree_categories %}
    {% if tree_categories %}
        <div class="v-categories d-flex flex-wrap pd-sm-3{% if not is_mobile %} d-sm-none{% endif %}">
            {% for tree_category in tree_categories %} 
                <div class="v-categories__tab-wrapper d-flex align-center">
                    <a href="{{ tree_category.url }}" class="v-categories__tab fill-width pos-relative" data-id="dish-item-image-link">
                        <p class="v-categories__tab-name">{{ tree_category.name }}</p>
                        <div class="v-categories__icon v-dish-image fill-width">
                            <div class="v-images-chunks fill-height pos-relative none-select">
                                <div class="v-image__inner v-image__inner--category">
                                    {% with image=tree_category.primary_image %}
                                        {% oscar_thumbnail image.original "x320" upscale=False as thumb %}
                                        <img src="{{ thumb.url }}" alt="Изображение {{ tree_category.name }}" loading="lazy" class="img-thumbnail w-auto mx-auto my-0">
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endcache %}