{% load image_tags %}
{% load product_tags %}
{% load svg_tags %}

<div class="home__cat-title px-2 mb-2 mb-md-2 d-flex align-center">
    <h2 class="font-medium">{{ promo_cat.title }}</h2>
    <div role="separator" class="v-spacer"></div>
    <a href="{{ promo_cat.get_absolute_url }}" class="home__category-link" data-id="home-categories-link-new"> 
        Смотреть все 
    </a>
</div>

{% comment %}------------- содержимое категории ---------------{% endcomment %}
<div class="pd-2">
    {% if promo_cat.all_products %}
        <div class="v-dishes row">
            {% for product in promo_cat.all_products|slice:":5" %}
                <div class="v-dishes--item col col-6 col-xs-6 col-sm-4 col-md-4 col-lg-5">
                    {% render_product product %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
