{% extends "oscar/layout.html" %}

{% load svg_tags %}
{% load image_tags %}
{% load cache %}

{% block title %}{{ summary }} | {{ block.super }}{% endblock %}
{% block wrapper_class %}actions d-flex flex-column pd-2 pb-4 pb-sm-4 container{% endblock %}
{% block app_class %}app---action{% endblock %}
{% block nav_class %}app__nav--action{% endblock %}
{% block nav_title_center %}{{ summary }}{% endblock %}


{% block breadcrumbs %}
    {% cache 7200 actions_breadcrumbs %}
        <div aria-label="breadcrumb" class="bread d-none d-sm-flex align-center mt-2 mb-3 ">
            <button onclick="getBack(); return false" data-id="back-bread-btn" class="mr-1 pd-0">
                {% icon file_name='interface/arrow-back' size=22 stroke="#111"%}
            </button>
            <a href="{{ homepage_url }}" data-id="back-bread-btn" class="bread__link router-link-active">Главная</a>
            {% icon file_name='interface/arrow-left' size=24 stroke='#999'%}
            <span class="bread__link" aria-current="page">{{ summary }}</span>
        </div>
    {% endcache %}
{% endblock %}

{% block content %}
    {% cache 7200 actions_content %}
        <div class="action__wrapper d-flex flex-column">
            <div class="actions__actions">

                {% if actions %}
                    <div class="d-none d-sm-flex mb-2">
                        <h1>Акции</h1>
                    </div>
                    <div class="row">
                        {% for action in actions %}
                            <div class="actions__actions-col col col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <a href="{{ action.get_absolute_url }}" data-id="action-link">
                                    <div class="actions__actions-action d-flex flex-column fill-height fill-width">
                                        <div class="actions__actions-action-picture fill-width">
                                            <div class="image">
                                                <div class="image__inner" style="padding-bottom: 46%;">
                                                    {% with image=action.primary_image %}
                                                        {% oscar_thumbnail image.original "x450" upscale=False as thumb %}
                                                        <img src="{{ thumb.url }}" alt="{{ action.title }}" loading="lazy" class="img-thumbnail w-auto mx-auto my-0">
                                                    {% endwith %}
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="actions__actions-action-title mt-2">{{ action.title }}</h3>
                                        <div class="short-description short-description--nowrap mt-1">{{ action.description|safe }}</div>
                                    </div>
                                </a>
                            </div> 
                        {% endfor %}           
                    </div>
                {% endif %}

                {% if offers %}
                    <div class="d-none d-sm-flex mt-4">
                        <h1>Спецпредложения</h1>
                    </div>
                    <div class="row mt-2">
                        {% for offer in offers %}
                            {% if offer.is_available %}
                                <div class="actions__actions-col col col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <a href="{{ offer.get_absolute_url }}" data-id="action-link">
                                        <div class="actions__actions-action d-flex flex-column fill-height fill-width">
                                            <div class="actions__actions-action-picture fill-width">
                                                <div class="image">
                                                    <div class="image__inner" style="padding-bottom: 46%;">
                                                        {% with image=offer.primary_image %}
                                                            {% oscar_thumbnail image.original "x450" upscale=False as thumb %}
                                                            <img src="{{ thumb.url }}" alt="{{ offer.name }}" loading="lazy" class="img-thumbnail w-auto mx-auto my-0">
                                                        {% endwith %}
                                                    </div>
                                                </div>
                                            </div>
                                            <h3 class="actions__actions-action-title mt-2">{{ offer.name }}</h3>
                                            <div class="short-description short-description--nowrap mt-1">{{ offer.description|safe }}</div>
                                        </div>
                                    </a>
                                </div> 
                            {% endif %} 
                        {% endfor %}           
                    </div>
                {% endif %}

                {% if not actions and not offers %}
                    <p>На данный момент нет активных акций</p>
                {% endif %}

            </div>
        </div>
    {% endcache %}
{% endblock content %}
    
