{% extends "oscar/layout.html" %}

{% load svg_tags %}
{% load image_tags %}
{% load product_tags %}
{% load static %}
{% load cache %}

{% block title %}{% if summary %}{{ summary }} |{% endif %} {{ block.super }}{% endblock %}
{% block wrapper_class %}actions d-flex flex-column pd-2 pb-sm-4 container pd-0{% endblock %}
{% block app_class %}app---action{% endblock %}
{% block nav_class %}app__nav--action{% endblock %}
{% block nav_title_center %}{{ summary }}{% endblock %}

{% block breadcrumbs %}
    {% cache 600 action_bread action.id %} 
        <div aria-label="breadcrumb" class="bread d-none d-sm-flex align-center mt-2 mb-3 ">
            <button onclick="getBack(); return false" data-id="back-bread-btn" class="mr-1 pd-0">
                {% icon file_name='interface/arrow-back' size=22 stroke="#111"%}
            </button>
            <a href="{{ homepage_url }}" data-id="back-bread-btn" class="bread__link router-link-active">Главная</a>
            {% icon file_name='interface/arrow-left' size=24 stroke='#999'%}
            <a href="{% url 'home:actions' %}" data-id="back-bread-btn" class="bread__link router-link-active">Акции</a>
            {% icon file_name='interface/arrow-left' size=24 stroke='#999'%}
            <span class="bread__link" aria-current="page">{{ summary }}</span>
        </div>
    {% endcache %}
{% endblock %}

{% block content %}
    {% cache 600 action_bread action.id %}             
        <div class="action__wrapper d-flex flex-column">
            <div class="actions__action-detail-header d-flex flex-column align-start">
                {% if action.has_image %}
                    <div class="actions__action-detail-banner shrink mb-2 mb-sm-4">
                        <div class="image">
                            <div class="image__inner image__inner--action">
                                {% with image=action.primary_image %}
                                    {% oscar_thumbnail image.original "x450" upscale=False as thumb %}
                                    <img src="{{ thumb.url }}" alt="{{ tree_category.name }}" loading="lazy" class="img-thumbnail w-auto mx-auto my-0">
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="actions__action-detail-content fill-width d-flex flex-column">
                <h1>{{ action.title }}</h1>
                {% if action.description %}
                    <div class="actions__action-detail-text mt-2">
                        <p>{{ action.description|safe }}</p>
                    </div>
                {% endif %}
            </div>
            
            {% with products=action.all_products %}
                {% if products %}
                    <div class="dishes row fill-width mt-2 mt-sm-4">
                        {% for product in products %}
                            <div class="dishes--item col col-6 col-xs-6 col-sm-4 col-md-4 col-lg-3">
                                {% render_product product %}</li>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div class="d-flex fill-width my-2 mt-sm-4">
                <a class="button button--main mt-md-0" href="{% url 'home:actions' %}">Смотреть все акции</a>
            </div>
        </div>
    {% endcache %}
{% endblock content %}