{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"ru" }}">
    <head>
        <title>{% block title %}{{ shop_name }} | Суши, Роллы, Доставка{% endblock %}</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover,user-scalable=no" />

        {% block favicon %}
            <link rel="shortcut icon" href="{% static "favicon.ico" %}" />
        {% endblock %}

        {# Block where global CSS will go. #}
        {% compress css %}
            {% block styles %}{% endblock %}
            {# Additional CSS - specific to certain pages #}
            {% block extrastyles %}{% endblock %}
        {% endcompress %}

        {% block extrahead %}{% endblock %}

        {% block tracking %}
            {# Default to using Google analytics #}
            {% comment %} {% include "oscar/partials/google_analytics.html" %} {% endcomment %}
        {% endblock %}

    </head>

    <body id="{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}">
        
        {# Scripts loaded from a CDN. #}
        {% block cdn_scripts %}
            <!-- jQuery -->
            <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{% static "js/jquery/jquery.min.js" %}"><\/script>')</script>
            <!-- Cookies -->
            <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js"></script>
            <script>window.Cookies || document.write('<script src="{% static "js/cookie/js-cookie.min.js" %}"><\/script>')</script>
        {% endblock %} 
        
        {# Main content goes in this 'layout' block #}
        {% block layout %}{% endblock %}
        
        {% comment %}------------- мы используем куки ---------------{% endcomment %}
        {% block cookie %}
        {% endblock %}
            
        {# SVG #}
        {% block SVG %}
        {% endblock %}

        {% compress js %}
            {# Local scripts #}
            {% block scripts %}{% endblock %}
        {% endcompress %}
            
        {# External JS scripts #}
        {% block extrascripts %}{% endblock %}
        
        {# Block for body onload functions #}
        <script>$(function() { {% block onbodyload %}{% endblock %} })</script>

    </body>
</html>
