{% extends "oscar/base.html" %}

{% load svg_tags %}
{% load category_tags %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/planet-styles.css" %}" />
{% endblock %}

{% block layout %}
    {% comment %}------------- header + контент + footer (начало) ---------------{% endcomment %}
    <div id="app" class="v-app {% block app_class %}{% endblock %}"> 
        {% comment %}------------- начало хедера ---------------{% endcomment %}
        {% block main_header %}
            
            <header class="v-app__header container py-3">
                <div class="v-app__header-wrapper d-flex align-center py-0 fill-height justify-space-between">
                    {% include 'oscar/includes/header.html' %}
                </div>
            </header>

            <nav class="v-app__nav {% block nav_class %}{% endblock %}"> 
                <div class="v-app-nav d-flex align-center py-0 fill-height">
                                        
                    {% comment %} ------------- кнопка назад --------------- {% endcomment %}
                    <button onclick="getBack(); return false" data-id="back-main-btn" class="v-button v-app-nav__back v-button--small justify-center mx-2 shrink" aria-label="Назад">
                        <span class="v-button__wrapper d-flex">
                            {% icon file_name='interface/arrow-home' size=24 stroke='#000'%}
                        </span>
                    </button>

                    {% comment %} ------------- кнопка корзина --------------- {% endcomment %}
                    <a data-id="nav-basket-btn" class="v-app-nav__button d-none d-sm-flex mr-1" href='{% url 'basket:summary' %}'>
                        <div class="d-flex aling-center mr-1">
                            {% icon file_name='header/cart' size=17 stroke='#fff'%}
                        </div>
                        Корзина
                        <span>&nbsp;&nbsp;|&nbsp;&nbsp;<span data-id="cart-nums">{{ request.basket.num_items }}</span></span>
                    </a>


                    <div class="cats_header fill-height fill-width">
       
                        <div class="v-app-nav__title d-flex d-sm-none text-center">
                            {% block nav_title %}{% endblock %}
                        </div>

                        <ul class="d-flex align-center fill-height">
                            {% category_tree as tree_categories %}
                            {% if tree_categories %}
                                {% for tree_category in tree_categories %}
                                {% comment %}------------- категория item ---------------{% endcomment %} 
                                <li>
                                    <a class="cat_item {% if tree_category.pk == category.pk %} cat_item--active{% endif %} mr-2" href="{{ tree_category.url }}" data-id="categories-tabs-item-hits">
                                    {{ tree_category.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                        
                        <div role="separator" class="v-spacer"></div>

                        {% comment %} ------------- поиск иконка (mobile) --------------- {% endcomment %}
                        <a href="{% url 'search:search-page' %}" data-id="nav-search-icon-button"
                            class="v-button v-app-nav__button--search v-button--small justify-center mr-1 shrink" aria-label="Поиск">
                            <span class="v-button__wrapper d-flex">
                                {% icon file_name='header/search' size=20 fill='#111'%}
                            </span>
                        </a>

                    </div>

                    <div class="v-app-nav__title v-app-nav__title--center d-flex d-sm-none text-center">
                        {% block nav_title_center %}{% endblock %}
                    </div>

                    <div role="separator" class="v-spacer"></div>

                    <button type="button" data-id="modal-open-close" class="v-button v-button--small v-button--empty-cart ml-2 justify-center shrink mr-2">
                        <span class="v-button__wrapper d-flex">
                            {% icon file_name='interface/empty' size=20 stroke="#d32225"%}
                        </span>
                    </button>

                </div> 
            </nav>

        {% endblock main_header %}

        {% comment %}------------- мобильная версия нижняя полоска с иконками меню, корзина и тд. ---------------{% endcomment %}
        {% block app_mobile_sticker %}
            {% include 'oscar/includes/app_mobile_sticker.html' %}
        {% endblock app_mobile_sticker %}

        {% comment %}------------- навигация + основной контент ---------------{% endcomment %}
        <div class="v-app__wrapper">
            <main class="v-app__content">

                {% comment %} карусель {% endcomment %}
                {% block carousel %}{% endblock %}

                {% comment %} категории + контент {% endcomment %}
                <div class="d-flex align-start pd-0 fill-height container">
                    <div class="{% block wrapper_class %}{% endblock %}">

                        {% include "oscar/partials/alert_messages.html" %}

                        {% block breadcrumbs %}{% endblock %}

                        {% block sticky_address %}{% endblock %}
                
                        {% block content %}{% endblock %}
    
                    </div>
                </div>
            </main>

            {% comment %}------------- footer ---------------{% endcomment %}
            {% block main_footer %}
                {% include 'oscar/includes/footer.html' %}
            {% endblock %}

        </div>
    </div>

    {% block auth %}
        <div id="auth_modal" class="d-none"></div>
    {% endblock %}

    {% block cookie %}
        <div id="we_use_cookie"></div>
    {% endblock %}

{% endblock %}

{% comment %} {% compress js preload %} {% endcomment %}
{% block templatescripts %}
    var url_get_cookie = "{% url 'home:cookies' %}";
    var url_auth_api = "{% url 'customer:api-login' %}";
    var url_auth = "{% url 'customer:login' %}";
{% endblock %}

{% block scripts %}
    <script src="{% static "js/auth/auth.js" %}"></script>
    <script src="{% static "js/cookie/cookies/cookie-main.js" %}"></script>
    <script src="{% static "js/footer/footer.js" %}"></script>
{% endblock %}





