{% extends 'oscar/dashboard/layout.html' %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Главная</a></li>
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:partner-list' %}">Персонал</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Удалить точку продажи?</li>
        </ol>
    </nav>
{% endblock %}

{% block navtext %}{{ partner.name }}{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>Удалить точку продажи?</h2>
    </div>
    <form method="post" class="card card-body bg-light">
        {% csrf_token %}
        {{ form }}
            <p>Удалить точку продажи <strong>{{ partner.name }}</strong> - Вы уверены?</p>
            <p>{{ description }}</p>
        <div class="form-actions">
            <button type="submit" class="btn btn-danger" data-loading-text="Удаление...">Удалить</button>
            <a class="btn btn-secondary ml-2"href="{% url 'dashboard:partner-list' %}">Отмена</a>
        </div>
    </form>
{% endblock %}
