{% extends 'oscar/dashboard/layout.html' %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Главная</a></li>
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:delivery-zones' %}">
                    Персонал
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Удалить сотрудника?</li>
        </ol>
    </nav>
{% endblock %}

{% block navtext %}Удаление{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>Удалить сотрудника?</h2>
    </div>
    <form method="post" class="card card-body bg-light">
        {% csrf_token %}
        {{ form }}
            <p>Удалить сотрудника <strong>{{ staff.get_full_name }}</strong> - Вы уверены?</p>
            <p>{{ description }}</p>
        <div class="form-actions">
            <button type="submit" class="btn btn-danger" data-loading-text="Удаление...">Удалить</button>
            <a class="btn btn-secondary ml-2"href="{% url 'dashboard:staff-list' %}">Отмена</a>
        </div>
    </form>
{% endblock %}
