{% extends 'oscar/customer/baseaccountpage.html' %}

{% load svg_tags %}
{% load compress %}
{% load static %}

{% block breadcrumbs %}
  <div aria-label="breadcrumb" class="bread d-none d-sm-flex align-center my-2 mx-md-0">
    <button onclick="getBack(); return false" data-id="back-bread-btn" class="pd-0 mr-1">{% icon file_name='interface/arrow-back' size=22 stroke='#111' %}</button>
    <a href="{{ homepage_url }}" data-id="back-bread-btn" class="bread__link router-link-active">Главная</a>
    {% icon file_name='interface/arrow-left' size=24 stroke='#999' %}
    <a href="{% url 'customer:summary' %}" data-id="back-bread-btn" class="bread__link router-link-active">Личный кабинет</a>
    {% icon file_name='interface/arrow-left' size=24 stroke='#999' %}
    <span class="bread__link" aria-current="page">{{ page_title }}</span>
  </div>
{% endblock %}

{% block tabcontent %}
  <div class="profile-personal__block fill-width d-flex flex-column pd-0 pd-sm-4">
    <div class="order__title d-flex justify-space-between mb-2 align-center">
      <h1>Уведомления</h1>
      <div class="text--info d-flex">
        {% if list_type == 'inbox' %}
          <a href="{% url 'customer:notifications-archive' %}"><h3>Архив</h3></a>
        {% else %}
          <a href="{% url 'customer:notifications-inbox' %}">
            <div class="d-flex">
              <div class="d-flex align-center mr-1">
                <span data-id="notifications-nums" class="notif-badge d-flex justify-center align-center">{{ num_unread_notifications }}</span>
              </div>
              <h3>Непрочитанные</h3>
            </div>
          </a>
        {% endif %}
      </div>
    </div>
    {% if notifications %}
      <form action="{% url 'customer:notifications-update' %}" method="post" class="cabinet-orders fill-width grow-1 mb-2" data-id="profile-notifications-form">
        <div class="cabinet__promo-wrapper fill-width">
          <ul class="orders-list d-flex flex-column fill-width fill-width">
            {% for notification in notifications %}
              <li class="orders-list-item fill-width" data-id="profile-notifications-item">
                <div class="notification-list-item fill-width">
                  <div class="d-flex flex-column fill-width py-3">
                    <div class="d-flex justify-space-between align-start fill-width">
                      <a href="{% url 'customer:notifications-detail' pk=notification.pk %}" class="d-flex flex-column">
                        <div class="d-flex align-center">
                          <div class="notification-list-item__status notification-list-item__status{% if notification.status == 'Canceled' %}--canceled{% elif notification.status == 'Success' %}--success{% elif notification.status == 'Warning' %}--warning{% else %}--info{% endif %} mr-1"></div>
                          <span class="orders-list-item__title">{{ notification.subject|safe }}</span>
                        </div>
                        {% if notification.description %}
                          <span class="orders-list-item__details mt-1">{{ notification.description|safe }}</span>
                        {% endif %}
                      </a>
                      {% if list_type == 'inbox' %}
                        <button type="button" data-id="notification-btn" class="pr-0 pt-0 pl-1 pb-1" data-behaviours="archive" data-notification="{{ notification.id }}">{% icon file_name='interface/close' size=22 stroke='#c50000' %}</button>
                      {% else %}
                        <button type="button" data-id="notification-btn" class="pr-0 pt-0 pl-1 pb-1" data-behaviours="delete" data-notification="{{ notification.id }}">{% icon file_name='interface/empty' size=20 stroke='#c50000' %}</button>
                      {% endif %}
                    </div>
                    <div class="d-flex justify-space-between align-start fill-width pt-2">
                      <div class="orders-list-item__status d-flex align-center"></div>
                      <span class="orders-list-item__date text--grey">{{ notification.date_sent }}</span>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </form>
      <p data-id="notification-empty"></p>
      {% include 'oscar/partials/pagination.html' %}
    {% else %}
      <p>Список уведолений пуст</p>
    {% endif %}
  </div>
{% endblock %}
