{% load basket_tags %}

{% if session.availability.is_available_to_buy %}
    <form id="add-to-cart-form" action="{% url 'basket:add' slug=product.slug  %}" method="post">
        {% basket_form request product as basket_form %}
        <div class="dish-actions fill-width d-flex flex-column">
            {% if product.is_parent %}
                {% include "oscar/catalogue/partials/variants.html" with form=basket_form %}
            {% endif %}
            {% if product.has_options %}
                {% include "oscar/catalogue/partials/options.html" with form=basket_form %}
            {% endif %}
            {% if basket_form.has_additions %}
                {% include "oscar/catalogue/partials/additinal_products.html" with form=basket_form currency_symbol=currency_symbol %}
            {% endif %}
        </div>
    </form>              
{% endif %}
