<div class="mt-1 mb-2">
  {% for field in form %}
    {% if field.field.widget.attrs.variant %}
      {% if field.is_hidden %}
        {{ field }}
      {% else %}
        <div class="mt-2">
          <span>{{ field.field.label }}</span>
        </div>
        <div class="d-flex mt-1" data-id="tab-variants">
          <div class="tabs-button d-flex fill">
            {% block errors %}
              {% for error in field.errors %}
                <span class="error-block"><i class="fas fa-exclamation"></i> {{ error }}</span>
              {% endfor %}
            {% endblock %}
            {% if field.field.choices %}
              <div data-id="variant-active-block" class="tabs-button__active-block" style="width: calc(100% / {{ field.field.choices|length }}); left: {{ field.field.widget.attrs.left }};">
                <div class="fill-width fill-height"></div>
              </div>
            {% endif %}
            {% for value in field.field.choices %}
              <label data-id="variant-label" data-variant="{{ field.name }}" for="child_id_{{ value.0 }}" class="label tabs-button__button{% if field.field.initial == value.0 %} active{% endif %}">
                {{ value.1 }}
                <input value="{{ value.0 }}" {% if field.field.initial == value.0 %}checked{% endif %} style="display: none;" id="child_id_{{ value.0 }}" 
                type="radio" name="child_id_{{ value.0 }}" value="{{ value.0 }}">
              </label>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
