{% extends 'oscar/dashboard/crm/crm_list.html' %}

{% load widget_tweaks %}

{% block title %}
  Товары Эвотор | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:index' %}">Главная</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Товары Эвотор</li>
    </ol>
  </nav>
{% endblock %}

{% block header %}
  <div class="page-header d-flex justify-content-between align-items-end">
    <div class="d-flex flex-wrap justify-content-start store-select">
      <h1 class="mr-2">Товары Эвотор</h1>
      <form method="get" class="btn d-flex align-items-center no-widget-init" id="store_form">
        <i class="fa-solid fa-store mx-1"></i>
        {% for field in form %}
          {% render_field field class='store-point' %}
          {% for error in field.errors %}
            <ul class="error-block">
              <li>{{ error }}</li>
            </ul>
          {% endfor %}
        {% endfor %}
      </form>
    </div>
    <div class="d-flex ml-2">
      <button type="submit" form="evotor_form" name="update_site" value="True" data-loading-text="Скачивание..." class="btn btn-success">
        <i class="fa-solid fa-download"></i>
        <span>Скачать</span>
      </button>
      <button type="submit" form="evotor_form" name="update_evotor" value="True" data-loading-text="Отправка..." class="btn btn-primary ml-2">
        <i class="fa-solid fa-cloud-arrow-up"></i>
        <span>Отправить</span>
      </button>
    </div>
  </div>
  <div class="modal fade" id="product-image-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body text-center">
          <img class="img-fluid mx-auto" loading="lazy" />
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block update_evotor %}
  <h2 class="my-3">Отправить выбранные в Эвотор</h2>
  <p class="mb-3">Данные позиции будут отправлены из базы данных сайта в систему Эвотор</p>
  <div class="form-inline fill-width justify-space-between">
    <div class="btn-form d-flex my-2">
      <button type="submit" name="update_evotor" value="False" class="btn btn-success mr-2" data-loading-text="Удаление...">Отправить</button>
    </div>
  </div>
{% endblock %}

{% block onbodyload %}
  {{ block.super }}
  oscar.dashboard.thumbnails.init();
{% endblock %}
