{% extends 'oscar/dashboard/layout.html' %}

{% load render_table from django_tables2 %}
{% load currency_filters %}
{% load dashboard_tags %}
{% load static %}

{% block body_class %}
  {{ block.super }} payment-detail
{% endblock %}

{% block title %}
  {{ title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:index' %}">Панель управления</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:payments-list' %}">Платежи</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
  </nav>
{% endblock %}

{% block header %}
  <div class="page-header d-flex flex-column justify-content-start">
    <h1>{{ title }}</h1>
    <p class="d-flex align-items-end mt-2 mb-0 text-muted">Платеж №{{ payment.id }}</p>
  </div>
{% endblock %}

{% block dashboard_content %}
  {% payment_date payment.created_at as date %}
  {% payment_order payment.description as number %}
  <div class="mobile-table">
    <div class="table-container">
      <table class="table table-bordered table-hover">
        <caption>
          <i class="fas fa-payments"></i>Информация о платеже
        </caption>
        <thead>
          <tr>
            <th class="order">Заказ</th>
            <th class="customer">Клиент</th>
            <th class="amount">Сумма</th>
            <th class="status">Статус</th>
            <th class="refund">Возможен возврат</th>
            <th class="date">Дата создания</th>
            <th class="actions">Возврат</th>
          </tr>
        </thead>
        <tbody>
          <tr class="mobile-open pt-0">
            <td class="title" data-label="Заказ">
              <div class="d-flex align-items-center">
                <span class="spinner-border-sm {% if payment.paid and payment.refundable %}
                    badge-success
                  {% else %}
                    badge-danger
                  {% endif %} rounded-circle mr-2">
                  &nbsp;
                </span>
                <a href="{% url 'dashboard:order-detail' number=number %}">{{ payment.description }}</a>
              </div>
            </td>
            <td class="user" data-label="Клиент">
              <a href="{% url 'dashboard:user-detail' pk=user.id %}">{{ user.get_full_name|default:user.username }}</a>
            </td>
            <td class="amount" data-label="Сумма">{{ payment.amount.value|currency }}</td>
            <td class="status" data-label="Статус">
              {% if payment.status == 'succeeded' %}
                <span class="badge badge-success">Оплачено</span>
              {% elif payment.status == 'canceled' %}
                <span class="badge badge-danger">Не Оплачено</span>
              {% elif payment.status == 'pending' %}
                <span class="badge badge-pending">Обрабатывается</span>
              {% elif payment.status == 'waiting_for_capture' %}
                <span class="badge badge-warning">Требует действия</span>
              {% endif %}
            </td>
            <td class="refund" data-label="Возврат возможен">{{ payment.refundable|yesno:'✔️,❌' }}</td>
            <td class="date" data-label="Дата">{{ date }}</td>
            <td class="refund" data-label="Возврат">
              {% if payment.status == 'succeeded' and payment.refundable %}
                <a class="badge badge-danger" href="{% url 'dashboard:refund-transaction' code=payment.id %}">Оформить возврат</a>
              {% elif payment.status == 'succeeded' and not payment.refundable %}
                <span>Возвращено: {{ payment.refunded_amount.value|currency }}</span>
              {% else %}
                <span class="text-danger">Возврат невозможен</span>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
