{% load i18n %}
{% load widget_tweaks %}

{% if form.is_bound and not form.is_valid %}
    <div class="alert alert-danger">
        <strong>{% trans "Oops! We found some errors" %}</strong> - {% trans "please check the error messages below and try again" %}
    </div>
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <i class="fas fa-exclamation"></i> {{ error }}
        </div>
    {% endfor %}
{% endif %}


{% for field in form %}

    {% if field.is_hidden %}
        {{ field }}
    {% elif not field.field.widget.attrs.no_show %}

        {% block control_group %}
            <div class="form-group{% if style == "horizontal" %} row{% endif %}">

                {% block label %}
                    {% if not nolabel %}
                        <label for="{{ field.auto_id }}" class="{% if style|default:"stacked" != 'stacked' %}col-sm-4{% endif %} col-form-label{% if field.field.required %} required{% endif %}">
                            {{ field.label|safe }}
                        </label>
                    {% endif %}
                {% endblock %}

                {% block controls %}
                    <div class="{% if style|default:"stacked" != 'stacked' %}col-sm-7{% endif %}{% if field.widget_type == 'checkbox' %} form-check{% endif %}">
                        {% block widget %}
                            {% if field.name == "line1" %}
                            <div style="position: relative;">
                                {% render_field field class+="form-control" %}
                                <button id="clean_address" type="button" style="position: absolute; right: 10px; top: 5px;">X</button>
                                <button id="open_map" type="button" style="position: absolute; right: 40px; top: 5px;">M</button>
                            </div>
                                <span id="line1_hints"></span>
                            {% else %}
                                {% render_field field class+="form-control" %}
                            {% endif %}
                        {% endblock %}

                        {% block errors %}
                            {% for error in field.errors %}
                                <span class="error-block"><i class="fas fa-exclamation"></i> {{ error }}</span>
                            {% endfor %}
                        {% endblock %}

                        {% block help_text %}
                            {% if field.help_text %}
                                <small class="form-text text-muted">
                                    {# We allow HTML within form help fields #}
                                    {{ field.help_text|safe }}
                                </small>
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    {% endif %}

{% endfor %}


