{% load display_tags %}
{% load svg_tags %}

{% if paginator.num_pages > 1 %}
    <nav class="d-flex fill-width justify-center mt-2">
        {% if page_obj.has_previous %}
            <div class="d-flex align-center">
                <a class="px-2" href="?{% get_parameters 'page' %}page={{ page_obj.previous_page_number }}" tabindex="-1">
                    {% icon file_name='interface/arrow-left' size=28 stroke="#222"%}
                </a>
            </div>
        {% endif %}
        <div class="d-flex align-center">
            <span class="page-link">
                Страница {{ page_obj.number }} из {{ paginator.num_pages }}
            </span>
        </div>
        {% if page_obj.has_next %}
            <div class="d-flex align-center">
                <a class="px-2" href="?{% get_parameters 'page' %}page={{ page_obj.next_page_number }}">
                    {% icon file_name='interface/arrow-right' size=28 stroke="#222"%}
                </a>
            </div>
        {% endif %}
    </nav>
{% endif %}
