{% load widget_tweaks %}
{% load svg_tags %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% block widget %}
        {% if field.name == "line1" %}
            {% render_field field data-id=data_id class="v-delivery--line1" autocomplete="off" %}
            <button type="button" id="open_map" data-id="delivery-map-button" class="v-delivery--map shrink d-flex align-center justify-center" style="width: 55px;">
                {% icon file_name='map/location-arrow' size=22 stroke="#0a834f" %}
            </button>

            <div role="separator" class="v-spacer" style="border: solid 1px #c8c8c8; margin: 10px 0;"></div>

            <button type="button" id="clean_address" data-id="delivery-clear-button" class="v-delivery--clear shrink d-flex align-center justify-center" style="width: 55px;">
                {% icon file_name='interface/close' size=22 stroke="#d32225"%}
            </button>
        {% else %}
            {% if form_id %}
                {% render_field field data-id=data_id form=form_id %}
            {% else %}
                {% render_field field data-id=data_id %}
            {% endif %}
        {% endif %}
    {% endblock %}
{% endif %}

