{% load svg_tags %}
<div class="v-auth-modal pos-fixed d-flex align-center justify-center" data-id="modal-close">
    <div class="v-auth-modal__content scrollbar px-2 pt-6 pd-sm-4">

        <button onclick="openPartnerModal()" data-id="close-auth-modal" class="v-button v-app-header__back v-button--small justify-center shrink d-block d-sm-none" style="top: -38px;">
            <span class="v-button__wrapper">
                <span class="d-flex">
                    {% icon file_name='interface/arrow-home' size=24 stroke='#000'%}
                </span>
            </span>
        </button>

        <div class="d-flex flex-column align-center justify-center align-sm-start mb-3 mb-sm-2">
            <header class="fill-width d-flex justify-sm-space-between">
                <div class="v-auth-modal__title">Адрес</div>
                <div class="d-none d-sm-flex">
                    <button data-id="close-button" onclick="openPartnerModal()"
                        class="v-close-button d-flex justify-center align-center">
                        {% icon file_name='interface/close' size=24 stroke="#111"%}
                    </button>
                </div>
            </header>
            {% comment %} <p class="v-auth-modal__message mt-1 mt-sm-2"> Выбирете точку </p> {% endcomment %}
        </div>


        <div class="v-auth flex flex-column text-start">
            <form id="auth_form" action="{{ request.get_full_path }}" method="post" class="card card-body bg-light">
                {% csrf_token %}

                {% comment %} поля {% endcomment %}
                {% include "oscar/partials/render_field.html" with field=partner_form.partner_id %}

            </form>    
        </div>
    </div>
</div>