{% extends 'webshop/layout.html' %}

{% load category_tags %}
{% load product_tags %}
{% load svg_tags %}
{% load static %}

{% block app_class %}
  app---category
{% endblock %}

{% block nav_class %}
  app__nav--category
{% endblock %}

{% block wrapper_class %}
  menu fill-width fill-height grow-1 pd-2 pb-sm-4
{% endblock %}

{% block breadcrumbs %}
  <div aria-label="breadcrumb" class="bread d-none d-sm-flex align-center mt-2 mb-3">
    <button onclick="getBack(); return false" data-id="back-bread-btn" class="mr-1 pd-0">{% icon file_name='interface/arrow-back' size=22 stroke='#111' %}</button>
    <a href="{{ homepage_url }}" data-id="back-bread-btn" class="bread__link router-link-active">Главная</a>
    {% icon file_name='interface/arrow-left' size=24 stroke='#999' %}
    <span class="bread__link" aria-current="page">{{ page_title }}</span>
  </div>
{% endblock %}

{% block content %}
  <div class="menu__wrapper d-flex flex-column">
    <h1 class="d-none d-sm-flex px-2 mb-2">{{ page_title }}</h1>
    <div class="pxv-2">
      {% if products %}
        <div class="dishes row">
          {% for product in products %}
            <div class="dishes--item col col-6 col-xs-6 col-sm-4 col-md-4 col-lg-3">
              {% render_product product.object %}
            </div>
          {% endfor %}
        </div>
        {% include 'webshop/partials/pagination.html' %}
      {% else %}
        <p class="py-2">Ничего не найдено</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
