{% extends "oscar/layout.html" %}

{% load currency_filters %}
{% load static %}
{% load image_tags %}
{% load svg_tags %}

{% block title %}Оформление заказа | {{ block.super }}{% endblock %}

{% block nav_title %}Оформление заказа{% endblock %}
{% block nav_title_center %}Оформление заказа{% endblock %}

{% block wrapper_class %}checkout fill-width pd-2 pb-sm-4 pt-sm-2 checkout__container{% endblock %}

{% block app_class %}v-app---checkout{% endblock %}
{% block nav_class %}v-app__nav--checkout{% endblock %}

{% block breadcrumbs %}
    {% comment %} <div aria-label="breadcrumb" class="v-bread d-none d-sm-flex align-center mt-2 mb-3 mx-md-0"> {% endcomment %}
    <div aria-label="breadcrumb" class="v-bread d-none d-sm-flex align-center mt-2 mb-1 mx-md-0">
        <button onclick="getBack(); return false" data-id="back-bread-btn" class="pd-0 mr-1">
            {% icon file_name='interface/arrow-back' size=22 stroke="#111"%}
        </button>
        <a href="{{ homepage_url }}" data-id="back-bread-btn" class="v-bread__link router-link-active">Главная</a>
        {% icon file_name='interface/arrow-left' size=24 stroke="#999"%}
        <a href="{% url 'basket:summary' %}" data-id="back-bread-btn" class="v-bread__link router-link-active">Корзина</a>
        {% icon file_name='interface/arrow-left' size=24 stroke="#999"%}
        <span class="v-bread__link" aria-current="page">Оформление заказа</span>
    </div>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/air-datepicker.css" %}" />
{% endblock %}

{% block content %}
    <div class="d-flex flex-column">
        <div class="v-order d-flex flex-column flex-md-row align-md-start">

            {% block chekout_form %}{% endblock chekout_form %}

            <div class="v-order__info ml-md-4">
                <div class="v-order__info-wrapper pt-4">
            
                    <p class="v-order__title d-none d-md-block mb-4"> Ваш заказ </p>
            
                    <div class="v-order__subtitle d-md-none mb-1 mb-sm-2">
                        <h2>Ваш заказ</h2>
                    </div>
            
                    {% comment %} promocode {% endcomment %}
                    <div class="v-promo mb-3 mb-sm-4">
                        <form class="v-promo__input-wrapper d-flex align-center g-2" id="voucher_form" action="{% url 'checkout:vouchers-add' %}" method="post">
                            <div data-id="v-input-field" class="v-input d-flex align-center fill-width v-input__padding{% if voucher_form.initial.code %} v-input__label-active{% endif %}">
                                <div class="v-input__wrapper">
                                    <div class="v-input__label">Введите промокод</div>
                                    <div id="voucher_form_container" class="v-input__control d-flex align-center">
                                        {% if voucher_form %}
                                            {% csrf_token %}
                                            {% include "oscar/partials/render_field.html" with field=voucher_form.code data_id="voucher-input-code" %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <button type="submit" id="voucher_btn" disabled="disabled" data-id="promo-submit-btn" class="v-button fill-width v-button--main v-button--second justify-center shrink">
                                <span class="v-button__wrapper">
                                    <span class="v-button__value"> Применить </span>
                                </span>
                            </button>
                        </form>
                    </div>

                    <span id="voucher_message" class="info-message"></span>

                    {% comment %} состав заказа {% endcomment %}
                    {% block order_contents %}
                        <div class="v-order-checkout__items">
                            {% for line in basket.all_lines %}
                                <span>{{ line.product.get_title }} ({{ line.quantity }}){% if not forloop.last %},{% endif %}</span>
                            {% endfor %}
                        </div>
                    {% endblock order_contents %}

            
                    {% comment %} totals {% endcomment %}
                    <div id="checkout_totals">
                        {% include 'oscar/checkout/checkout_totals.html' with editable=True %}
                    </div>

                    {% comment %} ошибки и валидация {% endcomment %}
                    <div class="v-error-list d-flex flex-column mt-2 v-error-list--frame d-none" data-id="checkout-error-list">
                        <div class="d-flex flex-column fill-width">
                            <span data-error="address" class="v-error-list__error d-flex fill-width d-none">Укажите адрес доставки</span>
                            <span data-error="flat" class="v-error-list__error d-flex fill-width d-none">Укажите номер квартиры</span>
                            <span data-error="enter" class="v-error-list__error d-flex fill-width d-none">Укажите подъезд</span>
                            <span data-error="floor" class="v-error-list__error d-flex fill-width d-none">Укажите этаж</span>
                            <span data-error="amount" class="v-error-list__error d-flex fill-width d-none">Минимальная сумма заказа для доставки {{ min_order.money }} ₽</span>
                        </div>
                    </div>


                    {% comment %} кнопка подтверждения {% endcomment %}       
                    <div class="mt-3">
                        <button id="submit_order" disabled form="place_order_form" type="submit" data-test-id="order-submit-btn" class="v-button fill-width v-button--main button-order justify-center shrink">
                            <span class="v-button__wrapper">
                                <span class="v-button__value"> 
                                    Оформить заказ
                                </span>
                            </span>
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
    <script>
        var csrf_token = "{{ csrf_token }}";
        var url_voucher = "{% url 'checkout:vouchers-add' %}";
        var url_update_totals = "{% url 'checkout:update-totals' %}";
        var url_time = "{% url 'delivery:delivery-now' %}";
        var url_delivery_later = "{% url 'delivery:delivery-later' %}";
        var url_delivery_zones = "{% url 'delivery:delivery-zones' %}";
    </script>
    <script type="application/javascript" src="{% static "js/datetimepicker/air-datepicker.js" %}"></script>
    {% comment %} <script type="application/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=27bbbf17-40e2-4c01-a257-9b145870aa2a&suggest_apikey=a95e9492-342c-4d78-a53c-c7e78f0570ec&lang=ru_RU"></script> {% endcomment %}
    {% comment %} <script type="application/javascript" src="{% static "js/delivery/delivery.js" %}"></script> {% endcomment %}
    <script type="application/javascript" src="{% static "js/delivery/delivery-2gis.js" %}"></script>
    <script type="application/javascript" src="{% static "js/checkout/checkout-main.js" %}"></script>
    <script type="application/javascript" src="{% static "js/datetimepicker/order-timepicker.js" %}"></script>
    <script type="application/javascript" src="{% static "js/checkout/voucher.js" %}"></script>
    <script type="application/javascript" src="{% static "js/checkout/cookie-checkout.js" %}"></script>
{% endblock %}

