{% load django_tables2 %}

<p>
{% with name=product.name parent_name=product.parent.name %}
    {% if product.is_child %}

        {% if creating %}
            {% if product.name %}
                Создан вариант '{{ name }}'.
            {% else %}
                Создан вариант продукта '{{ parent_name }}'.
            {% endif %}
        {% else %}
            {% if product.name %}
                Вариант '{{ name }}' обновлен.
            {% else %}
                Вариант продукта '{{ parent_name }}' обновлен.
            {% endif %}
        {% endif %}

    {% else %}

        {% if creating %}
            Создан продукт '{{ name }}'.
        {% else %}
            Продукт '{{ name }}' обновлен.
        {% endif %}

    {% endif %}
{% endwith %}
</p>
<p>
    <a href="{{ product.get_absolute_url }}" class="btn btn-info mb-1 mr-1">Смотреть на сайте</a>
    <a href="{% url 'dashboard:catalogue-product' pk=product.pk %}{% querystring %}" class="btn btn-success mb-1">Редактировать снова</a>
</p>
