{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}
{% load currency_filters %}

{% block body_class %}{{ block.super }} users{% endblock %}

{% block title %}
    {% trans "Product alerts" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Product alerts" %}</li>
        </ol>
    </nav>
{% endblock %}

{% block navtext %}
    <h1>{% trans "Product alerts" %}</h1>
{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h3><i class="fas fa-search"></i> {% trans "Search product alerts" %}</h3>
    </div>
    <div class="card card-body">
        <form method="get" class="form-inline">
            {% include "oscar/dashboard/partials/form_fields_inline.html" with form=form %}
            <button type="submit" class="btn btn-primary mr-2" data-loading-text="{% trans 'Searching...' %}">{% trans "Search" %}</button>
        </form>
    </div>

    <div class="table-header">
        <h2><i class="fas fa-users"></i> {{ queryset_description }}</h2>
    </div>

{% endblock dashboard_content %}
